+b('bigtabs') {
  +e('main') {
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(222, 222, 222, 0.5);
    background-color: #ffffff;
    border: solid 1px #f0f0f0;
  }

  +e('tabs') {
    flex-shrink: 0;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(222, 222, 222, 0.5);
    background-color: #ffffff;
    border: solid 1px #f0f0f0;
  }

  +e('tab') {
    font-size: 14px;
    font-weight: 400;
    color: #585858;
    height: 100%;
    flex: 1;
    border: solid 1px #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: darken(white, 2.5%);
    }

    &.router-link-active {
      color: white;
      background-color: #159bb3;
      border: solid 1px #159bb3;

      .bigtabs-tab__number {
        color: white;
      }
    }

    +m('number') {
      font-size: 36px;
      color: #159bb3;
    }
  }

  +e('content') {
    margin: 20px 0;
    padding: 25px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(222, 222, 222, 0.5);
    background-color: #ffffff;
    border: solid 1px #f0f0f0;
    flex: 1;
    overflow-y: auto;
  }
}