<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-if="flag">
            {{name}}
        </div>
        <div v-else>
            {{name2}}
        </div>
        <input v-model='name'>
        <button @click='change'>change</button>
        <button @click='toggle'>toggle</button>
    </div>
</body>
<script src="./vue.js"></script>
<script>
    // 数据与视图的分离，解耦（开放封闭原则）
    var vm = new Vue({
        el: '#app',
        // render(createElement) {
        //     return createElement('div', {
        //         attrs: {
        //             id: 'app'
        //         }
        //     }, this.age)
        // },
        props: {
            age: {
                type: Number,
                default: 22
            }
        },
        data() {
            return {
                flag: true,
                name: '飞飞',
                name2: '芳芳'
            }
        },
        mounted() {
            console.log(this)
        },
        methods: {
            change() {
                this.name = '飞飞01';
            },
            toggle() {

            }
        }
    })

</script>

</html>