.en {
    .tableRowClassName{
        .boxList{
            border-radius:4px 4px 0px 0px;
            padding-left:30px;
            padding-right:30px;
            height:32px;
            line-height: 32px;
            background:#EAEAEA;
            border-radius:4px 4px 0px 0px;
            color: #606266;
            font-size: 12px;
            position: relative;
            margin-top:16px;
            .posRight{
                position: absolute;
                top: 0;
                height: 100%;
                right:30px;
                width: 100px;
            }
        }
        .customerTable{
            .customerList{
                >:last-child{
                    border-bottom:0;
                }
                .customerItem{
                    background: white;
                    padding:19px 30px 18px 30px;
                    border-bottom:1px solid rgba(234,237,239,1);
                    font-size: 12px;
                    position:relative;
                    .cover{
                        position: absolute;
                        left: -10px;
                        top: -2px;
                        width: 0;
                        height: 0;
                        border-width: 0 16px 16px;
                        border-style:solid;
                        border-color:transparent transparent rgba(208,2,27,1);/*透明 透明  灰*/
                        transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        .coverName{
                            display: inline-block;
                            width: 30px;
                            height: 16px;
                            position: absolute;
                            left: -15px;
                            top: 1px;
                            font-size: 12px;
                            text-align: center;
                            color: white;
                            transform: scale(0.6);
                            -o-transform: scale(0.6);
                            -webkit-transform: scale(0.6);
                            -moz-transform: scale(0.6);
                        }
                    }
                    .starBox{
                        position: absolute;
                        left: 9px;
                        top: -1px;
                        width:16px;
                        height:16px;
                        text-align: center;
                        line-height: 16px;
                        color: rgba(208,2,27,1);
                        font-size: 12px;
                    }
                    .listCheckNone1,.listCheckNone,.listChecks{
                        position:absolute;
                        top:19px;
                        left:10px;
                    }
                    .listCheckNone1,.listChecks{
                        display: inline-block;
                    }
                    .listCheckNone{
                        display: none;
                    }
                    .listCheck{
                        display: none;
                    }
                    .customerInfo{
                        height: 17px;
                        color: RGBA(34, 34, 34, 1);
                        .el-dropdown-menu__item {
                                line-height: 30px;
                                height: 30px;
                        }
                        .listMenu{
                            display: none;
                        }
                        .toCustomerDetai{
                            display: none;
                        }
                    }
                    .listTimes3{
                        position:absolute;
                        top:8px;
                        right:18px;
                        width: 177px;
                        display: none;
                    }
                    .listTimes{
                        position:absolute;
                        top:10px;
                        right:20px;
                        width: 70px;
                    }
                    .listControl{
                        width: 130px;
                        display: none;
                        color: #cdcdcd;
                        .hover{
                            cursor: pointer;
                        }
                    }
                }
                .customerItem:hover{
                    background:#FAFAFA;
                    .listTime,.listTimes,.listTimes1,.listTimes2{
                        display: none;
                    }
                    .listControl,.listTimes3{
                        display: inline-block;
                    }
                    .toCustomerDetai{
                        display: inline-block;
                    }
                    .listCheck{
                        display: inline-block;
                    }
                    .listMenu{
                        display: inline-block;
                    }
                    .listCheckNone{
                        display: inline-block;
                    }
                    .listCheckNone1{
                        display: none;
                    }
                }

            }
        }
    }
}
