
.zh-cn,
.zh-tw {
    .seasSet{
        min-height: 500px;
        .seasSetBox{
            padding: 0 32px;
            .formBox1{
                border-bottom: 1px dashed rgba(238,238,238,1);
            }
            .formBox{
                padding:15px 0;
                .formItemBox{
                    padding-left:111px;
                    position: relative;
                    height: 32px;
                    line-height:32px;
                    margin-bottom:25px;
                    color:rgba(144,147,153,1);
                    font-size:14px;
                    
                    .timePadding{
                        margin: 0 13px;
                    }
                    .formItemTitle{
                        position: absolute;
                        left: 0;
                        width: 111px;
                    }
                }
                .useFlag{
                    font-size:14px;
                    
                    color:rgba(48,49,51,1);
                    margin-bottom:26px;
                    .useFlagBut{
                        margin-right:10px;
                    }
                }
            }
        } 
        .popupNotice {
            font-size:12px;
            
            color:rgba(144,147,153,1);
            height: 17px;
            line-height: 17px;
            .star{
                color: RGBA(208, 2, 27, 1);
            }
            >div {
                padding-left: 28px;
            }
        }
        .popupNotice1{
            margin-top: 12px;
            padding-left:32px;
        }
        
        .popupNotice2{
            // border: 1px solid red;
            margin-top: 6px;
            padding-left:56px;
            margin-bottom: 15px;
        }
    }
}