.zh-cn,
.zh-tw {
    .Receivables{
        min-height: 80px;
        padding-bottom: 20px;
        .contactTitle{
            height: 40px;
            line-height: 40px;
            padding-left:16px;
            color: black;
            font-weight: bold;
            background: #FAFAFA;
        }
        .miniButton{
            color:#D0021B;
            border-color:#D0021B;
            margin:0 13px 0 16px;
            padding: 6px 12px;
        }
        .ReceivablesBox{
            margin-top: 16px;
            padding: 0 16px;
            font-size: 12px;
            color: #222222;
            .lstTit{
                height: 40px;
                padding: 0 16px;
                line-height: 40px;
                background: #F7F8F9;
            }
            .list{
                height: 40px;
                line-height: 40px;
                border-bottom: 1px solid #EAEAEA;
                position: relative;
                padding: 0 16px;
                .optBox{
                    height: 30px;
                    line-height: 30px;
                    display: none;
                    .iBox {
                        color: #909399;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                &:hover{
                    background: #FAFAFA;
                    .optBox{
                        display: inline-block;
                        color: #D0021B;
                    }
                }
            }
        }
    }
}