.createsecond {
    padding: 20px;
    .el-select {
        width: 300px;
    }
    .choiceTips {
        position: absolute;
        top: 8px;
        left: 430px;
        color: #909399;
    }
    .selectWrap {
        display: flex;
        position: relative;
        padding-bottom: 20px;
        .el-input__inner {
            height: 36px !important;
        }
        .leftTitle {
            width: 100px;
            line-height: 32px;
            height: 32px;
        }
        .rightTabbox {
            width: 550px;
            .tabBody {
                margin-top: 15px;
                .checkBoxHeader {
                    width: 100%;
                    background: #EFF2F4;
                    color: #606266;
                    height: 40px;
                    line-height: 40px;
                }
                .titlespan {
                    display: block;
                    text-align: center;
                    .checkboxText {
                        display: none !important
                    }
                }
                .checkBoxBody {
                    height: 40px;
                    line-height: 40px;
                }

            }
        }
    }
}
.chartChoice {
    margin-top: 20px;
    overflow: hidden;
    .chartModel {
        float: left;
        margin-top: 8px;
        .el-select {
            width: 130px;
        }
    }
}
.chartBox {
    width: 100% !important;
}
.selectBoxWrap {
    position: relative;
    .erectLine {
        display: block;
        height: 82px;
        width: 1px;
        background: #DFE2E4;
        position: absolute;
        top: 45px;
    }
    .selectBox {
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
        .selectBoxitem {
            width: 200px;
            float: left;
            margin-right: 30px;
            .selectBox-title {
                display: block;
                height: 30px;
                line-height: 30px;
            }
            .el-select {
                width: 100% !important;
            }
        }
        .line {
            display: block;
            height: 1px;
            width: 450px;
            background: #DFE2E4;
            position: absolute;
            top: 45px;
        }
    }
}
.chartSpecies {
    float: left;
    width: 50px;
    margin-right: 20px;
    img {
        width: 100%;
    }
}
.areaH {
    height: 100%;
}