@import '~Less/vw';
@import '~Less/base';
@import '~Components/dialog/index.less';
@import '~Components/toast/index.less';
@import '~Components/labelShow/index.less';
@import './less/mixins';
@import './less/public';
@import './less/animated-show';

@list-primary-height: .8rem;

@font-face {
  font-family: 'HYZhengYuan-85W';
  src: url("@{res-font-url}HYZhengYuan-85W.woff2") format('woff2'),
  url("@{res-font-url}HYZhengYuan-85W.woff") format('woff');
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button {
  border: none;
  outline: none !important;
  background-color: transparent;
}

// 复选框
.icheckCheckbox {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  margin-right: .1rem;
  border: .03rem solid #333333;
  border-radius: .4rem;
  vertical-align: middle;

  &.checked {
    .icheckCheckbox-inner {
      background-color: #FFC800;
    }
  }

  .icheckCheckbox-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: .24rem;
    height: .24rem;
    border-radius: .24rem;
    background-color: transparent;
    transform: translate(-50%, -50%);
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.top-wrapper {
  position: relative;
  width: 100%;
  padding: .7rem 0 .4rem;
  background-color: @bg-color-primary;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  .mix-res-background-image('auction/v2/top_bg');

  // 抢拍英雄榜列表页入口
  .award-image-wrapper {
    position: absolute;
    z-index: 9;
    top: 6.4rem;
    right: -2rem;
    cursor: pointer;

    .award-image {
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      background-repeat: no-repeat;
      background-size: contain;
      .mix-res-background-image('auction/v2/award_list_entry');
    }
  }
}

.mylist-rule {
  display: inline-block;
  width: .92rem;
  height: .58rem;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top:.12rem;
  left: 0rem;
  .mix-res-background-image('auction/v2/rule');
}

.mylist-entrance {
  position: absolute;
  top: .15rem;
  right: -2px;
  width: 1.72rem;
  height: .92rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  .mix-res-background-image('auction/v2/mylist_entrance');

  .mylist-new-message {
    display: none;
    position: absolute;
    top: .12rem;
    right: .08rem;
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
    background-color: #FF2C97;
  }
}

.top-title {
  width: 100%;
  min-width: 7.1rem;
  height: 3.54rem;
  margin: 0 auto .42rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  //.mix-res-background-image('auction/v2/title');
}

@countdown-main-height: 3.4rem;
@countdown-base-height: 1.75rem;
@countdown-coincide-height: .32rem;
.countdown-wrapper {
  position: relative;
  width: 100%;
  height: @countdown-main-height + @countdown-base-height - @countdown-coincide-height;
  margin-bottom: .4rem;
}

.countdown-main {
  position: relative;
  z-index: 2;
  width: 100%;
}

.countdown-main-inner {
  width: 5rem;
  height: @countdown-main-height;
  margin: 0 auto;
  padding: .42rem .42rem .6rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  .mix-res-background-image('auction/v2/countdown_wrapper');
}

.bid-person {
  position: absolute;
  left: 50%;
  bottom: 0.1rem;
  transform: translateX(-50%);
  width: 2.5rem;
  height: .46rem;
  line-height: .46rem;
  text-align: center;
  color: #FFFFFF;
  font-family: PingFangSC-Regular;
  font-size: .24rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  .mix-res-background-image('auction/v2/bid_person');
}

.countdown-base {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 7rem;
  height: @countdown-base-height;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  .mix-res-background-image('auction/v2/countdown_base');
}

.label-show {
  position: absolute;
  bottom: .24rem;
  left: 50%;
  width: 3.8rem;
  height: .8rem;
  transform: translateX(-50%);
}

.block-title {
  display: block;
  width: 100%;
  height: .44rem;
  margin: .18rem auto .04rem;
  text-align: center;
  font-size: 0;

  .block-line {
    display: inline-block;
    width: .4rem;
    height: .06rem;
    border: .01rem solid #5C1B10;
    border-radius: .03rem;
    background-color: #FFCCAF;
    vertical-align: middle;
  }

  .block-text {
    .mix-text-stroke('outer', #111111, .01rem, @text-stroke-color);
    display: inline-block;
    line-height: .44rem;
    margin: 0 .2rem;
    text-align: center;
    vertical-align: middle;
    font-size: .34rem;
    font-family: HYZhengYuan-85W;
  }
}

.countdown-sub-title {
  margin-bottom: .34rem;
  line-height: .34rem;
  font-size: .24rem;
  font-family: PingFangSC-Regular;
  color: #999999;
  text-align: center;
}

.countdown {
  text-align: center;
  font-size: 0;

  &.disabled {
    .count-number {
      color: #515151;
    }

    .count-symbol {
      color: #515151;
    }
  }

  .count-number {
    display: inline-block;
    min-width: 1rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    font-family: DINAlternate-Bold;
    font-size: 0.7rem;
    font-weight: bold;
    color: #111111;
    text-align: center;
    vertical-align: top;
  }

  .count-symbol {
    display: inline-block;
    line-height: .7rem;
    font-size: .7rem;
    font-weight: bold;
    font-family: DINAlternate-Bold;
    color: #111111;
    vertical-align: top;
  }
}

//我的积分 主页
.my-point {
  display: block;
  line-height: .32rem;
  margin: 0 auto .1rem;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: .24rem;
  color: #FFFFFF;
  opacity: 0.6;
  .base-price {
    display: inline-block;
    vertical-align: top;
    margin-right: .14rem;
  }
}
.my-line {
  margin-right: .14rem
}

.btn-wrapper {
  width: 100%;
  margin: 0 auto .4rem;
  text-align: center;
  font-size: 0;

  .bid-button,
  .to-share {
    .mix-text-stroke('outer', #ffffff, 0.02rem, #111111);
    display: inline-block;
    height: 1rem;
    line-height: .9rem;
    padding-bottom: .1rem;
    text-align: center;
    font-family: HYZhengYuan-85W;
    font-weight: bold;
    font-size: .4rem;
    vertical-align: middle;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .to-share {
    .mix-res-background-image('auction/v2/button_share');
    width: 2rem;
  }

  .bid-button {
    .mix-res-background-image('auction/v2/btn');
    width: 6.7rem;
    margin-left: .2rem;
    &.disabled {
      .mix-res-background-image('auction/v2/btn_grey');
      .mix-text-stroke('outer', #ffffff, 0.02rem, #9A9DAE);
    }
  }
}

.auction-rule {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: .28rem;
  color: #00ECEF;
  cursor: pointer;
}

//我的积分（弹窗内）
.tips-primary {
  margin: .1rem 0;

  &.dialog {
    margin: .4rem 0 0;
  }

  line-height: .32rem;
  font-size: .24rem;
  color: #333333;
}

// 抢拍英雄榜和商品列表 背景
@offset: calc(50% - 2.16rem * 1.5);
.list-wrapper {
  position: relative;
  padding: 0.3rem 0 .74rem;
  background-color: @bg-color-primary;
  overflow: hidden;
  .common-wrapper {
    z-index: 1;
  }

  .wrapper-decoration {
    &.decoration-left {
      bottom: @offset !important;
    }
    &.decoration-right {
      top: @offset !important;
    }
  }

  .wrapper-decoration-2 {
    &.decoration-left {
      top: @offset !important;
    }
    &.decoration-right {
      bottom: @offset !important;
    }
  }

  .skew-bg {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 200%;
    height: 100%;
    background-color: #7572EC;
    &.skew-botom-bg {
      top: 40%;
      top: calc(50% - 2.16rem);
      transform: skewY(-30deg);
      transform-origin: top center;
    }
    &.skew-top-bg {
      bottom: 40%;
      bottom: calc(50% - 2.16rem);
      transform: skewY(30deg);
      transform-origin: bottom center;
    }
  }
}

.bottom-light-color {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 0;
  transform: skewX(-54deg) translateX(-7.5rem);
  display: block;
  width: 12rem;
  height: 10rem;
  background-color: @bg-color-primary;
}

.award-wrapper-title {
  .mix-border-title();
  .mix-res-background-image('auction/v2/award_title');
}

.hang-rope {
  position: absolute;
  bottom: -0.89rem;
  width: .22rem;
  height: .72rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  .mix-res-background-image('auction/v2/rope');

  &.rope-left {
    left: .8rem;
  }

  &.rope-right {
    right: .8rem;
  }
}

.list-title {
  .mix-border-title();
  .mix-res-background-image('auction/v2/list_title');
}

.list-button-more {
  .mix-border-bottom-button(2.96rem, .74rem);
  .mix-res-background-image('auction/v2/button_more');

  &:active {
    .mix-res-background-image('auction/v2/button_more_active');
  }
}

// 抢拍英雄榜
.award-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 6.7rem;
  padding: .2rem 0 .5rem;
  font-size: 0;
  overflow-x: hidden;
}

.goods-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 10rem;
  padding: .04rem .06rem .75rem;
  font-size: 0;

  .goods-item {
    display: inline-block;
    width: 3.19rem;
    margin-top: .14rem;
    padding: 0 .06rem;
  }

  .image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.6rem;
    border-radius: .08rem;
    background-color: #f9f6f1;

    .item-tag {
      position: absolute;
      left: .1rem;
      bottom: .1rem;
      z-index: 1;
      height: .38rem;
      line-height: .38rem;
      padding: 0 .07rem;
      border-radius: .05rem;
      font-family: PingFangSC-Regular;
      font-size: .2rem;
      color: #FFFFFF;
    }

    img {
      position: relative;
      z-index: 0;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .item-title {
    .single-line();
    max-width: 3.1rem;
    padding: 0 .14rem;
    line-height: .36rem;
    margin-top: .09rem;
    text-align: left;
    font-family: PingFangSC-Regular;
    font-size: .28rem;
    color: #333333;
  }

  .item-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 .14rem;

    .item-text {
      line-height: .36rem;
      font-family: PingFangSC-Regular;
      font-size: .24rem;
    }

    .item-price {
      color: #FF6600;
    }

    .item-count {
      color: #999999;
    }
  }
}

.bottom-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
  background-color: @bg-color-primary;
}

.entrance-wrapper {
  position: relative;
  z-index: 1;
}

.entrance-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.entrance-item {
  flex: 1;
  padding: .3rem;

  > button {
    width: 100%;
    height: 100%;

    &:active {
      background-color: rgba(0, 0, 0, .03);
    }
  }

  .entrance-image {
    display: block;
    width: 1.5rem;
    height: 1.3rem;
    margin: 0 auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    &.entrance-integral {
      .mix-res-background-image('auction/v2/icon_integral');
    }

    &.entrance-park {
      .mix-res-background-image('auction/v2/icon_park');
    }
  }

  .entrance-title {
    display: block;
    line-height: .44rem;
    text-align: center;
    font-family: PingFangSC-Medium;
    font-size: .32rem;
    color: #333333;
  }

  .entrance-desc {
    display: block;
    line-height: .36rem;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #999999;
  }
}

//弹窗公用样式重构
#ruleDialog,
#reminderDialog,
#bidDialog {
  .dialog-modal {
    width: 5.8rem;
  }

  .dialog-modal-inner {
    .mix-border-wrapper();
    border-radius: .3rem;
    background-color: #FFFCF7;
  }

  .dialog-close {
    top: -18px;
    right: -20px;
    width: .73rem;
    height: .75rem;
    .mix-res-background-image('auction/v2/button_close');
  }
}

// 出价弹窗
#bidDialog {
  .bid-scope-wrapper {
    margin: .3rem 0 .2rem;
    font-size: 0;
    text-align: center;

    .bid-scope {
      display: inline-block;

      .scope-num {
        text-align: center;
        font-family: DINAlternate-Bold;
        font-size: .36rem;
        color: #333333;
      }

      .scope-title {
        text-align: center;
        font-family: PingFangSC-Regular;
        font-size: .24rem;
        color: rgba(0, 0, 0, 0.4);
      }
    }

    .bid-scope + .bid-scope {
      margin-left: .75rem;
    }
  }

  .input-wrapper {
    display: block;
    margin: 0 auto 0.3rem;
    padding: 0 .12rem;

    .bid-input {
      width: 4.6rem;
      line-height: .56rem;
      padding: .32rem .4rem;
      border: 0;
      border-radius: .12rem;
      font-family: PingFangSC-Medium;
      font-size: .40rem;
      color: #000000;
      caret-color: #60362F;
      background-color: #FBEBD0;

      ::-webkit-input-placeholder { /* WebKit browsers */
        font-size: .36rem;
        color: #d3c7ae;
      }

      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: .36rem;
        color: #d3c7ae;
      }

      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size: .36rem;
        color: #d3c7ae;
      }

      :-ms-input-placeholder { /* Internet Explorer 10+ */
        font-size: .36rem;
        color: #d3c7ae;
      }
    }
  }

  .bid-score {
    height: .33rem;
    line-height: .33rem;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: rgba(0, 0, 0, 0.40);
    .bid-tips {
      display: none;
      line-height: .33rem;
      font-family: PingFangSC-Regular;
      font-size: .24rem;
      color: #FF3B3B;
      text-align: center;
    }
  }

  .bid-all {
    text-align: left;
    font-size: .24rem;
    color: #ed6b00;
  }

  .bid-title {
    .mix-border-title();
    .mix-res-background-image('auction/v2/bid_dialog_title');
  }

  .bid-button {
    .mix-border-bottom-button(6.7rem, .9rem);
    .mix-res-background-image('auction/v2/button_confirm');
    &.disabled {
      .mix-res-background-image('auction/v2/button_confirm_disabled');
    }
  }
}

// 提醒弹窗
#reminderDialog {
  .reminder-title {
    .mix-border-title();
    .mix-res-background-image('auction/v2/reminder_dialog_title');
  }

  .reminder-button {
    .mix-border-bottom-button(3.8rem, .9rem);
    .mix-res-background-image('auction/v2/button_known');
  }

  .reminder-content {
    display: block;
    line-height: .44rem;
    margin: .66rem auto .4rem;
    text-align: center;
    font-size: .32rem;
    font-weight: bold;
    color: #333333;
  }

  .reminder-operate {
    display: block;
    margin-bottom: .4rem;
    text-align: center;
    font-size: 0;
  }

  .reminder-text {
    display: inline-block;
    line-height: .3rem;
    font-size: .3rem;
    font-weight: bold;
    vertical-align: middle;
    color: #333333;
  }
}

#ruleDialog {
  .modal-footer {
    display: none !important;
  }
  .rule-title {
    .mix-border-title();
    .mix-res-background-image('auction/v2/rule_dialog_title');
  }

  .rule-list {
    display: block;
    line-height: .44rem;
    padding: .3rem .3rem .1rem;
  }
  .rule-item {
    line-height: .36rem;
    font-size: .28rem;
    color: #333333;
    .rule-dot {
      display: block;
      width: .12rem;
      height: .12rem;
      margin-top: .12rem;
      border-radius: 50%;
      background-color: #cccccc;
    }
  }
}

// 出价成功弹窗
#bidSuccessDialog {
  .dialog-modal-inner {
    background-color: transparent;
  }

  .modal-footer {
    padding: 0;
  }

  .bid-success {
    display: block;
    width: 4.08rem;
    height: 1.02rem;
    margin: 0 auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    .mix-res-background-image('auction/v2/bid_success');
  }

  .success-content {
    margin: .36rem auto .08rem;
    text-align: center;
    font-family: HYZhengYuan-85W;
    font-size: .34rem;
    font-weight: bold;
    color: #FFFFFF;
  }

  .vip-card {
    display: block;
    width: 5.4rem;
    height: 3.26rem;
    margin: 0 auto .2rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    .mix-res-background-image('auction/v2/vip_card');
  }

  .success-button {
    display: inline-block;
    width: 2.6rem;
    height: 0.9rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    &.activate-button {
      .mix-res-background-image('auction/v2/button_activate');

      &.disabled {
        .mix-res-background-image('auction/v2/button_activated');
      }
    }

    &.show-button {
      .mix-res-background-image('auction/v2/button_show');
    }
  }

  .button-wrap > span + span {
    margin-left: .2rem;
  }
}
