.zh-cn,
.zh-tw{
    .AddReceipts{
        .formBox{
            padding-bottom: 20px;
            color: #606266;
            .fieldList{
                min-height: 28px;
                margin-bottom: 12px;
                .labelBox{
                    display: inline-block;
                    vertical-align: top;
                    width: 76px;
                    min-height: 32px;
                    padding: 8px 0;
                }
            }
        }
    }
}