.zh-cn,
.zh-tw {
    .FieldUpdate {
        .fieldBox {
            position: relative;
            .tishi {
                position: absolute;
                bottom: -30px;
                padding: 3px 0;
                font-size: 12px;
                color: red;
            }
        }
    }
}