<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset='utf-8' />
    <meta http-equiv="content-language" lang="zh-CN">
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <title>我的收获</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="//www.iqiyipic.com/common/images/logo.ico" type="image/icon">
    <link rel="stylesheet" href="<%- getStatic('editAddress.css') %>" />
</head>
<body>
<form id="receivingForm" class="receive-form">
    <label class="input-label">
        <input name="name" type="text" class="input-default" placeholder="收货人姓名">
    </label>
    <label class="input-label">
        <input name="phone" type="tel" class="input-default" placeholder="手机号码">
    </label>
    <label class="input-label">
        <textarea name="address" type="text" class="textarea-default" placeholder="请填写详细的收货地址，省、市、区、街道、小区、门牌号等"></textarea>
    </label>
</form>
<div class="form-tips">提交收货信息后不可更改，请谨慎填写！</div>
<div class="submit-wrapper">
    <span id="submit" class="btn-orange-block">确认提交</span>
</div>

<script src="<%- getStatic('res/scripts/lib/zepto-with-tap-i.min.js') %>"></script>
<script src="//statics-web.iqiyi.com/common/jssdk/iqiyiJsBridge-v2-min.js"></script>
<script src="<%- getStatic('vendor.js') %>"></script>
<script src="<%- getStatic('editAddress.js') %>"></script>
</body>
</html>
