.zh-cn,
.zh-tw {
    .BulletinDetail {
        .mainBody {
            top: 44px;
            right: 0;
            left: 0;
        }
        .articleBox {
            margin-top: 15px;
            margin-bottom: 45px;
        }
    }
}