.zh-cn,
.zh-tw {
    .Share {
        .main {
            position: absolute;
            top: 52px;
            width: 100%;
            bottom: 0px;
            overflow: auto;
            padding: 16px 16px 0 16px;
            &.hasPage {
                bottom: 40px;
            }
            .toolBar {
                background-color: #fff;
                height: 64px;
                line-height: 64px;
                padding: 0 16px;
            }
            .tableBox {
                margin-bottom: 40px;
                .noDataBox {
                    background-color: rgba(0, 0, 0, 0);
                }
                .item {
                    padding-left: 20px;
                }
                .tableHeader {
                    height: 40px;
                    line-height: 40px;
                    background-color: #EFF2F4;
                    font-size: 14px;
                    color: #909399;

                }
                .tableBody {

                    .row {
                        height: 45px;
                        line-height: 44px;
                        background-color: #fff;
                        font-size: 14px;
                        color: #606266;
                        border-bottom: 1px solid #EAEDEF;
                        &:hover {
                            background-color: #fdf2f3;
                        }
                    }
                }
            }
        }
        .page {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: #fff;
        }
    }
}