.en {
    .Item {
        @red: #d0021b;
        position: relative;
        min-height: 50px;
        .selectItem {
            width: 120px;
        }
        .fieldValue {
            display: inline-block;
            width: 200px;
        }
        .operateBox {
            display: inline-block;
            margin-left: 20px;
            .itemBtn {
                width: 32px;
                height: 32px;
                text-align: center;
                line-height: 32px;
                cursor: pointer;
                &.deItemBtn {
                    margin-right: 10px;
                    color: @red;
                }
                &.inItemBtn {
                    color: #8BD867;
                }
            }
        }
    }
}