.en {
    .Setting {
        .authFrame {
            width: 0;
            height: 0;
        }
        .main {
            position: absolute;
            top: 52px;
            bottom: 0;
            width: 100%;
            padding: 16px 16px 0 16px;
            overflow: auto;
            .toolBar {
                height: 64px;
                line-height: 64px;
                padding: 0 16px;
                background-color: #fff;
                .link {
                    color: #b6bac6;
                    margin-right: 20px;
                    &:hover {
                        color: #e6001f;
                    }
                }
            }
            .tableBox {
                margin-bottom: 40px;
                .noDataBox {
                    background-color: rgba(0, 0, 0, 0);
                }
                .item {
                    padding-left: 20px;
                }
                .tableHeader {
                    height: 40px;
                    line-height: 40px;
                    background-color: #EFF2F4;
                    font-size: 14px;
                    color: #909399;

                }
                .tableBody {
                    .row {
                        height: 45px;
                        line-height: 44px;
                        background-color: #fff;
                        font-size: 14px;
                        color: #606266;
                        border-bottom: 1px solid #EAEDEF;
                        &:hover {
                            background-color: #fdf2f3;
                        }
                    }
                }
            }
        }
    }
}