.en {
    .DocumentaryVueBox{
        min-height: 110px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        .DocumentaryVue{
            display: inline-block;
            position: relative;
            height: 97px;
            margin-right: 20px;
            text-align: left;
            .optLine{
                width: 100%;
                height: 10px;
                background: #f2f2f2;
                box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.05);
                border-radius: 5px;
                position: absolute;
                top: 5px;
                left: 0;
            }
            .optListBox{
                display: inline-block;
                .optItemBoxOver{
                    position: absolute;
                    top: 0;
                    left: 100%;
                    margin-left: -10px;
                    display: inline-block;
                    vertical-align: top;
                    padding-top: 20px;
                    .optItemColorBox{
                        position: absolute;
                        left: 0;
                        top: 0;
                        padding-top: 3px;
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 10px;
                        background: #f2f2f2;
                        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.05);
                        text-align: center;
                        z-index: 2;
                        .optItemColor{
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            border-radius: 6px;
                        }
                        .optItemColor-1{
                            background: #909399;
                        }
                        .optItemColor0{
                            background: #909399;
                        }
                        .optItemColor1{
                            background: #FFB735;
                        }
                        .optItemColor2{
                            background: #00C2B3;
                        }
                    }
                    .optItemContentBox{
                        color: #909399;
                        font-size: 12px;
                        .contentTit{
                            color: #222222;
                            font-weight:500;
                            font-size: 14px;
                            margin-top: 8px;
                        }
                        >div{
                            margin-top: 2px;
                            .iconfont{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}