.en {
    .Order {
        background: #fff;
        padding: 16px;
        height: 100%;
        position: relative;


        .searchBox {
            min-height: 48px;
            line-height: 48px;
            background: rgba(255, 255, 255, 1);
            border-radius: 2px;
            border: 1px solid rgba(234, 234, 234, 1);
            padding-right: 300px;
            position: relative;
            padding-left: 70px;
            display: inline-block;
            width: 100%;
            .ax_default{
                display:inline-block;
                position: absolute;
                top: 0px;
                left: 10px;
                color: #008CEE;
                font-size: 12px;
            }
            .divSearch {
                .lititle {
                    float: left;
                    margin-right: 10px;
                }

                .liselect {
                    margin-right: 24px;
                    float: left;
                }
                .liselect1, .liselect {
                    position: relative;
                    padding-left: 70px;
                    .labelBox{
                        position: absolute;
                        left: 0;
                    }
                }
                .rightBox{
                    min-height: 36px;
                    line-height: 26px;
                    font-size:12px;
                    .label{
                        margin:4px 8px 4px 0;
                        display: inline-block;
                        padding: 0 8px;
                        background: white;
                        border-radius: 3px;
                        border:1px solid transparent;
                    }
                    .label:hover{
                        color: #d0021b;
                        border:1px solid rgba(243,192,198,1);
                        background:rgba(208,2,27,0.05);
                    }
                    .label1{
                        border: 1px solid #ecf0f5;
                        color: RGBA(96, 98, 102, 1);
                    }
                    .label2{
                        border: 1px solid RGBA(208, 2, 27, 1);
                        color: RGBA(208, 2, 27, 1);
                    }
                }
            }

            .inputSesrch {
                position: absolute;
                right: 16px;
                top: 0;
            }
        }

        .filter {
            min-height: 54px;
            margin-top: 16px;
            border: 1px solid transparent;
            float: left;
            margin-bottom: 17px;

            .box01 {
                color: #fff;
                width: 155px;
                height: 54px;
                border: 1px solid transparent;
                position: relative;
                float: left;
                border-radius: 2px;
                padding-left: 27px;

                &.active {
                    opacity: .8;
                }

                .icontClass {

                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    border: 1px solid transparent;
                    margin-top: 12px;
                    margin-left: 5px;
                    text-align: center;
                    line-height: 30px;


                }

                .divshow {
                    text-align: center;
                    position: absolute;
                    right: 35px;
                    height: 100%;
                    padding-bottom: 8px;
                    padding-top: 4px;
                    color: white;
                }


                // }

            }

            .box02 {
                height: 38px;
                width: 38px;
                position: absolute;
                right: 0;
                z-index: 1;
                top: 50%;
                border: 1px solid transparent;
                -webkit-transform: translate3d(50%, -50%, 0) rotate(45deg);
                transform: translate3d(50%, -50%, 0) rotate(45deg);
            }

            .sttingClass {
                color: #008CEE;
                width: 155px;
                height: 54px;
                border: 1px solid transparent;
                position: relative;
                float: left;
                border-radius: 2px;
                padding-left: 40px;
                line-height: 50px;
            }
        }

        .tableList {
            border: 1px solid transparent;
            overflow: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 150px;
            bottom: 50px;
            .listclass {
                border: 1px solid #EAEAEA;

                .tilediv {
                    padding: 9px 19px;
                    background: #F7F8F9;
                    width: 100%;
                    display: inline-block;
                }

                .contndiv {
                    padding: 9px 19px;
                    background: #FFFFFF;
                }

            }
        }

        .listPage {
            // border: 1px solid blue;
            padding: 15px 0 20px;
            // background: #fff;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background: white;
        }


    }
}
