.en {
    input{
        width:80px;
        height: 24px;
        line-height: 24px;
        border: 0px solid #DFE2E4;
        padding: 0 4px;
        outline:none;
        border-radius: 3px;
        color: #222222;
        font-size: 12px;
        text-align: center;
    }
    /* 谷歌 */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }
    /* 火狐 */
    input{
        -moz-appearance:textfield;
    }
    input:focus{
        border: 1px solid rgb(0, 140, 238);
    }
    input::-webkit-input-placeholder{
        color:#c0c4cc;
    }
    input::-moz-placeholder{
        color:#c0c4cc;
    }
    input:-moz-placeholder{
        color:#c0c4cc;
    }
    input:-ms-input-placeholder{
        color:#c0c4cc;
    }
}