.zh-cn,
.zh-tw {
    .label {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        border-radius: 2px;
        border: 1px solid #EAEAEA;
        color: #606266;
    }

}