@import '../../../../public-zh-cn.less';
.zh-cn,
.zh-tw {
   .formCheckbox {
       font-size: 14px;
       color: #606266; // border: 1px solid red;
       .el-checkbox {
           margin: 1px 28px 1px;
           color: #666;
       }
       .listTitle {
           // border: 1px solid red;
           font-size: 14px;
           color: #606266; // margin: 0 28px 10px;
           margin: 29px 0 0 30px;
           font-weight: bold;
       }
       .listTitle2 {
           font-size: 14px;
           color: #606266; // margin: 0 28px 10px;
           margin: 20px 0 0 30px;
           font-weight: bold;
       }
       .listSelect {
           margin: 10px 0 10px 28px;
           >span {
               display: inline-block;
               min-width: 158px;
           }
       }
       .itemListClass {
           // border: 1px solid blue; // height: 20px;
           font-size: 14px;
           color: #606266;
           margin-top: 10px; // line-height: 20px; // margin: 10px 0 3px;
       }
       .readListClass {
           // border: 1px solid blue; // height: 20px;
           font-size: 14px;
           color: #606266;
           margin-top: 16px; // line-height: 20px; // margin: 10px 0 3px;
       }
       .checkSend {
           margin: 0 0 15px 70px;
           ol {
               counter-reset: num;
               /* 创建一个计数器 */
               li {
                   margin: 1px 0 6px;
                   padding-left: 30px;
                   position: relative;
                   &::before {
                       content: counter(num);
                       counter-increment: num;
                       height: 20px;
                       width: 20px;
                       line-height: 22px;
                       position: absolute;
                       left: -3px;
                       top: 50%;
                       margin-top: -12px;
                       background: #87ceeb;
                       font-weight: bold;
                       font-size: 13px;
                       border: 2px solid #fff;
                       text-align: center;
                       border-radius: 50%;
                   }
               }
           }
       }
       .checkSend2 {
           margin: 0 0 10px 70px;
           >div {
               min-width: 84px;
               height: 32px;
               padding: 7px 7px 7px 14px;
               margin-left: 10px;
               color: #FFFFFF;
               background-color: #C0C4CC;
               border-radius: 3px;
               float: left;
               height: 32px;
               margin: 7px 0px 0px 10px;
               border-radius: 3px;
               i {
                   margin-left: 15px;
                   font-size: 12px;
               }
           }
       }
       .el-checkbox {
           color: #606266;
       }
   }

}