.zh-cn,
.zh-tw {
    .typePanelBox {
        padding: 20px 0;
        .itemline {
            margin-top: 15px;
            .contrlBox {
                margin-top: 10px;
                padding-left: 22px;
                .fieldSel {
                    width: 120px;
                    margin-right: 10px;
                }
            }
        }
    }
}