.zh-cn,
.zh-tw {
    .GoodsAttribute {
        div.treeMenu {
            width: 200px;
            padding: 15px 0;
            position: absolute;
            left: 0;
            top: 52px;
            bottom: 0;
            z-index: 1;
            overflow: auto;
            border-right: 1px solid #EAEAEA;
            ul.treeRoot {
                h3 {
                    padding: 8px 5px 8px 28px;
                    font-size: 14px;
                    font-weight: normal;
                    position: relative;
                    margin-bottom: 1px;
                    padding-right: 30px;
                    >.open {
                        width: 14px;
                        height: 14px;
                        line-height: 12px;
                        text-align: center;
                        position: absolute;
                        border: 1px solid #909399;
                        border-radius: 3px;
                        left: 8px;
                        top: 50%;
                        margin-top: -7px;
                        color: #909399;
                        -webkit-transition: all 0.3s ease-out;
                        -moz-transition: all 0.3s ease-out;
                        -ms-transition: all 0.3s ease-out;
                        -o-transition: all 0.3s ease-out;
                        transition: all 0.3s ease-out;
                        i {
                            font-size: 12px;
                        }
                        &:hover {
                            color: #d0021b;
                            border-color: #d0021b;
                        }
                    }
                    >em {
                        font-style: normal;
                    }
                    >.delete {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        margin-top: -8px;
                        display: none;
                    }
                    &:hover,
                    &.active {
                        background: #FAFAFA;
                        border-left-color: #d0021b;
                        color: #d0021b;
                        cursor: pointer;
                    }
                    &:hover {
                        .delete {
                            display: inline;
                        }
                    }
                }
                ul {
                    padding-left: 15px;
                }
            }
            .addGoods {
                padding: 8px 5px 8px 28px;
                color: #6CA2FF;
            }
        }
        .navWindow {
            position: absolute;
            left: 215px;
            top: 52px;
            right: 15px;
            bottom: 0;
            background: #fff;
            border-radius: 0 4px 0 0;
            .navWindowTitle {
                padding: 0 15px;
                min-height: 50px;
                line-height: 50px;
                font-size: 14px;
                font-weight: normal;
                color: #303133;
            }
            .dragBody {
                padding-bottom: 20px;
                position: absolute;
                left: 0;
                top: 90px;
                right: 0;
                bottom: 0;
                overflow: auto;
            }
            .dragList {
                //表格
                display: table;
                width: 100%;
                min-height: 30px;
                color: #222;
                font-size: 12px;
                table.dragGroup {
                    // border:1px solid red; 
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 9;
                    td {
                        width: 13%;
                        height: 35px;
                        padding: 0 15px;
                        border-bottom: 1px solid #EAEDEF;
                        &:nth-child(1),
                        &:nth-child(5),
                        &:nth-child(6) {
                            width: 9%;
                        }
                    }
                    tr {
                        &:last-child {
                            td {
                                border-bottom: none;
                            }
                        }
                        &:hover {
                            .editBtn {
                                >em {
                                    display: block;
                                }
                            }
                        }
                    }
                }
                >div {
                    display: table-row;
                    >span {
                        display: table-cell;
                        vertical-align: middle;
                        width: 13%;
                        padding: 13px 15px;
                        position: relative;
                        border-bottom: 1px solid #EAEDEF;
                        &:nth-child(1),
                        &:nth-child(5),
                        &:nth-child(6) {
                            width: 9%;
                        }
                        .handle {
                            display: inline-block;
                            width: 38px;
                            height: 38px;
                            line-height: 40px;
                            text-align: center;
                            cursor: move;
                            .iconfont {
                                font-size: 21px;
                            }
                        }
                        .handleDisabled {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            line-height: 32px;
                            text-align: center;
                            cursor: no-drop;
                            color: #eee;
                            .iconfont {
                                font-size: 25px;
                            }
                        }
                        .editBtn {
                            position: relative;
                            >em {
                                display: none;
                                width: 30px;
                                text-align: center;
                                height: 30px;
                                line-height: 30px;
                                position: absolute;
                                top: 50%;
                                margin-top: -14px;
                                right: -35px;
                                color: #C0C4CC;
                                &:hover {
                                    color: #E6001F;
                                    cursor: pointer;
                                }
                                .iconfont {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                    &:hover {
                        span {
                            >.editBtn {
                                >em {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .dragHeader {
                background-color: #EFF2F4;
                color: #909399;
                font-size: 14px; // font-weight: bold;
                >div {
                    >span {
                        padding: 10px 15px;
                    }
                }
            }
            .sortable-chosen {
                //拖拽
                background: #f7f8f9;
            }
        }
    }
}