
.zh-cn,
.zh-tw {
    .setList {
        font-size: 12px;
        padding:0 0 30px;
        .list{
            min-height: 30px;
            padding: 10px;
            .custName{
                word-break:break-all;
                color: rgb(255, 148, 62);
            }
            .content{
                color: red;
            }
        }
        .listTit{
            background: #eff2f4;
        }
    }
}