@import '../../../../public-en.less';
.en {
    .EnterpriseSet {
        // border: 1px solid red;
        .mainBody2 {
            // border:1px solid red;
            padding-top: 20px;
            padding-left: 10px;
            ul.set_pic {
                margin: 25px 0;
                >li {
                    // border: 1px solid red;
                    width: 633px;
                    float: left;
                    .set_pic_upload {
                        // border: 1px solid blue;
                        .set_select_file {
                            float: left;
                            margin-right: 12px;
                            width: 182px;
                            height: 102px;
                            line-height: 102px;
                            text-align: center;
                            overflow: hidden;
                            border: 1px dashed #ddd;
                            background-color: #f7f8f9;
                            border-radius: 6px;
                            position: relative;
                            >div {
                                border-radius: 8px;
                                border: 5px solid #fff;
                                height: 100%;
                                overflow: hidden;
                                img {
                                    display: block;
                                    max-width: 100%;
                                    overflow: hidden;
                                }
                                .iconfont {
                                    // border:1px solid red;
                                    width: 66px;
                                    height: 66px;
                                    line-height: 66px;
                                    font-size: 38px;
                                    color: #ddd;
                                    position: absolute;
                                    left: 50%;
                                    margin-left: -33px;
                                    top:50%;
                                    margin-top: -35px;
                                    opacity: .8;
                                }
                                input[type='file'] {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    height: 100%;
                                    width: 100%;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                            }
                            &:hover {
                                border-color: #d0021b;
                                .iconfont {
                                    opacity: 1;
                                    color: #d0021b;
                                }
                                // >input {
                                //     z-index: 1;
                                // }
                            }
                        }
                        .picDescr {
                            font-size: 12px;
                            line-height: 19px;
                            color: #909399;
                            .recomm {
                                display: inline-block;
                                background: #FFB735;
                                border-radius: 2px;
                                padding: 1px 8px;
                                margin-left: 8px;
                                font-size: 12px;
                                transform: scale(0.8);
                                -webkit-transform: scale(0.8);
                                color: #fff;
                                font-style: normal;
                            }
                            .nameUse {
                                font-size: 14px;
                                color: #303133;
                                margin-bottom: 2px;
                            }
                            .el-button {
                                margin-top: 8px;
                                width: 120px;
                            }
                        }
                    }
                }
                >li:first-child {
                    margin-right: 30px;
                }
            }
            .companyName {
                font-size: 20px;
                color: #222;
                font-weight: 500;
            }
            .input_title {
                // border: 1px solid red;
                border-top: 1px dashed #eee;
                color: #303133;
                margin-top: 10px;
                padding: 20px 0;
                position: relative;
                .line_btn {
                    // border:1px solid red;
                    position: absolute;
                    left: 100px;
                    top: 50%;
                    margin-top: -11px;
                    color: #909399;
                    .el-switch {
                        margin-left: 10px;
                    }
                }
            }
            .input_body {
                width: 560px;
            }
            .el-form {
                .el-form-item {
                    // border: 1px solid red;
                    margin-bottom: 14px;
                    .itemLabel{
                        color: #909399;
                    }
                }
                .el-form-item__content>.el-input,
                .el-form-item__content>.el-select {
                    width: 260px;
                }
            }
            .el-form--inline .el-form-item__label {
                margin-top: 1px;
            }
        }
        .input_line {
            padding-left: 100px; // border: 1px solid blue;
        }
        .disabled {
            background: rgba(184, 10, 31, 0.5);
            color: rgba(255, 255, 255, 0.7);
            border-color: transparent;
            cursor: not-allowed !important;
        }
    }
}