<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>博客</title>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <link href="/public/css/login.css" rel="stylesheet" type="text/css">
    <link href="/public/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/public/js/jquery-1.12.4.min.js"></script>
    <script src="/public/js/index.js"></script>
</head>

<body>

<nav>
    <div class="menu">
        {%if category == ''%}
        <a href="/" class="focus">综合</a>
        {%else%}
        <a href="/">综合</a>
        {%endif%}

        {%for cate in categories%}
        {%if category == cate.id%}
        <a href="/?category={{cate.id}}" class="focus">{{cate.name}}</a>
        {%else%}
        <a href="/?category={{cate.id}}">{{cate.name}}</a>
        {%endif%}
        {%endfor%}
    </div>
</nav>



<main class="clear">
    <div class="mainLeft">
        {%block content%}{%endblock%}
    </div>

    <div class="mainRight">


        {% if userInfo._id %}
        <div class="userInfo-box" id="userInfo">

            {% if userInfo.isAdmin %}
                <p class="user-title">hi！管理员{{userInfo.username}}</p>
                <div class="a-btn-box">
                    <a class="a-btn" href="/admin">进入管理</a>
                    <a class="a-btn logout" href="javascript:;">退出</a>
                </div>
            {% else %}
                <p class="user-title">hi！{{userInfo.username}}</p>
                <p><span>欢迎来到我的小世界</span></p>
                <a class="a-btn logout" href="javascript:;">退出</a>
            {% endif %}


        </div>
        {% else %}
        <div class="login-box" id="loginBox">
                <form action="" method="get">
                    <label class="form-inline">
                        <div class="form-inline-font">用户名 </div>
                        <div class="form-inline-input">
                            <input type="text" name="username" value="" placeholder="用户名" maxlength="12"/>
                        </div>
                    </label>
                    <label class="form-inline">
                        <div class="form-inline-font">密码</div>
                        <div class="form-inline-input">
                            <input type="password" placeholder="密码" name="password" maxlength="16" />
                        </div>
                    </label>

                    <div class="login-btn">
                        <a class="btn l-login-btn">登录</a>
                        <a class="btn l-register-btn">注册</a>
                    </div>
                    <p class="success-text"></p>
                </form>
            </div>

        <div class="login-box" id="registerBox" style="display: none;">
            <form action="" method="get">
                <label class="form-inline">
                    <div class="form-inline-font">用户名 </div>
                    <div class="form-inline-input">
                        <input type="text" name="username" value="" placeholder="用户名" maxlength="12"/>
                    </div>
                </label>
                <label class="form-inline">
                    <div class="form-inline-font">密码</div>
                    <div class="form-inline-input">
                        <input type="password" placeholder="密码" name="password" maxlength="16" />
                    </div>
                </label>
                <label class="form-inline">
                    <div class="form-inline-font">确认密码</div>
                    <div class="form-inline-input">
                        <input type="password" placeholder="确认密码" name="repassword" maxlength="16" />
                    </div>
                </label>

                <div class="login-btn">
                    <a href="javascript:;" class="btn r-register-btn">注册</a>
                    <div class="r-login-box">
                        <p class="r-text">已有账号？</p>
                        <a href="javascript:;" class="btn r-login-btn">马上登录</a>
                    </div>
                </div>
                <p class="success-text"></p>
            </form>
        </div>

        {%endif%}

    </div>


</main>

</body>
</html>