.en {
    .MXOrder {
        // border:1px solid red;
        height: 100%;
        .Box {
            // border:1px solid red;
            padding: 55px 15px 0 16px;
            .el-form-item {
                margin-bottom: 6px;
            }
        }
        .pagination {
            // border:1px solid red;
            text-align: center; // clear: both;
            padding: 10px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            // z-index: 2;
            background: #fff;
        }
    }
}