.zh-cn,
.zh-tw {
    .MXOrder {
        // border:1px solid red;
        height: 100%;
        .Box {
            // border:1px solid red;
            // height: 100%;
            padding: 60px 15px 0 16px;
            .el-form-item {
                margin-bottom: 6px;
            }
            .table {
                height: 100% !important
            }
        }
        .pagination {
            // border:1px solid red;
            text-align: center; // clear: both;
            padding: 10px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            // z-index: 2;
            background: #fff;
        }
        .desc {
            height: 20px;
            &:first-child {
                margin-top: 3px;
                font-weight: bold;
            }
            &:last-child {
                margin-bottom: 5px;
            }
        }
        .audit {
            color: #d0021b;
        }
        .result {
            color: #bfcbd9;
        }
    }
}