.zh-cn,
.zh-tw {
    .MsgClock {
        width: 54px;
        height: 100%;
        float: right;
        position: relative;
        margin-right: 1px;
        >.icon {
            text-align: center;
            line-height: 56px;
            color: #c0c4cc;
            >.iconfont {
                font-size: 22px;
            }
            &:hover,
            &.iconActive {
                color: #d0021b;
                cursor: pointer;
            }
            .msgNum {
                // -webkit-transform: scale(0.9);
                // transform: scale(0.9);
                background: linear-gradient(45deg, #FF697C, #D0021B);
                position: absolute;
                top: 7px;
                left: 50%;
                font-size: 12px;
                margin-left: 1px;
                min-width: 28px;
                max-width: 35px;
                height: 20px;
                line-height: 20px;
                overflow: hidden;
                border-radius: 12px;
                color: #fff;
                text-align: center;
            }
        }
        .sliderBg {
            position: fixed;
            left: 0;
            top: 55px;
            right: 0;
            bottom: 0;
            z-index: 88;
            background-color: rgba(0, 0, 0, .2);
        }
        >.sliderBody {
            width: 350px;
            position: fixed;
            top: 55px;
            right: 0;
            bottom: 0;
            z-index: 99;
            background-color: #fff;
            word-wrap: break-word;
            word-break: normal;
            box-shadow: -2px 0 10px 0 rgba(0, 0, 0, 0.1);
            >.title {
                color: #222;
                padding: 0 15px;
                height: 40px;
                line-height: 40px;
                border-bottom: 1px solid #eaedef;
                .iconfont {
                    font-size: 12px;
                    color: #909399;
                    &:hover {
                        color: #d0021b;
                        font-weight: bold;
                    }
                }
            }
            >.msglistContent {
                // border: 1px solid red;
                overflow: auto;
                padding: 0 0 15px;
                position: absolute;
                top: 40px;
                right: 0;
                bottom: 40px;
                left: 0;
                >li {
                    border-bottom: 1px solid #eaedef;
                    position: relative;
                    height: 55px;
                    padding: 0 15px 0 32px;
                    font-size: 12px;
                    overflow: hidden;
                    >.rightContent {
                        // border: 1px solid blue;
                        height: 16px;
                        line-height: 16px;
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        margin-top: -8px;
                        display: none;
                        >span {
                            float: left;
                            width: 16px;
                            height: 16px;
                            line-height: 16px;
                            text-align: center;
                            background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                            box-shadow: 0px 1px 2px 0px rgba(208, 2, 27, 0.1);
                            border-radius: 50%;
                            color: #fff;
                            margin-left: 5px;
                            .iconfont {
                                font-size: 12px; // &.icon-minus {
                                //     display: inline-block;
                                //     width: 16px;
                                //     height: 16px;
                                //     line-height: 16px;
                                //     font-size: 10px;
                                //     border: 1px solid #fff;
                                //     border-radius: 50%;
                                //     transform: scale(0.6);
                                //     -webkit-transform: scale(0.6);
                                //     font-weight: bold;
                                // }
                            }
                            &:hover {
                                cursor: pointer;
                                background: #d0021b;
                            }
                        }
                    }
                    >.msgTime {
                        color: #909399;
                        padding: 9px 0 1px;
                    }
                    >.msgContentOperation {
                        >.msgStatus {
                            width: 8px;
                            height: 8px;
                            position: absolute;
                            background-color: #c0c4cc;
                            border-radius: 50px;
                            left: 15px;
                            top: 50%;
                            margin-top: -4px;
                        }
                        >.leftContent {
                            width: 88%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                    >.delayOperation {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: #fcf2f3;
                        top: 0;
                        left: 100%;
                        transition: all .2s;
                        -webkit-transition: all .2s;
                        -moz-transform: all .2s;
                        -o-transition: all .2s;
                        -ms-transform: all .2s;
                        .delayTitle {
                            padding: 5px 2px 1px 1px;
                            text-indent: 15px;
                            font-size: 12px;
                        }
                        .delayTime {
                            // border:1px solid red;
                            padding-left: 15px;
                            .el-date-editor.el-input {
                                width: 190px;
                            }
                            .pull-right {
                                padding-top: 1px;
                                .el-button {
                                    padding: 6px 8px;
                                }
                            }
                        }
                    }
                    &:hover {
                        background: rgba(208, 2, 27, 0.05);
                        cursor: default;
                        .rightContent {
                            display: block;
                        }
                    }
                } //未读样式
                >.noAction {
                    .msgContentOperation {
                        >.msgStatus {
                            background-color: #d0021b;
                        }
                        >.leftContent {
                            color: #222;
                        }
                    }
                }
                >.noData {
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    font-size: 14px;
                    color: #999999;
                }
            }
            >.msgFooter {
                // border: 1px solid blue;
                background-color: #f7f8f9;
                height: 40px;
                line-height: 40px;
                padding: 0 15px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                color: #606266;
                .pull-right {
                    margin-top: 4px;
                }
            }
        }
        .fade-enter-active,
        .fade-leave-active {
            transition: opacity .5s;
        }
        .fade-enter,
        .fade-leave-to {
            opacity: 0;
        }
        .slider-customer-enter-active {
            //定义vue下滑动画样式
            transition: all .3s ease;
        }
        .slider-customer-leave-active {
            transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }
        .slider-customer-enter,
        .slider-customer-leave-to {
            transform: translateX(500px);
            opacity: 0;
        }
    }
}