.zh-cn,
.zh-tw {
    .userAction {
        // border:1px solid red;
        overflow: auto;
        padding:15px;
        .el-form-item {
            margin-bottom: 8px;
        }
        .timeAxisList {
            // border:1px solid red;
            margin-top: 8px;
            padding-top: 5px;
            overflow: auto;
        }
    }
}