//子页面填充
@pageMarginTop: 44px;
@pagePadding: 0 13px;
//标题一
.title1() {
    position: relative;
    top: 10px;
    font-size: 15px;
    z-index: 1;
    height: 0;
    text-shadow: 1px 1px 1px #fff;
    >.iconfont {
        font-size: 20px;
    }
    >span {
        margin-left: 4px;
    }
}

//标题二
.title2() {
    // border: 1px solid red;
}

.zh-cn,
.zh-tw {
    .mainWrap {
        // border: 1px solid red;
        height: 100%;
        // margin-right: 15px;
        position: relative;
        overflow: hidden;
        .el-tabs {
            // border:1px solid #000;
            margin-top: 6px;
            position: relative;
            z-index: 2;
        }
        .mainBody,
        .mainBodyTab {
            padding: 0 15px;
            .el-button--large {
                margin-top: 8px;
                min-width: 200px;
            }
            .input_title {
                color: #303133;
                padding: 5px 0 18px;
                position: relative;
                >small {
                    position: absolute;
                    left: 88px;
                    top: 6px;
                    color: #909399;
                }
            }
        }
        .mainBody {
            // border: 1px solid black;
            position: absolute;
            top: 52px;
            left: 15px;
            right: 15px;
            bottom: 0;
            overflow: auto;
            padding: 15px 29px;
        }
        .mainBodyTab {
            border: 1px solid transparent; // border: 1px solid blue;
            border-radius: 4px;
            background: #fff; // padding: 20px 28px 30px;
            margin-top: 16px;
        }
    }
}