.zh-cn,
.zh-tw {
    .LittleAssistant{
        .title{
            height: 40px;
            border-bottom:1px solid #EAEAEA;
            line-height: 40px;
            padding-left: 16px;
            position: relative;
            font-weight:500;
            font-size: 16px;
            >i{
                font-size: 12px;
                position: absolute;
                right: 19px;
            }
        }
        .tabsBox{
            height: 50px;
            border-bottom:1px solid #EAEAEA;
            .tabsItem{
                height: 50px;
                line-height: 50px;
                text-align: center;
                display: inline-block;
                width: 32%;
                color: #909399;
            }
            .tabsItemActive{
                color: #D0021B;
                border-bottom: 2px solid #D0021B;
            }
        }
        .contentBox{
            padding: 16px;
        }
    }
}