.zh-cn,
.zh-tw {
    .Discount{
        .list{
            height: 30px;
            line-height: 30px;
            position: relative;
            padding-left: 80px;
            .title{
                position: absolute;
                left: 0;
            }
        }
        input{
            width:60px;
            height: 24px;
            line-height: 24px;
            border: 1px solid #DFE2E4;
            padding: 0 4px;
            outline:none;
            border-radius: 3px;
            color: #222222;
            font-size: 12px;
            text-align: center;
        }
        /* 谷歌 */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }
        /* 火狐 */
        input{
            -moz-appearance:textfield;
        }
        input:focus{
            border: 1px solid #D0021B;
        }
    }
}