base-font-size = 12px;
base-background = linear-gradient(to bottom right, rgba(97, 78, 153, 0.8), rgba(16, 162, 182, 0.8));
base-logo = url('../../assets/logo.png');
base-width = 1366px;
base-height = 768px;
// Colors
$--color-success = #91c750;
$--color-warning = #e6d147;
$--color-error = #c76250;
$--color-gray = #9f9f9f;