.en {
    .Itinerary {
        // border:1px solid red;
        margin:auto 8px;
        box-shadow:0px 0px 5px 0px rgba(0,0,0,0.15);
        border-radius: 4px;
        overflow: hidden;
        .NoDataCss { 
            margin-left: 120px;
            padding-top: 80px;
        }
        .workBody {
            // border: 1px solid red;
            clear: both;
            height: 200px;
            overflow: hidden;
            position: relative;
        }
    }
}