.zh-cn,
.zh-tw {
    .Itinerary {
       
        .NoDataCss { 
            margin-left: 120px;
            padding-top: 80px;
        }
        .workBody {
            // border: 1px solid red;
            clear: both;
            height: 190px;
            overflow: hidden;
            position: relative;
        }
    }
}