.zh-cn,
.zh-tw {
    .onlineChart{
        box-shadow:0px 0px 5px 0px rgba(0,0,0,0.1);
        border-radius:4px;
        .title{
            height: 40px;
            padding-top: 5px;
            background:rgba(244,244,244,1);
            border-radius:4px 4px 0px 0px;
            padding-left: 15px;
            position: relative;
            .onlineTabs{
                width: 210px;
                display: inline-block;
                .onlineTab{
                    width: 102px;
                    height: 35px;
                    line-height: 35px;
                    border-radius:4px 4px 0px 0px;
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                }
                .active-onlineTab{
                    background: white;
                    font-weight:500;
                }
            }
            .titleRight{
                width: 118px;
                position: absolute;
                right: 20px;
                top: 4px;
            }
        }
        .chartBox{
            height: 260px;
            .chartItem{
                height: 260px;
            }
        }
    }
}