.en {
    .Remind {
        // border: 1px solid red;
        padding: 3px 15px 70px;
        position: relative;
        .listWrap {
            // border: 1px solid red;
            .date {
                color: #999;
                padding: 10px 0 7px;
            }
            .listBox {
                border: 1px solid rgba(234, 237, 239, 1);
                background-color: #F7F8F9;
                border-radius: 4px;
                li {
                    border-bottom: 1px #E4E4E4 solid;
                    position: relative;
                    padding: 8px 10px;
                    .time {
                        color: #666;
                    }
                    .describe {
                        color: #555;
                        margin-left: 3px;
                        >span {
                            color: #d0021b;
                        }
                    }
                    .operation {
                        // border: 1px solid red;
                        height: 24px;
                        line-height: 24px;
                        position: absolute;
                        top: 50%;
                        margin-top: -12px;
                        right: 15px;
                        display: none;
                        >span {
                            background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                            border-radius: 50%;
                            color: #fff;
                            .iconfont {
                                font-size: 13px;
                            }
                            &:hover {
                                background: #d0021b;
                                cursor: pointer;
                            }
                        }
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    &:hover {
                        background: #FCF2F3;
                        .operation {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}