.en {
    .dialogAddField {
        .el-form-item {
            margin-right: 15px;
        }
        .typeDropDown {
            border-bottom: 1px dashed #fff;
            background-color: #f5f5f5;
            margin: -15px 0 10px;
            >dl {
                padding: 8px 0 2px 58px;
                >dt {
                    margin-left: 50px;
                    .icon-plus-file {
                        font-size: 12px;
                        margin-right: 2px;
                    }
                }
                .ddWrap {
                    // border: 1px solid red;
                    margin: 0 3px;
                    padding-right: 15px;
                    max-height: 235px;
                    overflow: auto;
                    dd {
                        margin: 8px 0 8px 50px;
                        .el-input {
                            width: 80%;
                        }
                        >div.textVal {
                            background-color: #fff;
                            padding: 3px 6px 3px 10px;
                            line-height: 22px;
                            border-radius: 3px;
                        }
                    }
                }
            }
            .el-form-item {
                margin-bottom: 8px;
            }
        }
        .typeAutoNum {
            // border:1px solid blue;
            border-bottom: 1px dashed #fff;
            background-color: #f5f5f5;
            margin: -10px 0 10px;
            padding: 5px 5px 0;
            table {
                padding: 5px 15px 2px 18px;
            }
            .el-form-item {
                margin-bottom: 0;
            }
        }
    }
}