@import "~Less/src/_mixins";
@import "~Components/toast/index.less";

@color-active: #F8E71C;

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  margin: 0;
  padding: 0;
  background-color: #F8F8F9;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, figure, menu, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, select, th, td {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体", DIN Alternate;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%
}

body {
  margin: 0;
  padding: 0;
  font-size: .14rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

.mt100 {
  margin-top: .5rem;
}

.fix {
  overflow: hidden;
}

@import "~Less/src/_mixins";

.title-wrapper {
  width: 2.16rem;
  margin: 0.15rem auto;
  .title-bg {
    height: 0.38rem;
    line-height: 0.38rem;
    padding: 0 0 .02rem .04rem;
    text-align: center;
    font-size: .17rem;
    color: #664BF7;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    .mix-res-background-image('pk/pk-title-bg');
  }
}

.toast-wrapper {
  .toast-box {
    border-radius: .4rem;
    .toast-content {
      padding: 0 .2rem;
      font-size: .14rem;
    }
  }
}

.crown-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('~Res/img/pk/huangguan-left@2x.png');
}

.crown-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('~Res/img/pk/huangguan-right@2x.png');
}

.doCall {
  width: 2.7rem;
  height: 0.41rem;
  background-color: #664BF7;
  border-radius: 2.7rem;
  margin: .1rem auto 0;
  text-align: center;
  font-size: 0.16rem;
  color: #FFFFFF;
  line-height: 0.41rem;
  &.disabled {
    background-color: #E7E1FD;
  }
}

.noTopic {
  display: none;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  text-align: center;
  .pic {
    width: 1.64rem;
    height: 1.24rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('~Res/img/pk/none-list@2x.png');
    margin: 0.915rem auto 0.2rem auto;
    &.net-error {
      background-image: url('~Res/img/pk/net-error@2x.png');
    }
  }
  .text {
    font-size: 0.14rem;
    color: #666666;
    text-align: center;
  }
  .btn-login {
    display: inline-block;
    width: 1.8rem;
    height: .4rem;
    line-height: .4rem;
    font-size: .16rem;
    color: #ffffff;
    background: #684CFF;
    border-radius: .2rem;
    vertical-align: middle;
    cursor: pointer;
  }
}

.top-section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 1px 0px #eeeeee;
  .top-section-box {
    padding: 0 .38rem;
    font-size: 0;
    border-bottom: 1px solid #eeeeee;
  }

  .top-section-item {
    display: inline-block;
    width: 50%;
    padding: .14rem 0 .07rem;
    cursor: pointer;
    &.active {
      .top-section-text {
        color: #5C3EFF;
      }
      .top-section-line {
        visibility: visible;
        background-color: #5C3EFF;
      }
    }
    &.disabled {
      .top-section-text {
        color: #333333;
      }
      .top-section-line {
        visibility: hidden;
        background-color: transparent;
      }
      cursor: not-allowed;
    }
  }

  .top-section-text {
    display: block;
    line-height: .22rem;
    text-align: center;
    font-size: .16rem;
  }

  .top-section-line {
    display: block;
    width: .12rem;
    height: .03rem;
    margin: .04rem auto 0;
    border-radius: .08rem;
    background-color: transparent;
    visibility: hidden;
  }
}

.container {
  position: relative;
  z-index: 0;
  width: 100%;
  padding-top: .6rem;
  .listBody {
    // display: none;
    background-color: #F8F8F9;
    .loading {
      display: none;
      text-align: center;
      height: 0.3rem;
      line-height: 0.3rem;
    }
    .topicBox {
      padding: 0 .15rem .2rem;
      .item {
        margin-bottom: .17rem;
        padding: .15rem .14rem .16rem;
        border-radius: .06rem;
        background-color: #ffffff;
        box-sizing: border-box;
        background-size: 100% 2.27rem;
        .mix-touch-active-text();
        .topicTitle {
          font-size: 0.17rem;
          color: #333333;
          white-space: nowrap;
          max-width: 3.3rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .boxWrap {
          position: relative;
          width: 3.15rem;
          margin-top: 0.1rem;
          .grey_wrap {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            background: url('~Res/img/pk/square_un_start.png') no-repeat center;
            background-size: 100% 100%;
          }
          .item-mask {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .3);
          }
          &.active-left {
            .leftFloatWrap,
            .leftNum,
            .leftPart {
              color: @color-active !important;
            }
          }
          &.active-right {
            .rightFloatWrap,
            .rightNum,
            .rightPart {
              color: @color-active !important;
            }
          }
          .pic1 {
            .leftFloatWrap {
              position: absolute;
              top: 0;
              margin-left: 0.14rem;
              width: 100%;
              height: 100%;
              transform: skew(9deg, 0deg);
              background-color: rgba(0, 0, 0, 0.3);
              .leftNum {
                position: absolute;
                bottom: .3rem;
                left: calc(~"50% - .38rem");
                width: 0.6rem;
                height: 0.2rem;
                color: #ffffff;
                font-size: 0.16rem;
                text-align: center;
                &.in-progress {
                  bottom: .65rem;
                  height: 0.3rem;
                  line-height: 0.3rem;
                  font-size: .3rem;
                }
              }
              .success {
                width: 0.45rem;
                height: 0.45rem;
                background: url('~Res/img/pk/success.png') center no-repeat;
                background-size: 0.45rem 0.45rem;
                display: inline-block;
                position: absolute;
                top: 0.1rem;
                left: 0.1rem
              }
              .fail {
                width: 0.45rem;
                height: 0.45rem;
                background: url('~Res/img/pk/fail.png') center no-repeat;
                background-size: 0.45rem 0.45rem;
                display: inline-block;
                position: absolute;
                top: 0.1rem;
                left: 0.1rem
              }
            }
            position: relative;
            z-index: 99;
            display: inline-block;
            width: 1.6665rem;
            height: 1.486rem;
            overflow: hidden;
            margin-right: 0.07rem;
            margin-left: -0.1rem;
            transform: skew(-9deg, 0deg);
            img {
              background-color: #FFFFFF;
              display: inline-block;
              margin-left: 0.14rem;
              width: 100%;
              height: 100%;
              transform: skew(9deg, 0deg);
            }
            .leftPart {
              margin-left: 0.23rem;
              bottom: 0;
              position: absolute;
              width: 1.6665rem;
              height: 0.3rem;
              background-color: #EC96FF;
              color: #FFFFFF;
              transform: skew(9deg, 0deg);
              .leftName {
                margin-left: -0.1rem;
                font-size: 0.16rem;
                text-align: center;
                display: inline-block;
                width: 100%;
                height: 100%;
                line-height: 0.3rem;
              }
            }
            .transparentBg {
              background-color: transparent;
              color: #FFFFFF;
            }

          }
          .pic2 {
            position: relative;
            margin-left: -0.2rem;
            display: inline-block;
            width: 1.6665rem;
            height: 1.486rem;
            .rightFloatWrap {
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.3);
              .rightNum {
                position: absolute;
                bottom: .3rem;
                left: calc(~"50% - .26rem");
                width: 0.6rem;
                height: 0.2rem;
                color: #ffffff;
                font-size: 0.16rem;
                text-align: center;
                &.in-progress {
                  bottom: .65rem;
                  height: 0.3rem;
                  line-height: 0.3rem;
                  font-size: .3rem;
                }
              }
              .yellowWord {
                color: #F8E71C
              }
              .success {
                width: 0.45rem;
                height: 0.45rem;
                background: url('~Res/img/pk/success.png') center no-repeat;
                background-size: 0.45rem 0.45rem;
                display: inline-block;
                position: absolute;
                top: 0.1rem;
                right: 0.1rem
              }
              .fail {
                width: 0.45rem;
                height: 0.45rem;
                background: url('~Res/img/pk/fail.png') center no-repeat;
                background-size: 0.45rem 0.45rem;
                display: inline-block;
                position: absolute;
                top: 0.1rem;
                right: 0.1rem
              }
            }
            img {
              display: inline-block;
              width: 100%;
              height: 100%;
            }
            .rightPart {
              position: absolute;
              bottom: 0;
              width: 1.6665rem;
              height: 0.3rem;
              background-color: #70C2FF;
              color: #FFFFFF;
              .rightName {
                font-size: 0.16rem;
                text-align: center;
                display: inline-block;
                width: 100%;
                height: 100%;
                line-height: 0.3rem;
              }
            }
            .transparentBg {
              background-color: transparent;
              color: #FFFFFF;
            }
            .yellowWord {
              color: #F8E71C
            }
          }
          .detail_xiexian {
            margin-left: 1.43rem;
            z-index: 99;
            position: absolute;
            top: 0;
            width: 0.285rem;
            height: 1.6rem;
            background: url('~Res/img/pk/square_xiexian.png') no-repeat center;
            background-size: 0.285rem 1.6rem;
          }
          .pkIcon {
            position: absolute;
            top: .5rem;
            left: 50%;
            z-index: 99;
            width: .43rem;
            height: .37rem;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            transform: translateX(-50%);
            background-image: url('~Res/img/pk/pk_icon.png');
          }
          .my-pk-victory,
          .my-pk-lose {
            position: absolute;
            top: .25rem;
            left: 50%;
            z-index: 99;
            width: 1.1rem;
            height: 0.8rem;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            transform: translateX(-50%);
          }
          .my-pk-victory {
            background-image: url('~Res/img/pk/pk-victory@2x.png');
          }
          .my-pk-lose {
            background-image: url('~Res/img/pk/pk-lose@2x.png');
          }
        }
        .unStart {
          width: 3.15rem;
          height: 1.49rem;
          background: url('~Res/img/pk/wrap_square.png') no-repeat center;
          background-size: 3.15rem 1.49rem;
          &.in-progress {
            .leftNum,
            .rightNum {
              bottom: .65rem;
              height: 0.3rem;
              line-height: 0.3rem;
              font-size: 0.3rem;
            }
          }
          .leftNum {
            position: absolute;
            bottom: .3rem;
            left: calc(~"25% - .3rem");
            z-index: 2;
            width: 0.6rem;
            height: 0.2rem;
            color: #ffffff;
            font-size: 0.16rem;
            text-align: center;
          }
          .rightNum {
            position: absolute;
            bottom: .3rem;
            left: calc(~"75% - .3rem");
            z-index: 2;
            width: 0.6rem;
            height: 0.2rem;
            color: #ffffff;
            font-size: 0.16rem;
            text-align: center;
          }
          .leftPart {
            overflow: auto;
            width: 1.135rem;
            height: 0.94rem;
            position: absolute;
            left: 0.1rem;
            top: 0.3rem;
            .content {
              font-size: 0.16rem;
              color: #EC96FF;
              .littile_box {
                display: inline-block;
                width: 0.15rem;
                height: 0.15rem;
                border: solid #6444D4 0.01rem;
                background-color: #FFFFFF;
                vertical-align: text-top;
                margin-right: 0.15rem;
              }
            }

          }
          .rightPart {
            overflow: auto;
            width: 1.135rem;
            height: 0.94rem;
            position: absolute;
            right: 0.1rem;
            top: 0.3rem;
            .content {
              display: inline-block;
              font-size: 0.16rem;
              color: #70C2FF;
              .littile_box {
                vertical-align: text-top;
                margin-right: 0.15rem;
                display: inline-block;
                width: 0.15rem;
                height: 0.15rem;
                border: solid #6444D4 0.01rem;
                background-color: #FFFFFF;
              }
            }
          }
        }
      }
    }
  }
}
