@import '../../../../public-en.less';
.en {
    .SecuritySet {
        // border: 1px solid red;
        padding: 15px 28px 5px;
        .el-form {
            // border:1px solid red;
            padding-bottom: 40px;
            color: #909399;            
        }
    }
}