.zh-cn,
.zh-tw {
    .billCount{
        ul.charts {
            clear: both;
            >li {
                float: left;
                width: 33.3333%;
                text-align: center;
                position: relative;
                color: #606266;
                .chartBox{
                    width: 180px;
                    height: 180px;
                    margin:0 auto;
                }
                // >div {
                //     // border:1px solid red;
                //     height: 180px;
                // }
                >i {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 5px;
                    border-radius: 2px;
                }
                .toUsed {
                    // border: 1px solid red;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -30px;
                    right: 0;
                    font-size: 12px;
                    >div {
                        font-size: 17px;
                        margin-top: 3px;
                    }
                }
            }
            &::after {
                content: '';
                display: table;
                height: 0;
                clear: both;
            }
        }
    }
}