.en {
    .WorkBench {
        @import './public-en.less';//中文共用
        // border: 1px solid #000;
        // 1 部门活跃度              DeptActivity
        // 2 部门内排行              DepartRank 
        // 3 本月TOP10              DeptDepartRank
        // 4 员工工作简报            DeptBriefReport
        // 5 业务员客户分布TOP10     DeptActCustDist
        // 6 部门客户分布            DeptCustDist
        // 7 提醒小秘书              Remind
        // 8 客户分布                CustomerDistribution
        // 9 简报                   SubBriefReport
        // 10 业务员客户分布TOP10    DeptActCustDist 
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        border-radius: 4px 4px 0 0;
        padding: 0 10px 0 0;
        color: #666;
        .wrap {
            // border: 1px solid blue;
            background: #fff;
            padding: 10px 7px 15px;
        }
    }
}