/* 工作台 和 下属 共用样式*/
.title_setting {
    // font-size: 17px;
    color: #666;
    margin:0 8px 10px;
    position: relative;
    >.icon {
        // border: 1px solid red;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -15px;
        color: #C0C4CC;
        >.iconfont {
            font-size: 15px;
            float: left;
            margin: 0 3px 0 0;
        }
        &:hover {
            color: #d0021b;
            cursor: pointer;
        }
    }
}

.workTitle {
    // border:1px solid red;
    padding: 0 13px;
    background: #f4f4f4;
    color: #303133;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    overflow: hidden;
    .remind {
        display: inline-block;
        height: 28px;
        line-height: 28px;
        text-align: center;
        background: rgba(208, 2, 27, 0.06);
        border-radius: 3px;
        border: 1px solid rgba(208, 2, 27, 0.2);
        color: #d0021b;
        padding: 0 10px 0 8px;
        font-size: 12px;
        margin-left: 10px;
        .iconfont {
            font-size: 10px;
        }
        &:hover {
            cursor: pointer;
            background: rgba(208, 2, 27, 0.13);
        }
    }
    ul.tabWrap {
        //  border: 1px solid red;
        float: left;
        height: 100%;
        font-size: 14px;
        padding-top: 5px;
        >li {
            display: inline-block;
            >span {
                // border: 1px solid red;
                display: block;
                width: 65px;
                text-align: center;
                height: 35px;
                line-height: 35px;
                overflow: hidden;
                color: #606266;
                border-bottom-width: 2px;
            }
            &:hover span {
                color: #222;
                cursor: pointer;
            }
            &.active span {
                border-radius: 3px 3px 0 0;
                background: #fff;
                color: #d0021b;
                border-bottom: 2px solid #d0021b;
                cursor: default;
            }
        }
    }
    .el-select {
        // border:1px solid red;
        width: 95px;
        margin-left: 8px;
        margin-top: 1px;
        float: right;
    }
}