.content {
    .fieldShow {
        border: 1px solid transparent;
        // border-width: 1px;
        position: relative;
        .showVal {
            // background: red;
            float: left;
            max-width: 190px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .edit {
            // border: 1px solid red;
            color: #C0C4CC;
            width: 16px;
            height: 16px;
            line-height: 16px;
            text-align: center;
            border-radius: 50%;
            position: absolute;
            right: -25px;
            top: 50%;
            margin-top: -8px;
            display: none;
            .iconfont {
                font-size: 17px;
            }
            &:hover {
                // background: #606266;
                cursor: pointer;
                color: #606266;
            }
        }
    }
    .editShow {
        // 编辑呈现时
        position: absolute;
    }
    .editClose {
        display: inline-block;
        margin-left: 3px;
        i {
            font-size: 12px;
        }
        &:hover {
            color: #d0021b;
            font-weight: bold;
            cursor: pointer;
        }
    }
    &:hover {
        .edit {
            display: inline-block !important;
        }
    }
}