@import '../../public-zh-cn.less';
.zh-cn,
.zh-tw {
    .sendee {
        // 公共样式初始化
        overflow: auto;
        height: 100%;
        border-radius:4px;
        width: 100%;
        .pageTab{
            position: absolute;
            top: 0;
            padding-top:5px;
            padding-right: 27px;
            width: 100%;
        }
    }
}