.en {
    .PrivateLetter {
        .main {
            /*  position: absolute;
            top: 60px;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #fff;
            margin: 0 16px; */
            // padding: 16px;
            .msgBox {
                position: absolute;
                top: 60px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #fff;
                margin: 0 16px;
                // @h: 460px;
                // height: @h;
                // border: 1px solid #d1dade;
                .leftBox {
                    width: 250px;
                    position: absolute;
                    height: 100%;
                    border-right: 1px solid #EFF2F4;
                    .title {
                        height: 40px;
                        line-height: 40px;
                        padding: 0 16px;
                        color: #606266;
                        font-size: 14px;
                        border-bottom: 1px solid #EFF2F4;

                    }
                    .contactsBox {
                        position: absolute;
                        top: 40px;
                        bottom: 0;
                        width: 100%;
                        overflow: auto;
                        .contactsList {
                            margin-bottom: 40px;
                            .item {
                                padding: 0 16px;
                                margin-top: 3px;
                                height: 40px;
                                line-height: 40px;
                                &:hover {
                                    cursor: pointer;
                                    background-color: #fdf2f3;
                                }
                                &.active {
                                    background-color: #fdf2f3;
                                }
                            }
                        }
                    }
                }
                .rightBox {
                    margin-left: 250px;
                    left: 0;
                    right: 0;
                    position: absolute;
                    height: 100%;
                    .title {
                        height: 40px;
                        line-height: 40px;
                        padding: 0 16px;
                        color: #303133;
                        background-color: #EFF2F4;
                        border-bottom: 1px solid #eee;
                        .account {
                            color: #9b9ea3;
                        }
                    }
                    .listBox {
                        position: absolute;
                        width: 100%;
                        top: 40px;
                        bottom: 140px;
                        overflow: auto;
                        padding: 0 16px;
                        .contentList {
                            padding: 16px 0;
                            .item {
                                margin-bottom: 20px;
                                .time {
                                    margin: 0 16px;
                                    color: #b8babc;
                                    transition: all .5s;
                                    opacity: 0;
                                }
                                &:hover {
                                    .time {
                                        opacity: 1;
                                    }
                                }
                                .name {
                                    color: #777a7e;
                                }
                                .content {
                                    max-width: 400px;
                                    background-color: #fdf2f3;
                                    padding: 16px;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                    .btmBox {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        padding: 0 16px;
                        height: 140px;
                        .inputBox {
                            position: relative;
                            height: 75px;
                            padding-right: 75px;
                            .text {
                                height: 100%;
                                width: 100%;
                                display: block;
                                resize: none;
                                border-radius: 4px 0 0 4px;
                                outline: none;
                                padding: 5px;
                                border-right: none 0;
                                line-height: 1.5;
                                border-color: #DFE2E4;
                                &:focus {
                                    border-color: #D0021B;
                                }
                            }
                            .button {
                                position: absolute;
                                width: 75px;
                                right: 0;
                                top: 0;
                                border-radius: 0 4px 4px 0;
                                cursor: pointer;
                                background-color: #D0021B;
                                color: #fff;
                                line-height: 75px;
                                text-align: center;
                                height: 100%;
                            }
                        }
                        .replyAccount {
                            margin-top: 10px;
                        }
                    }

                }
            }
        }
    }
}