.zh-cn,
.zh-tw {
    .LandingPage {
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    }
}
.insertBtn {
    background-color: transparent;
    border: none;
    color: #008CEE;
    outline: none;
    cursor: pointer;
}