.zh-cn,
.zh-tw {
    .MailContact {
        // border: 1px solid red;
        // padding: 15px 0;
        padding:0 15px 55px;
        .pagination {
            //  border: 1px solid red;
             text-align: center;
             background: #fff;
             text-align: center;
             position: fixed;
             left: 314px;
             right: 19px;
             bottom: 0;
             padding: 5px 0 10px;
         }
        .mailList {
            overflow: auto; // border: 1px solid red;
            >dl {
                line-height: 24px; //   border: 1px solid red; //
                >dt {
                    padding: 5px 10px 0;
                    font-size: 12px;
                    color: #909399;
                    background-color: #F7F8F9;
                    text-align: center;
                    border-left: 2px solid transparent; //    border: 1px solid red; //
                }
                >dd {
                    border-left: 2px solid transparent;
                    // background-color: #F7F8F9;
                    min-height: 60px;
                    padding: 10px 20px 11px 40px;
                    border-bottom: 1px solid #EAEDEF;
                    position: relative;
                    .relationBtn {
                        //关联邮件的展开按钮
                        border: 1px solid #ddd;
                        background-color: #fff;
                        border-radius: 3px;
                        position: absolute;
                        top: 50%;
                        margin-top: -6px;
                        right: 10px;
                        padding: 0 5px;
                        line-height: 18px;
                        i {
                            font-size: 12px;
                        }
                        &:hover {
                            color: #E6001F;
                            border-color: #E6001F;
                        }
                    }
                    >aside {
                        // 漂浮按钮，对应邮件快速操作
                        display: none;
                        // background-color: #FFFFFF;
                        padding: 0 0 0 5px;
                        position: absolute;
                        top: 8px;
                        right: 10px;
                        >span {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            line-height: 21px;
                            text-align: center;
                            border-radius: 50%;
                            background-color: #999;
                            color: #fff;
                            i {
                                font-size: 12px;
                            }
                            &:hover {
                                background-color: #E6001F;
                            }
                        }
                    }
                    .leftBtns {
                        width: 20px;
                        position: absolute;
                        left: 10px;
                        top: 9px;
                        bottom: 9px;
                        text-align: center;
                        >div {
                            // border: 1px solid red;
                            .icon-dot:hover {
                                cursor: pointer;
                                border-radius: 50%;
                                -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .3);
                                -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .3);
                                box-shadow: 0 0 6px rgba(0, 0, 0, .3);
                            }
                        }
                        .checkIt {
                            width: 20px;
                            height: 20px;
                            line-height: 23px;
                            margin-bottom: 6px;
                            .el-checkbox {
                                display: none;
                                margin-top: 1px;
                            }
                            .tagStar {
                                color: #f60;
                                font-size: 13px;
                            }
                        }
                        .readDot {
                            width: 20px;
                            height: 20px;
                            margin: 6px 0 2px;
                        }
                        .lamp {
                            &:hover {
                                color: #E6001F;
                            }
                        }
                    }
                    .mailName {
                        color: #333;
                        height: 20px;
                        line-height: 20px;
                        margin-bottom: 2px;
                        border: 1px solid transparent;
                        .pull-right {
                            color: #909399;
                            font-size: 11px;
                        }
                        .name {
                            margin-left: 5px;
                            >em {
                                display: inline-block;
                                font-size: 12px;
                                font-style: normal;
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                text-align: center;
                                border-radius: 50%;
                                margin-left: 1px; // background-color: #f60;
                                color: #fff;
                                &:hover {
                                    cursor: pointer;
                                    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .3);
                                    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .3);
                                    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
                                }
                            }
                        }
                        .customer {
                            // color: #888;
                            >em {
                                // background-color: red; 
                                background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                            }
                        }
                        .strange {
                            // color: #999;
                            >em {
                                background: linear-gradient(135deg, rgba(153, 153, 153, 1), rgba(102, 102, 102, 1));
                            }
                        }
                        .tag {
                            height: 20px;
                            line-height: 20px;
                        }
                        .pull-right {
                            i {
                                font-size: 13px;
                            }
                        }
                    }
                    .shortName {
                        font-size: 14px;
                        color: #222222;
                    }
                    .mailTitle {
                        border: 1px solid transparent;
                        color: #333;
                        height: 17px;
                        line-height: 17px;
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin: 4px 0 2px;
                        .iconfont {
                            font-size: 13px;
                            float: left;
                            margin: 1px 3px 0 0;
                            color: #666;
                        }
                        >span {
                            font-size: 12px;
                            color: #222222;
                        }
                    }
                    .mailBrief {
                        border: 1px solid transparent;
                        height: 16px;
                        line-height: 16px;
                        width: 90%; // color: #ccc;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 11px;
                        color: #909399;
                    }
                    &.new {
                        .mailTitle {
                            color: #222222;
                            font-weight: bold;
                        }
                        .lamp {
                            color: #f60;
                        }
                    }
                    &.old {
                        .readDot::before {
                            background-color: #ccc;
                        }
                    }
                    &.relation {
                        display: none;
                        background-color: #eee;
                    }
                    &.active {
                        background-color: #FFFFFF; // box-shadow: 0 0 9px rgba(0, 0, 0, .3);
                        border-left-color: #D0021B;
                        z-index: 2;
                        &+dd {
                            border-top-color: transparent;
                        }
                    }
                    &:hover {
                        // border-top-color: red;
                        // border-top: 1px solid #ddd;
                        // border-left: none;
                        // border-right: none;
                        // // border-bottom-color: #ddd;
                        // // background-color: #FFFFFF; // background-color: red;
                        // // box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
                        // z-index: 2;
                        // cursor: default;
                        background:rgba(208,2,27,0.05);
                        >aside,
                        .leftBtns .checkIt .el-checkbox {
                            display: inline-block;
                        }
                        .leftBtns .checkIt .tagStar {
                            display: none;
                        }
                        .mailName .tagClass {
                            // border: 1px solid      red;
                            display: none;
                        }
                        &+dd {
                            border-top-color: transparent;
                        }
                        .mailName .pull-right{
                            display: none;
                        }
                    }
                    &:nth-child(2) {
                        border-top: none;
                    }
                }
            }
        }
    }
}