.zh-cn,
.zh-tw {
    .GoodsMsg{
        min-height: 80px;
        padding: 16px 0;
        .contactTitle{
            height: 40px;
            line-height: 40px;
            padding-left:16px;
            margin-bottom: 10px; 
            color: black;
            font-weight: bold;
            background: #FAFAFA;
        }
        .goodsBox{
            margin-left:16px;
            padding-bottom: 20px;
            .miniButton{
                color:#D0021B;
                border-color:#D0021B;
                padding: 4px 9px;
            }
            .closeButton{
                color:#909399;
                border-color:#909399;
                padding: 4px 9px;
            }
            .goodsOpt{
                height: 28px;
                margin: 16px 0;
            }
            .tableBox{
                width: 100%;
                padding-bottom: 10px;
                padding-right: 40px;
                position: relative;
                .floatLeft{
                    position: absolute;
                    left: 0;
                    z-index: 1;
                }
                .floatRight{
                    width: 100%;
                    overflow: auto;
                    padding-left: 359px;
                }
                table{
                    font-size: 12px;
                    border: 1px solid rgba(192,196,204,1);
                    margin-right: 40px;
                    .list{
                        td{
                            min-width: 48px;
                            height: 49px;
                            text-align: center;
                            border: 1px solid rgba(192,196,204,1);
                            color: #222222;
                            position: relative;
                            background: white;
                            padding: 0 10px;
                            .imgBox{
                                width:32px;
                                height:32px;
                                display: inline-block;
                                position: relative;
                                vertical-align: middle;
                                z-index: 11;
                                img{
                                    border-radius: 2px;
                                }
                                .imgNum{
                                    position: absolute;
                                    right: -8px;
                                    top: -4px;
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 8px;
                                    background: #D0021B;
                                    color: white;
                                    line-height: 16px;
                                    text-align: center;
                                    font-size: 12px;
                                    -webkit-transform: scale(0.84);
                                    transform: scale(0.84);
                                }
                                &:hover{
                                    .setImg{
                                        display: inline-block;
                                    }
                                    + .largeImgBox{
                                        display: inline-block;
                                    }
                                }
                                .setImg{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width:32px;
                                    height:32px;
                                    line-height: 32px;
                                    background:rgba(0,0,0,0.4);
                                    border-radius:2px;
                                    display: none;
                                    .setBut{
                                        display: inline-block;
                                        width:28px;
                                        height:20px;
                                        line-height:20px;
                                        background:rgba(255,255,255,0.9);
                                        border-radius:2px;
                                        color: #D0021B;
                                    }
                                }
                            }
                            
                            .imgBoxNo{
                                width:32px;
                                height:32px;
                                display: inline-block;
                                position: relative;
                                vertical-align: middle;
                                background:rgba(250,250,250,1);
                                border-radius:2px;
                                border:1px solid rgba(192,196,204,1);
                                text-align: center;
                                padding-top: 2px;
                                color: #C0C4CC;
                                font-size: 12px;
                                div{
                                    height: 9px;
                                }
                            }
                            .largeImgBox{
                                display: none;
                                position: absolute;
                                left: ceil(100% + 20px);
                                top: -32px;
                                width: 400px;
                                height: 400px;
                                margin-top: -200px;
                                z-index: 3;
                            }
                            .iconfont{
                                font-size: 12px;
                                color: #909399;
                            }
                            .listOpt{
                                position: absolute;
                                width:409px;
                                height: 38px;
                                line-height: 38px;
                                background:rgba(255,255,255,1);
                                box-shadow:0px 2px 10px 0px rgba(0,0,0,0.2);
                                border-radius:2px;
                                z-index: 1;
                                .optLine{
                                    display: inline-block;
                                    width:1px;
                                    height:24px;
                                    background:rgba(192,196,204,1);
                                    position: relative;
                                    top: 8px;
                                }
                                .top{
                                    display: inline-block;
                                    width: 0;
                                    height: 0;
                                    margin-left: 2px;
                                    vertical-align: middle;
                                    border-bottom: 4px solid white;
                                    border-right: 4px solid transparent;
                                    border-left: 4px solid transparent;
                                    position: absolute;
                                    left: 50%;
                                    top: -4px;
                                    // display: inline-block;
                                    // top: -6px;
                                    // left: 50%;
                                    // margin-right: 3px;
                                    // border-top-width: 0;
                                    // border-bottom-color: #EFF2F4;
                                    // border-width: 6px;
                                }
                            }
                            input{
                                width:80px;
                                height: 28px;
                                line-height: 28px;
                                border: 0px solid #DFE2E4;
                                padding: 0 4px;
                                outline:none;
                                border-radius: 3px;
                                color: #222222;
                                font-size: 12px;
                                text-align: center;
                            }
                            /* 谷歌 */
                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                appearance: none;
                                margin: 0;
                            }
                            /* 火狐 */
                            input{
                                -moz-appearance:textfield;
                            }
                            input:focus{
                                border: 0px solid #D0021B;
                            }
                        }
                        &:hover{
                            background:#E7F5FF;
                        }
                    }
                    .list1{
                        background:#E7F5FF;
                    }
                    .title, .bottom{
                        th{
                            padding: 0 10px;
                            font-weight: normal;
                            height: 33px;
                            >div{
                                width: 80px;
                            }
                        }
                    }
                    .title{
                        th{
                            border: 1px solid rgba(192,196,204,1);
                        }
                    }
                    .title{
                        background:#F7F8F9;
                        color: #606266;
                    }
                    .bottom{
                        background: #eee;
                        color: #222222;
                        .bottomAll{
                            background: #909399;
                            width:68px;
                            line-height: 20px;
                            height:20px;
                            border-radius:2px;
                            color: white;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}