@import '../../../public-en.less';
.en {
    .DevelopmentLetter {
        overflow: auto;
        height: 100%;
        padding: @pagePadding;
        .Window {
            width: 100%;
            position: relative;
            margin-top: -9px;
            height: 555px;
            .menu {
                width: 235px;
                height: 100%;
                overflow: auto;
                border-right: 1px solid #d1dbe5;
                position: absolute;
                z-index: 1;
                >.text-center {
                    padding: 12px 0 10px;
                }
            }
            .navWindow {
                padding-left: 251px;
                position: relative;
                height: 100%;
                overflow: auto;
            }
        }
    }
}