@import '../../../public-zh-cn.less';
.zh-cn,
.zh-tw {
    .DevelopmentLetter {
        .menu {
            width: 235px;
            height: 100%;
            overflow: auto;
            border-right: 1px solid #d1dbe5;
            position: absolute;
            z-index: 1;
            >.text-center {
                padding: 12px 0 10px;
            }
        }
        .navWindow {
            padding-left: 251px;
            position: relative;
            height: 100%;
            overflow: auto;
        }
    }
}