
.zh-cn,
.zh-tw {
    .title{
        min-height:106px;
        background:rgba(255,183,53,0.08);
        border-radius:4px;
        border:1px solid rgba(234,237,239,1);
        font-size: 14px;
        padding:21px 25px 21px 59px;
        position: relative;
        .close{
            position: absolute;
            right: 25px;
            bottom: 18px;
            height:24px;
            line-height: 24px;
            text-align:center;
            color: #008cee;
        }
        .titleList{
            .titleIcon{
                display: inline-block;
                width:24px;
                height:24px;
                border-radius:12px;
                text-align: center;
                line-height: 24px; 
                background:rgba(255,183,53,1);
                color: white;
                font-size: 18px;
                position: absolute;
                left: 27px;
                top:18px;
            }
            .titleContent1{
                font-size:16px;
                color:rgba(48,49,51,1);
            }
            .titleContent{
                color:rgba(48,49,51,1);
            }
        }
        .titleList1{
            margin-top: 23px;
        }
    }
}