.zh-cn,
.zh-tw {
    .list-item {
        padding: 0 10px;
        height: 32px;
        line-height: 32px;
        margin-bottom: 1px;
        &:hover,
        &.active {
            cursor: pointer;
            background: #fdf2f3;
        }
        &.disabled {
            background-color: #fff !important;
            color: #DFE2E4;
            cursor: not-allowed !important;
        }
    }
}