.en {
    .bulletinItem {
        .title {
            span {
                font-size: 20px;
                color: #000;
            }
        }
        .infoBox {
            height: 40px;
            line-height: 20px;
            padding: 0 0 20px 0;
            border-bottom: 1px dashed rgba(229, 229, 229, 1);
            margin: 8px 0 13px 0;
            color: #909399;
            li {
                margin-right: 20px;
                font-size: 13px;
                height: 20px;
                line-height: 22px;
                span {
                    float: left;
                    vertical-align: bottom;
                }
                .iconfont {
                    height: 20px;
                    width: 20px;
                    float: left;
                    text-align: center;
                    line-height: 20px;
                    margin-right: 2px;
                    color: #909399;
                }
                &.zan {
                    &:hover {
                        cursor: pointer;
                    }
                    &.active {
                        color: #FF7165;
                        .iconfont {
                            color: #FF7165;
                        }
                    }
                }
            }
        }
        .summary {
            span {
                font-size: 14px;
                color: #6B6B6B;
                line-height: 20px;
            }
        }
        &.isList {
            margin-bottom: 45px;
            .summary,
            .title {
                .canClick {
                    cursor: pointer;
                }
            }
            .infoBox {
                height: 20px;
                padding: 0;
                border-bottom: none 0;
            }
        }
        &>.content {
            max-width: 800px;
            position: relative;
            /*   .artBox {
                width: 100%;
            } */
        }
    }
}