.en {
    .Item {
        border-bottom: 1px solid #eff2f4;
        &:nth-last-of-type(1) {
            border-bottom: none 0;
        }
        .listRow {
            background-color: #fff;
            min-height: 55px;
            border-bottom: 1px solid #edeff1;
            &:nth-last-of-type(1) {
                border-bottom: none 0;
            }
            &:hover {
                background-color: #fdf2f3;
                .listItem {
                    .optBox {
                        display: block;
                    }
                }
            }
            .listItem {
                padding: 15px 0 15px 30px;
                line-height: 24px;
                font-size: 12px;
                color: #303133;
                position: relative;
                .optBox {
                    display: none;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    .iconfont {
                        cursor: pointer;
                        float: left;
                        margin-right: 10px;
                        width: 24px;
                        height: 24px;
                        background: linear-gradient(135deg, #ff697c, #d0021b);
                        color: #fff;
                        border-radius: 50%;
                        line-height: 24px;
                        text-align: center;
                        font-size: 12px;
                        &:hover {
                            background: linear-gradient(135deg, #ff94a1, #f7243e)
                        }
                        &:nth-last-of-type(1) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}