.zh-cn,
.zh-tw {
    .TwolevelNav {
        width: 230px;
        height: 100%;
        // padding: 12px 0;
        background-color: #fff;
        position: absolute;
        z-index: 2;
        // overflow-y: auto;
        border-radius: 8px 0 0 0;
        box-shadow:4px 0px 5px 0px rgba(0,0,0,0.05);
        .bottomNavBox{
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            .bottomNav{
                margin: 0 auto;
                width:120px;
                height:40px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                font-size: 14px;
                background:rgba(208,2,27,1);
                border-radius:2px;
                >i{
                    margin-right: 4px;
                    position: relative;
                    top: 1px;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}