.en {
    .customerLists{
        .customerListsBox{
            position: absolute;
            top:84px;
            left: 0;
            right: 0;
            bottom: 68px;
            // overflow: auto;
            padding:0 15px;
            .titleTimeControl{
                display: inline-block;
                padding-right:30px; 
                position: absolute;
                right: 20px;
                top:25px;
                min-width: 88px;
                max-width: 128px;
                color: #606266;
                .titleTimeBox{
                    position: absolute;
                    top: 1px;
                    right: 12px;
                    width: 12px;
                    height: 20px;
                    display: inline-block;
                    >div{
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                    }
                    .triangle-up-grey{
                        border-bottom: 6px solid #cdcdcd;
                    }
                    .triangle-down-grey{
                        border-top: 6px solid #cdcdcd;
                    }
                    .triangle-up-blue{
                        border-bottom: 6px solid #D0021B;
                    }
                    .triangle-down-blue{
                        border-top: 6px solid #D0021B;
                    }
                    .triangle-down-grey {
                        margin-top: 2px;
                    }
                    .triangle-down-blue {
                        margin-top: 2px;
                    }
                }
            }
            .customerGroup{
                width: 100%;
            }
        }
       
    }
    .boxList{
        height:32px;
        line-height: 32px;
        background:#F7F8F9;
        color: #606266;
        border-radius:4px 4px 0px 0px;
        padding-left:34px;
        padding-right:250px;
        position: relative;
        margin-top:16px;
        overflow: hidden;
        .customsBox{
            position: absolute;
            top: 0;
            right:250px;
            width: 120px;
        }
        .posRight{
            position: absolute;
            top: 0;
            height: 100%;
            right:95px;
            width: 90px;
        }
    }
    .customerTables{
        position: absolute;
        top: 48px;
        left: 15px;
        right: 0;
        bottom: 0;
        // overflow: auto;
        padding-right:15px;
        .titleTime{
            padding-left:34px;
            height: 24px;
            line-height: 24px;
            color: #222222;
            background: #EAEAEA;
            .iconfont{
                position: absolute;
                left: 12px;
                font-size: 12px;
            }
        }
        .customerListView{
            // >:last-child{
            //     border-bottom:0;
            // }
            li{
                background: white;
                padding:10px 370px 5px 34px; 
                border-bottom:1px solid #f7f8f9;
                position:relative;
                height: 60px;
                .custName{
                    line-height: 16px;
                    font-size: 14px;
                }
                .iconfont{
                    font-size: 12px;
                }
                >:nth-child(2){
                    color:#222222;
                    >:nth-child(1){
                        font-weight: bold;
                    }
                }
                >:nth-child(3){
                    margin-top:2px; 
                }
                .starBox{
                    position: absolute;
                    left: 9px;
                    top: -1px;
                    width:16px;
                    height:16px;
                    text-align: center;
                    line-height: 16px;
                    color: rgba(208,2,27,1);
                }
                .listCheckNone1,.listCheckNone,.listChecks{
                    position:absolute;
                    top:24px;
                    left:10px;
                }
                .listCheckNone1,.listChecks{
                    display: inline-block;
                }
                .listCheckNone{
                    display: none;
                }
                .listCheck{
                    display: none;
                }
                .customerInfo{
                    .el-dropdown-menu__item {
                            line-height: 30px;
                            height: 30px;
                    }
                    .listMenu{
                        display: none;
                    }
                    .toCustomerDetai{
                        display: none;
                    }
                }
                .listTimes1{
                    position:absolute;
                    top:10px;
                    right:95px;
                    width: 90px;
                }
                .listTimes2{
                    position:absolute;
                    bottom:8px;
                    right:95px;
                    width: 90px;
                }
                .listTimes3{
                    position:absolute;
                    top:12px;
                    right:18px;
                    width: 177px;
                }
                .listTimes{
                    position:absolute;
                    top:10px;
                    right:20px;
                    width: 70px;
                }
                .listControl1{
                    display: none;
                }
                .customsBox{
                    position: absolute;
                    top: 12px;
                    right: 250px;
                    width: 120px;
                    height: 56px;
                    >div{
                        height: 17px;
                        line-height: 17px;
                    }
                }
                .customerMessage{
                    color: gray;
                    .track, .trackNodata{
                        padding:0 110px 0 6px;
                        position:relative;
                        display: inline-block;
                        max-width: 100%;
                        background: #F7F8F9;
                        border-radius: 3px;
                        height: 24px;
                        line-height: 24px;
                        i{
                            color:#909399;
                        }
                        .trackName{
                            width:104px;
                            text-align:left;
                            position:absolute;
                            right:0px;
                            top: 6px;
                            // bottom:0;
                        }
                    }
                    .trackNodata{
                        padding:0 10px 0 6px;
                    }
                }
                .font-white{
                    color:white;
                }
                .font-right{
                    text-align: right;
                }
                .rank-box{
                    width:100px;
                    display:inline-block;
                    color: rgb(153, 153, 153);
                    .score{
                        display:inline-block;
                        text-align:center;
                        width:38px;
                        height:20px;
                        line-height: 20px;
                        background:rgba(192,196,204,1);
                        border-radius:10px;
                        .iconfont{
                            margin-right:4px; 
                        }
                        .scale{
                            transform:scale(0.5);
                            -ms-transform:scale(0.5); 	/* IE 9 */
                            -moz-transform:scale(0.5); 	/* Firefox */
                            -webkit-transform:scale(0.5); /* Safari 和 Chrome */
                            -o-transform:scale(0.5); 	/* Opera */
                        }
                    }
                }
            }
            >li:hover{
                background:#FAFAFA;
                .listTime,.listTimes,.listTimes1,.listTimes2{
                    display: none;
                }
                .listTimes3{
                    display: inline-block;
                }
                .toCustomerDetai{
                    display: inline-block;
                }
                .listCheck{
                    display: inline-block;
                }
                .listMenu{
                    display: inline-block;
                }
                .listCheckNone{
                    display: inline-block;
                }
                .listCheckNone1{
                    display: none;
                }
            }
            
        } 
    }
}