.dialogWrap {
    position: relative;
    height: 100%;
    width: 100%;
    background: #F7F8F9;
    padding: 15px;
    padding-top: 0;
    .pageTitle {
        top: 0;
        left: 15px;
        right: 15px;
    }
    .tableBox {
        padding: 15px;
        padding-top: 60px;
        height: 100%;
        width: 100%;
        background: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        .tableChioceBox {
            overflow: hidden;
            height: 45px;
            border-bottom: 1px solid #EAEDEF;
        }
        .btnBox {
            float: right;
            .el-button {
                margin-left: 10px;
            }
        }
        .selectBox {
            float: left;
            width: 130px;
        }
        .tableMain {
            flex: 1;
            // overflow-y: auto;
            padding-top: 15px;
        }
        .pagination {
            text-align: center;
            margin-top: 15px;
        }
    }
}
.tablewrap {
    flex: 1;
    overflow-y: auto;
    padding-top: 15px;
}