.zh-cn,
.zh-tw {
    .DialogInDistribute {
        .el-form {
            padding: 0 50px 0 10px;
        }
        .marginTop-10 {
            margin-top: -10px;
        }
        .marginTop-20 {
            margin-top: -20px;
        }

        
    }
}