.zh-cn,
.zh-tw {
  .searchBox {
    margin-bottom: 10px;

    .searchItemLabel {
      width: 90px;
      float: left;
      margin-top: 8px;
      .textLabel{
        // border: 1px solid red;
          display: inline-block;
          width: 70px;
          height: 22px;
          overflow: hidden;
      }
      .el-dropdown{
          float: right;
          margin-top: 2px;
      }
    }

    .searchContent {
      margin-left: 110px;
    }
  }
  .tableClass {
     td {
         padding: 5px 36px;
         .tdTitle {
             display: inline-block;
             padding: 5px 5px 0 0;
         }
     }
     tr.titleClass td div {
         border-bottom: 1px solid #ddd;
         color: #222;
         font-weight: bold;
         margin: 8px 0 5px;
         padding: 0 0 3px;
     }
     .f-width {
         width: 300px;
     }
 }

}
