.zh-cn .searchBox,
.zh-tw .searchBox {
  margin-bottom: 10px;
}
.zh-cn .searchBox .searchItemLabel,
.zh-tw .searchBox .searchItemLabel {
  width: 90px;
  float: left;
  margin-top: 8px;
}
.zh-cn .searchBox .searchItemLabel .textLabel,
.zh-tw .searchBox .searchItemLabel .textLabel {
  display: inline-block;
  width: 70px;
  height: 22px;
  overflow: hidden;
}
.zh-cn .searchBox .searchItemLabel .el-dropdown,
.zh-tw .searchBox .searchItemLabel .el-dropdown {
  float: right;
  margin-top: 2px;
}
.zh-cn .searchBox .searchContent,
.zh-tw .searchBox .searchContent {
  margin-left: 110px;
}
.zh-cn .tableClass td,
.zh-tw .tableClass td {
  padding: 5px 36px;
}
.zh-cn .tableClass td .tdTitle,
.zh-tw .tableClass td .tdTitle {
  display: inline-block;
  padding: 5px 5px 0 0;
}
.zh-cn .tableClass tr.titleClass td div,
.zh-tw .tableClass tr.titleClass td div {
  border-bottom: 1px solid #ddd;
  color: #222;
  font-weight: bold;
  margin: 8px 0 5px;
  padding: 0 0 3px;
}
.zh-cn .tableClass .f-width,
.zh-tw .tableClass .f-width {
  width: 300px;
}
