
.en {
    .title{
        .titleList{
            height: 40px;
            line-height: 40px;
            font-size: 12px;
            border-bottom:1px solid #f2f2f2;
            .titleContent{
                color: black;
                min-height: 50px;
                margin-left: 15px;
            }
        }
        .titleList:last-child{
            border-bottom:0;
        }
    }
}