.zh-cn,
.zh-tw {
    .MXOrder {
        .SystemMessage {
            z-index: 2001;
        }
    }
    .SystemMessage {
        width: 280px;
        height: 160px;
        padding: 0px 10px 0px 10px;
        background-color: #ffffff;
        opacity: 1;
        position: absolute;
        z-index: 10;
        right: 10px;
        bottom: -160px;
        border-radius: 3px;
        border: 1px #cccccc solid;
        overflow: hidden;

        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transform: all .5s;
        -o-transition: all .5s;
        -ms-transform: all .5s;
        .title {
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            border-bottom: 1px #cccccc solid;
            color: rgb(108, 112, 117);
            position: relative;
            .notice {
                font-size: 14px;
                margin-right: 5px;
            }
            .close {
                font-size: 12px;
                float: right;
                padding: 0 10px 0 10px;
                cursor: pointer;
                color: #A7A7A7;
            }
        }
        .content {
            min-height: 60px;
            padding: 20px 20px 0px 20px;
            overflow: hidden;
            position: relative;
            line-height: 20px;
            overflow: hidden;
            color: #8391a5;
            white-space: normal;
            word-break: break-all;
        }
        .operation {
            width: 110px;
            padding-top: 10px;
            position: relative;
            margin: 0 auto;
            select {
                border: none;
                outline: none;
                background-color: #ffffff;
                cursor: pointer;
            }
        }
        .setDelayBox {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 100%;
            background-color: #ffffff;
            transition: all .2s;
            -webkit-transition: all .2s;
            -moz-transform: all .2s;
            -o-transition: all .2s;
            -ms-transform: all .2s;
            .setDelayTitle {
                height: 30px;
                line-height: 30px;
                font-size: 12px;
                text-indent: 20px;
                color: #444444;
                background-color: #e7e7e7;
            }
            .setDelayTimeBox {
                width: 70%;
                height: 40px;
                margin: 20px auto;
            }
            .setDelayButtonBox {
                width: 110px;
                height: 30px;
                margin: 10px auto;
            }
        }
        .setDelayBoxShow {
            left: 0px;
        }
    }
}