.zh-cn,
.zh-tw {
    .DeptMonthTrend {
       
        .NoDataCss{
            margin-left:120px;
            padding-top: 80px;
        }

        .workBody {
            height: 235px;
            background-color: #fff;
            position: relative;
            border-radius: 0 0 5px 5px;
            // margin-left: 10px;
            .lineTwo{
                border-bottom: none;
                .text-blue-light{
                    margin-top: 5px;
                }
                .el-col::after{
                    content: "";
                    width: 1px;
                    position: absolute;
                    top:10px;
                    right: 0;
                    bottom: 1px;
                    background: #ddd;
                }
                .el-col:nth-child(3n)::after{
                    content: none;
                }
            }

            //月走势图
            .chartMonth{
                padding:15px;
                height:253px;
                overflow: hidden;
            }
        }

        >.workBody::before{
            content: '';
            width:1px;
            background: #eee;
            position: absolute;
            left:50%;
            margin-left: -1px;
            top:20px;
            bottom: 15px;
        }
        

  
    }
}