.zh-cn,
.zh-tw {
    .DialogJunkMail {
        .el-form {
            padding: 0 20px;
        }
        .marginTop-10 {
            margin-top: -10px;
        }
        .notice{
            line-height: 20px;
            margin-top: -5px;
            padding-left: 18px;
            color: #999;
        }
        
    }
}