.list {
    min-width: 1024px;
    height: 100%;
    position: relative;
    padding: 55px 14px 0;
    .wrapBox {
        width: 100%;
        height: 100%;
        background-color: #fff;
        .wrapScroll {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: #fff;
            // overflow-y: auto;
            border-radius: 8px;
            .subtitleBox {
                background-color: #fff;
                position: relative;
                .subtitle {
                    width: 70%;
                    height: 60px;
                    font-size: 14px;
                    line-height: 60px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-left: 20px;
                }
                .addButton {
                    position: absolute;
                    right: 20px;
                    top: 14px;
                }
            }
        }
    }
}
.MXscroll {
    .insertBtn {
        background-color: transparent;
        border: none;
        color: #008CEE;
        outline: none;
        cursor: pointer;
    }
    .optButton {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
        border-radius: 12px;
        color: white;
        text-align: center;
        line-height: 24px;
        margin-left: 6px;
        font-size: 12px;
        &:hover {
            cursor: pointer;
            background: linear-gradient(135deg, rgba(255, 148, 161, 1), rgba(247, 36, 62, 1));
        }
        &:link {
            cursor: pointer;
            background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
        }
    }
    tr {
        &:hover {
            .iconBox {
                display: block;
            }
        }
        .iconBox {
            display: none;
        }
    }
}
.el-table::before {
    background-color: #fff;
}