@import '../../../public-en.less';
.en {
    .TemplateManage {
        // 公共样式初始化
        overflow: auto;
        height: 100%;
        padding: @pagePadding; //列表
        .coverDiv {
            position: absolute;
            left: 0;
            top: 45px;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .1);
            z-index: 999999;
            // border: 1px solid red;
        }
        .list {
            .operation {
                margin-bottom: 12px;
            }
            table {
                tbody {
                    .cell {
                        color: #666;
                    }
                }
            }
        }
        .table {
            // border: 1px solid red;
            margin-bottom: 15px;
            width: 100%;
            min-width: 755px;
            border-collapse: collapse;
            caption {
                text-align: left;
            }
            >caption {
                padding-bottom: 10px;
            }
            th {
                padding: 5px 18px;
                text-align: left;
                color: #555;
            }
            td {
                padding: 5px 18px;
                color: #666;
            }
        }
        .tempScroll{
            // border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            max-height: 500px;
            margin-bottom: -10px;
            overflow: auto;    
            // border: 1px solid red;        
        }
        .iframe{
            // border: 1px solid red;
            margin-top: -15px;
            margin-bottom: -15px;
            max-height: 450px;
            overflow: hidden;
        }
    }
}