.en {
    .MailNotify {
        .toolBar {
            .search {
                width: 150px;
            }
        }
        .notifyListBox {
            margin-top: 8px;
            .headerBox {
                height: 32px;
                line-height: 32px;
                background-color: #EFF2F4;
                .item {
                    padding-left: 10px;

                }
            }
            .bodyBox {
                height: 320px;
                overflow: auto;
                .row {
                    padding: 12px 0;
                    height: 54px;
                    line-height: 30px;
                    border-bottom: 1px solid #eff2f4;
                }
                .item {
                    padding-left: 10px;
                    position: relative;
                    &.checkBoxItem {
                        padding-left: 24px;
                    }
                    .checkbox {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 18px;
                        overflow: hidden;
                    }

                }
            }
        }
    }
}