.zh-cn,
.zh-tw {
    .tabIndex {
        .mainBody {
            background: #f7f8f9;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            position: absolute;
            top: 52px;
            left: 15px;
            right: 15px;
            bottom: 0;
            .toolbar {
                background-color: #fff;
                height: 72px;
                line-height: 72px;
                padding: 0 20px;
                border-bottom: 1px solid #EAEDEF;
                border-radius: 4px 4px 0px 0px;
                .search {
                    width: 200px;
                }
            }
            .contentBox {
                background-color: #fff;
                padding: 0 20px 30px;
                position: absolute;
                top: 72px;
                bottom: 0;
                overflow: auto;
            }
        }
    }
}