.progress-wrapper {
  display: block;
  width: 100%;
  vertical-align: middle;
}

.progress-total {
  display: block;
  width: 100%;
  height: .12rem;
  background-color: #eeeeee;
  border-radius: 0.06rem;
  overflow: hidden;
  .progress-has {
    height: 100%;
    width: 0;
    border-radius: 1rem;
    background-image: linear-gradient(90deg, #FF9F00 0%, @color-primary 100%);
    transition: width 0.4s;
    &.default-state {
      background-image: none;
      background-color: #cccccc;
    }
  }
}

.progress-info {
  height: .28rem;
  line-height: .33rem;
  margin-bottom: .08rem;
  text-align: left;
  font-size: .24rem;
  color: #666666;
  .clearfix();
  .progress-count {
    display: inline-block;
    vertical-align: top;
  }
  .progress-tips {
    float: right;
  }
}
