.zh-cn,
.zh-tw {
    .StrategyDes {
        position: absolute;
        left: 15px;
        right: 15px;
        top: 55px;
        bottom: 0;
        border-radius: 4px 4px 0 0;
        overflow: auto;
        background-color: #fff;
        padding: 30px;
        .formBox {
            width: 370px;
        }
    }
}