@import '../../../public-zh-cn.less';

.zh-cn,
.zh-tw {
    .guideType {
        .step {

            margin: 0px 16px;

            .box01 {
                color: #909399;
                width: 258px;
                height: 60px;
                border: 1px solid #EAEAEA;
                position: relative;
                text-align: center;
                /* line-height: 60px; */
                position: relative;
                border-right: none;
                float: left;

                .divclass {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .spanicont {
                        border: 1px #909399 solid;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        border-radius: 20px;
                        position: relative;
                        /* padding: 5px; */
                        /* line-height: 1; */
                        text-align: center;
                    }

                }

            }

            .box02 {
                height: 43px;
                width: 43px;
                position: absolute;
                right: 0;
                /* z-index: 1; */
                top: 50%;
                border: 1px solid #EAEAEA;
                -webkit-transform: translate3d(50%, -50%, 0) rotate(45deg);
                transform: translate3d(50%, -50%, 0) rotate(45deg);
                border-left: none;
                border-bottom: none;
            }



        }

        .stepDetail {}
    }
}
