@import '../../public-zh-cn.less';
.zh-cn,
.zh-tw {
    .Feedback {
        height: 100%;
        .FeedbackBox{
            margin-top: 54px;
            color:#6B6B6B;
            font-size: 14px;
            width: 100%;
            .FeedbackBoxSearch{
                height:50px;
                line-height: 50px;
                background:rgba(255,255,255,1);
                border-radius:4px;
                padding: 0 9px 0 32px;
                font-size:14px;
                
                color:RGBA(144, 147, 153, 1);
                .operationBut{
                    float: right;
                    margin-top: 7px;
                }
            }
            .listBox{
                position: absolute;
                top: 105px;
                left:15px;
                right:11px;
                bottom: 80px;
                overflow-y: auto;
                overflow-x: hidden;
                .FeedbackBoxList{
                    overflow: auto;
                    font-size: 12px;
                    overflow-x: hidden;
                    .list{
                        height: 36px;
                        line-height: 36px;
                        padding:0 43px;
                    }
                    .list1{
                        height: 55px;
                        line-height: 55px;
                        padding:0 43px;
                        border-bottom:1px solid #f7f8f9; 
                        background: white;
                        position: relative;
                        .workState{
                            display: inline-block;
                        }
                        .iconBox{
                            display: none;
                            text-align: center;
                            width: 100%;
                        }
                    }
                    .list1:hover{
                        background: #fcf2f3;
                        .workState{
                            display: none;
                        }
                        .iconBox{
                            display: inline-block;
                            .iBox {
                                margin:0 5px;
                                display: inline-block;
                                width:24px;
                                height:24px;
                                background:linear-gradient(135deg,rgba(255,105,124,1),rgba(208,2,27,1));
                                border-radius:12px;
                                line-height: 24px;
                                text-align: center;
                                i{
                                    color: white;
                                    font-size: 12px;
                                }
                                &:hover {
                                    cursor: pointer;
                                    background:#E6001F;
                                }
                            }
                        }
                    }
                }
                
                .FeedbackBoxTit{
                    margin-top: 0;
                }
            }
        }
    }
}