.zh-cn,
.zh-tw {
    .loginLog {
        // border:1px solid red;
        padding: 15px 0;
        overflow: auto;
        position: relative;
        .el-form {
            padding: 0 15px;
            color: #909399;
        }
        .tableBox {
            height: calc(100% - 100px);
            overflow: auto;
        }
        .pagination {
            //分页
            // border: 1px solid red;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            padding: 5px 0;
        }
    }
}