<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<body>
    <div id="app">
        <div v-for="(item,key,index) of userInfo">
            {{item}} --- {{key}} --- {{index}}
        </div>
        <p v-for="nItem of arr">数字是：{{nItem}}</p>
    </div>
</body>
<script>

var vm = new Vue({
    el:"#app" ,
    data :{
        userInfo:{
            name:"Dell" ,
            age:28 ,
            gender:"male",
            salary:"secret"
        },
        arr:[1,2,3,4]
    },
    mounted(){ //Vue和实例都有set方法,改变data后可以更新页面
        Vue.set(this.userInfo,"address","beijing") ;//向对象增加值
        this.$set(this.userInfo,"zhiwei","teacher") ;

        Vue.set(this.arr,1,9)
    }
})
    
</script>
</html>