.en {
    .Document {
        height: 100%; // position: relative;
        .rightNav {
            position: relative;
            border-right: 1px solid #eaeaea;
            /*  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.05); */
        }
        .childrenWindow {
            position: absolute;
            left: 240px;
            right: 0;
            top: 0;
            bottom: 0;
            /*   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05); */
            border-radius: 0px 6px 0px 0px;
            overflow: hidden;
        }
    }
}