@import '../../../../public-zh-cn.less';
.zh-cn,
.zh-tw {
    .FeedbackDetail {
        // 公共样式初始化
        position: relative;
        background: #f4f5f6;
        // 公共样式初始化
        overflow: auto;
        height: 100%;
        padding: @pagePadding; //列表
        padding-right:285px; 
        .title{
            min-height: 100px;
        }
        .FeedbackBox{
            color:#666;
            margin-top: 16px;
            font-size: 14px;
            padding-bottom:30px; 
            .baseMsg{
                position: absolute;
                top:16px;
                right:10px;
                width: 250px;
                border: 1px solid #f2f2f2;
                background: white;
                border-radius:4px;
                min-height: 500px;
            }
        }
    }
}