.en {
    .ListItem {
        height: 68px;
        background-color: #fff;
        border-bottom: 1px solid #EAEDEF;
        padding: 12px 0 12px 30px;
        color: #606266;
        &:hover {
            background-color: #fdf2f3;
            .update-date {
                display: none;
            }
            .notFun-btn {
                display: block;
            }
        }
        .notFun-btn {
            display: none;
            margin-right: 20px;
            .iconfont {
                font-size: 12px;
            }
        }
        .from-page {
            .title {
                max-width: calc(100% - 50px);
                color: #008CEE;
            }
            .infoIcon {
                margin-left: 10px;
                cursor: pointer;
                color: #757779;
            }
            .optBtn {
                border: 1px solid #C0C4CC;
                height: 20px;
                line-height: 18px;
                padding: 0 8px;
                margin-right: 10px;
                margin-top: 5px;
                font-size: 12px;
                cursor: pointer;
                color: #606266;
                &:nth-last-of-type(1) {
                    margin-right: 0;
                }
                &:hover {
                    color: #D0021B;
                    border-color: #D0021B;
                    .btnIcon {
                        color: #D0021B;
                    }
                }
            }
            .btnIcon {
                font-size: 10px;
                color: #909399;
                margin-right: 3px;
            }
        }
        .context-link {
            color: #008CEE;
            font-size: 14px;
            padding-right: 10px;
        }
    }
}