.zh-cn,
.zh-tw {
    .Remind {
     
        .workBody {
            height: 190px;
            background-color: #fff;
            position: relative;
            border-radius: 0 0 5px 5px;
            color: #606266;
            padding-top: 5px;
            line-height: 23px; 
            .smallSecretary {
                //提醒小秘书
                text-align: center;
                padding: 12px 0;
                margin: 0 15px;
                .totalDesc {
                    color: #c0c4cc;
                }
                .el-col {
                    position: relative;
                    font-size: 12px;
                    line-height: 20px;
                    >div:first-child {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 5px;
                        color: #34334B;
                    }
                }
            }
        }
    }
}