.zh-cn,
.zh-tw {
    .addPeople{
        .titleTip{
            height: 30px;
            line-height: 30px;
            color:red;
            font-size:12px;
        }
        .listBox{
            width: 100%;
            overflow-y: auto;
            padding:10px 20px 0;
        }
    }
}