.zh-cn,
.zh-tw {
  .DialogMap {
    // border: 1px solid red;
    margin-top: -10px;
    height: 633px;
    padding-right: 280px;
    position: relative;
    .container {
      // border: 1px solid red;
      height: 100%;
      width: 100%;
      background: #eee;
    }
    .constMap {
      border: 1px solid #eee;
      border-left: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 280px;
      z-index: 9;
      overflow-y: auto;
    }
    .other {
      text-align: center;
      padding-top: 8px;
      color: #909399;
    }
  }
}