.createfirst {
    padding: 20px;
    .el-input {
        width: 217px;
    }
    .el-textarea {
        width: 350px;
    }
    .el-radio-group {
        display: flex;
        div {
            text-align: center;
            width: 240px;
            margin-right: 30px;
            img {
                width: 240px;
                display: block;
                margin-bottom: 15px;
                height: 146px;
            }
            .el-radio__inner {
                display: block !important;
                text-align: center;
            }
            h2 {
                font-size: 14px;
                font-weight: normal;
                text-align: center;
                margin-top: 5px;
                color: #606266;
            }
            p {
                width: 90%;
                margin: 5px auto;
                font-size: 12px;
                text-align: left;
                color: #606266;
                line-height: 18px;
            }
        }

    }
}

.areaH {
    height: 100%;
}