.en {
    .FilesMsg{
        min-height: 80px;
        padding-bottom: 20px;
        .contactTitle{
            height: 40px;
            line-height: 40px;
            padding-left:16px;
            margin-bottom: 10px; 
            color: black;
            font-weight: bold;
            background: #FAFAFA;
        }
        .miniButton{
            color:#D0021B;
            border-color:#D0021B;
            margin:0 13px 0 16px;
            padding: 0;
            height: 26px;
            line-height: 26px;
            .add{
                padding: 5px 14px;
            }
        }
        .filesBox{
            padding: 0 16px;
        }
    }
}