.zh-cn,
.zh-tw {
    .MsgNotify {
        .toolBar {
            .search {
                width: 150px;
            }
        }
        .notifyListBox {
            .headerBox {
                height: 32px;
                background-color: #EFF2F4;
            }
        }
    }
}