.en {
    .addPeople{
        .listBox{
            width: 100%;
            overflow-y: auto;
            padding:10px 20px 0;
            .listBox1{
                width: 100%;
                float:left; 
                line-height: 32px;
            }
            .listBox2{
                width: 50%;
                float:left; 
                line-height: 32px;
            }
        }
        .el-form-item{
            margin-bottom: 0;
        }
        .input168{
            width: 168px;
        }
        .input268{
            width: 268px;
        }
        .listBox{
            width: 100%;
        }
        .contact{
            border: 1px solid #f2f2f2;
            font-size: 16px;
            .contactTitle{
                height: 30px;
                line-height: 30px;
                padding-left:20px; 
                background: #f2f2f2;
            }
        }
        
        .dialogFooter {
             width: 100%;
            text-align: center;
             margin-top:10px;
            button {
                width: 193px;
            }
        }
    }
}