.zh-cn,
.zh-tw {
    .FeedbackDetail {
        position: absolute;
        background: #f7f8f9;
        height: 100%;
        padding: 44px 15px 0;
        right: 15px;
        left: 0;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
        .pageTitle{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            font-size: 14px;
            padding-left: 19px;
            color: #303133;
            height: 44px;
            line-height: 44px;
            background: #ffffff;
            -webkit-box-shadow: 0px 1px 0px 0px #f4f4f4;
            box-shadow: 0px 1px 0px 0px #f4f4f4;
            border-radius: 0px 4px 0px 0px;
        }
        .backList{
            position: absolute;
            top: 8px;
            right:13px;
            width:50px;
            height:28px;
            background:rgba(255,255,255,1);
            border-radius:20px;
            border:1px solid rgba(223,226,228,1);
        }
        .title{
            min-height: 100px;
        }
        .FeedbackBox{
            color:#666;
            background: white;
            margin-top: 16px;
            font-size: 14px;
            padding: 30px 30px;
            position: absolute;
            top: 44px;
            bottom: 0;
            overflow: auto;
            left: 15px;
            right: 15px;
        }
    }
}