.zh-cn,
.zh-tw {
    .allCount{
        padding: 15px 0;
        position: relative;
        table {
            width: 100%;
            table-layout: fixed;
            margin-bottom: 20px;
            tr {
                &:first-child td {
                    color: #909399;
                    padding: 8px 0;
                }
                &:last-child td {
                    padding: 18px 0 21px;
                    position: relative;
                    color: #303133;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 15px;
                        bottom: 0;
                        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
                        border-radius: 4px;
                    }
                    &:last-child::before{
                        right: 0;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 3px;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        background: linear-gradient(136.4deg, rgba(255, 122, 109, 1), rgba(255, 77, 62, 1));
                        border-radius: 4px;
                        opacity: 0.8;
                    }
                }
            }
        }
        .inline0{
            tr {
                &:last-child td {
                    &:nth-child(1)::after {
                        background: linear-gradient(136.4deg, rgba(93, 219, 224, 1), rgba(0, 188, 218, 1));
                    }
                    &:nth-child(2)::after {
                        background:linear-gradient(136.4deg,rgba(59,220,72,1),rgba(92,209,46,1));
                    }
                    &:nth-child(3)::after {
                        background:linear-gradient(136.4deg,rgba(254,190,43,1),rgba(255,163,0,1));
                    }
                }
            }
        }
        .inline1{
            tr {
                &:last-child td {
                    &:nth-child(1)::after {
                        background: linear-gradient(136.4deg, rgba(255, 122, 109, 1), rgba(255, 77, 62, 1));
                    }
                    &:nth-child(2)::after {
                        background:linear-gradient(136.4deg,rgba(254,190,43,1),rgba(255,163,0,1));
                    }
                    &:nth-child(3)::after {
                        background:linear-gradient(136.4deg,rgba(148,117,247,1),rgba(119,83,233,1));
                    }
                }
            }
        }
    }
}