.en {
    .mainBox {
        min-height: 300px;
        .tableHeader {
            line-height: 32px;
            height: 32px;
            color: #606266;
            background-color: #F7F8F9;
            overflow: hidden;
            .firstCol {
                padding-left: 32px;
            }
            .sortBtn {
                cursor: pointer;
                margin-left: 5px;
                font-size: 12px;
                color: #C0C4CC;
                &.active {
                    color: #D0021B;
                }
            }
        }
        .tableBody {
            .ResItem {
                line-height: 44px;
                height: 45px;
                color: #222;
                font-size: 12px;
                overflow: hidden;
                border-bottom: 1px solid #EAEAEA;
                &:hover {
                    background-color: #fdf2f3;
                }
            }
            .firstCol {
                padding: 0 8px 0 30px;
                position: relative;
            }
            .checkBox {
                position: absolute;
                top: 50%;
                left: 8px;
                width: 20px;
                overflow: hidden;
                transform: translateY(-50%);
            }
        }
    }
}