.en {
    .Record {
        .recordListBox {
            padding-top: 52px;
            .toolBox {
                height: 56px;
                line-height: 56px;
                padding: 0 16px;
                background-color: #fff;
                border-top: 1px solid #EAEDEF;
                .checkBox {
                    margin-left: 30px;
                }
            }
            .resultBox {
                position: absolute;
                top: 100px;
                bottom: 0;
                width: 100%;
                overflow: auto;
                .resultList {
                    margin: 0 16px 30px 16px;
                }
                .noDataBox {
                    background-color: rgba(0, 0, 0, 0);
                }
                .atCenter {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &.canPage {
                    padding-bottom: 40px;
                }

            }
            .page {
                position: absolute;
                bottom: 0;
                height: 40px;
                width: 100%;
                background-color: #fff;
                line-height: 40px;
                text-align: center;
            }

        }
    }
}