
    .en{
        .form_body {
            //添加联系人弹窗，内部滚动
            // border: 1px solid red;
            overflow: auto;
            max-height: 70%;
            margin-bottom: 15px;
            padding: 0 15px;
        }
    }
    
    