.en {
    .LabelsList {
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
        .pageTab{
            position: absolute;
            top: 0;
            left: 0;
            right: 27px;
            padding-top: 5px;
        }
        .Search{
            height: 52px;
            line-height: 52px;
            overflow: hidden;
            padding: 0 20px;
            background: white;
            position: relative;
            .addButtonBox{
                float:right;
                position: relative;
                top:-1px;
            }
            .addInput{
                width:200px;
                margin:0 10px;
            }
        }
        .titleBox{
            text-align: right;
            line-height: 40px;
            .list{
                height:40px;
                line-height:40px;
                background:rgba(239,242,244,1);
                color: RGBA(144, 147, 153, 1);
                padding-left: 60px;
                text-align: left;
            }
        }
        .boxList{
            font-size: 12px;
            overflow-x: hidden;
            .list{
                height:40px;
                line-height:40px;
                background:rgba(239,242,244,1);
                color: RGBA(144, 147, 153, 1);
                padding-left: 60px;
            }
            .list1{
                height: 50px;
                line-height:50px;
                color: RGBA(34, 34, 34, 1);
                border-bottom:1px solid  #f7f8f9;
                padding-left: 60px;
                background: white;
                position: relative;
                .checkboxLeft{
                    position: absolute;
                    height: 14px;
                    left: 30px;
                    top: 48px;
                    display: none;
                }
                .checkboxLeft1{
                    position: absolute;
                    height: 14px;
                    left: 30px;
                    top: 48px;
                }
                .right10{
                    margin-right: 5px;
                }
                .listCol4{
                    padding-top: 30px;
                    .listCol4Item{
                        display: none;
                        .optButton{
                            display: inline-block;
                            width:24px;
                            height:24px;
                            background:linear-gradient(135deg,rgba(255,105,124,1),rgba(208,2,27,1));
                            border-radius:12px;
                            color: white;
                            text-align: center;
                            line-height: 24px;
                            font-size: 12px;
                            &:hover{
                                cursor: pointer;
                                background:linear-gradient(135deg,rgba(255,148,161,1),rgba(247,36,62,1));
                            }
                            &:link{
                                cursor: pointer;
                                background:linear-gradient(135deg,rgba(255,105,124,1),rgba(208,2,27,1));
                            }
                        }
                    }
                }
                &:hover{
                    background:#fcf2f3;
                    .listCol4{
                        .listCol4Item{
                            display: inline;
                        }
                    }
                    .checkboxLeft{
                        display: inline;
                    }
                    .ownerCtId{
                        display: none;
                    }
                }
            }
        }
        .boxTit{
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            right: 15px;
            left: 14px;
            bottom: 67px;
            top: 147px;
        }
    }
}