@import '../../public-zh-cn.less';
.zh-cn,
.zh-tw {
    .LabelsList {
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
        padding-top: 52px;
        .pageTab {
            position: absolute;
            top: 0;
            left: 0;
            right: 27px;
        }
        .Search {
            height: 52px;
            line-height: 52px;
            overflow: hidden;
            padding: 0 20px 0 40px;
            background: white;
            position: relative;
            .addButtonBox {
                float: right;
                position: relative;
                top: -1px;
            }
            .addInput {
                width: 200px;
                margin: 0 10px;
            }
        }
        .titleBox {
            margin: 0 15px;
            text-align: right;
            line-height: 36px;
            overflow-x: hidden;
            .list {
                height: 36px;
                line-height: 36px;
                background: rgba(239, 242, 244, 1);
                color: RGBA(144, 147, 153, 1);
                padding-left: 50px;
                text-align: left;
            }
        }
        .boxList {
            font-size: 12px;
            overflow-x: hidden;
            .list {
                height: 40px;
                line-height: 40px;
                background: rgba(239, 242, 244, 1);
                color: RGBA(144, 147, 153, 1);
                padding-left: 50px;
            }
            .list1 {
                height: 50px;
                line-height: 50px;
                color: RGBA(34, 34, 34, 1);
                border-bottom: 1px solid #f7f8f9;
                padding-left: 50px;
                background: white;
                position: relative;
                .useNum {
                    display: inline-block;
                    font-size: 12px;
                    padding: 4px 8px;
                    background: #e4e4e4;
                    border-radius: 10px;
                    line-height: 6px;
                    margin: 0 16px;
                }
                .checkboxLeft {
                    display: none;
                    position: absolute;
                    height: 14px;
                    left: 22px;
                }
                .checkboxLeft1 {
                    position: absolute;
                    height: 14px;
                    left: 22px;
                }
                .right10 {
                    margin-right: 5px;
                }
                .listCol4 {
                    .listCol4Item {
                        display: none;
                        .optButton {
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                            border-radius: 12px;
                            color: white;
                            text-align: center;
                            line-height: 24px;
                            font-size: 12px;
                            &:hover {
                                cursor: pointer;
                                background: linear-gradient(135deg, rgba(255, 148, 161, 1), rgba(247, 36, 62, 1));
                            }
                            &:link {
                                cursor: pointer;
                                background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                            }
                        }
                        .optButtonNo {
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            background: #f7f8f9;
                            border: 1px solid #dfe2e4;
                            border-radius: 12px;
                            color: #606266;
                            text-align: center;
                            line-height: 24px;
                            font-size: 12px;
                            cursor: no-drop;
                        }
                    }
                }
                &:hover {
                    background: #fcf2f3;
                    .listCol4 {
                        .listCol4Item {
                            display: inline;
                        }
                    }
                    .checkboxLeft {
                        display: inline-block;
                    }
                    .ownerCtId {
                        display: none;
                    }
                }
            }
        }
        .boxTit {
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            padding-bottom: 50px;
            right: 12px;
            left: 14px;
            bottom: 0px;
            top: 140px;
        }
    }
}