.en{
    .MX{
        width: 100%;
        height: 100%;
        position: relative;
        .mainWindow{
            height: 100%;
            background-color: #ECF0F5;
            margin-left: 240px;
            position: relative;
        }
    }
}
