.zh-cn,
.zh-tw {
    .tableRowClassName {
        height: 100%;
        position: relative;
        padding-top: 45px;
        background: #fff;
        .boxHeader {
            padding: 10px;
            padding-top: 15px;
            background: #fff;
            .el-input {
                width: auto !important;
            }
            .left {
                float: right;
            }

        }
        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;

        }
        .boxList {
            margin-top: 3px;
            height: 40px;
            line-height: 40px;
            background: #eff2f4;
            border-radius: 4px 4px 0px 0px;
            padding-left: 34px;
            padding-right: 180px;
            font-size: 14px;
            color: #909399;
            position: relative;
            .posRight {
                position: absolute;
                top: 0;
                height: 100%;
                right: 30px;
                width: 100px;
            }
        }
        .customerTables {
            overflow: auto;
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: 65px;
            top: 100px;
        }
        .customerTable {}
    }
}
.scrollHidden {
    overflow: hidden !important;
}