.zh-cn,
.zh-tw {
    .DropdownList {
        .dropdown {
            margin-top: 15px;
            margin-left: 10px;
            width: 130px;
            background-color: #fff;
            box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 7px solid #fff;
                border-right: 7px solid transparent;
                border-left: 7px solid transparent;
                left: 50%;
                transform: translate(-50%, -100%);
            }
            .dropdownBox {
                &>li {
                    height: 36px;
                    line-height: 36px;
                    padding-left: 20px;
                    width: 130px;
                    font-size: 14px;
                    color: #606266;
                    &:hover {
                        cursor: pointer;
                        background: rgba(208, 2, 27, 0.05);
                    }
                }
            }
        }
    }
}