.en {
    .Current {
        //日程
        ul.moveList {
            height: 200px;
            padding: 5px 0 30px;
            overflow: auto;
            >li {
                padding: 10px 15px 10px 31px;
                border-left: 2px solid #fff;
                position: relative;
                font-size: 12px;
                .hoverBtn {
                    display: none;
                    height: 24px;
                    line-height: 24px;
                    padding: 0 15px;
                    position: absolute;
                    top: 50%;
                    margin-top: -12px;
                    right: 0;
                    bottom: 0;
                    >span {
                        float: left;
                        margin-left: 10px;
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                        text-align: center;
                        border-radius: 50%;
                        background:linear-gradient(135deg,rgba(255,105,124,1),rgba(208,2,27,1));
                        color: #fff;
                        .iconfont {
                            font-size: 12px;
                        }
                        &:hover {
                            cursor: pointer;
                            background: #d0021b;
                        }
                    }
                }
                .text {
                    // border:1px solid red;
                    display: inline-block;
                    width: 70%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    position: relative;
                    top: 2px;
                }
            }
            >li::before {
                content: "";
                width: 8px;
                height: 8px;
                background-color: #c7c7cc;
                border-radius: 50%;
                position: absolute;
                left: 13px;
                top: 50%;
                margin-top: -4px;
            }
            >li.newest::before {
                background-color: #d0021b;
            }
            >li:hover {
                border-left: 2px solid #d0021b;
                background: rgba(208, 2, 27, 0.05);
                cursor: default;
                .hoverBtn {
                    display: block;
                }
                .pull-right {
                    display: none;
                }
            }
            >li:last-child {
                border-bottom: none;
            }
        }
    }
}