.zh-cn,
.zh-tw {
    .title{
        font-size: 20px;
        padding: 0 17px;
    }
    .contentBox{
        margin-top: 22px;
        .list{
            display: inline-block;
            width: 100px;
            text-align: center;
            margin-bottom: 10px;
            .listCount{
                height: 28px;
                font-size: 20px;
            }
            .listTitle{
                height: 17px;
                margin-top: 6px;
                font-size:12px;
                color:rgba(96,98,102,1);
            }
        }
    }
}