@import '../../public-zh-cn.less';
.zh-cn,
.zh-tw {
    .LogAction {
        .mainBodyTab {
            position: absolute;
            bottom: 0;
            top: 52px;
            width: 100%;
            margin-top: 0;
        }
    }
}