<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta httpEquiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset='utf-8'/>
    <title>话题详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="//www.iqiyipic.com/common/images/logo.ico" type="image/icon">
    <script>
      (function (doc, win) {
        var docEl = doc.documentElement,
          resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
          recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            if (clientWidth >= 640) {
              docEl.style.fontSize = '100px';
            } else {
              docEl.style.fontSize = 100 * (clientWidth / 375) + 'px';
            }
          };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
      })(document, window);
    </script>
    <link rel="stylesheet" href="<%- getStatic('pkDetail.css') %>"/>
    <link rel="stylesheet" href="//security.iqiyi.com/static/captcha/css/all.css">

</head>
<body>
<div class="container">
    <div class="banner" id="banner">
        <span class="qyIcon"></span>
        <p class="title">话题PK广场</p>
        <div class="callAPP" id="open">
            打开APP
        </div>
    </div>
    <div class="bg">
        <div class="topTitle">
            <div class="titleText">
                <span class="purple">#</span>
                <p class="topicCore" data-node='topicName'></p>
                <span class="purple">#</span>
            </div>
        </div>
        <div class="middleSection">
        </div>
        <div class="dividingLine">
            <div class="left"></div>
            <p class="dividingText" data-node='totalReward'>胜方瓜分30000000积分</p>
            <div class="right"></div>
        </div>
        <div class="instruction" data-node='instruction'></div>
        <div class="doCall" data-node="doCall" id="doCall"></div>
        <div class="invite" id="invite"> 邀请好友一起玩</div>
        <div class="invite" id=goToIntegralHome> 查看更多积分话题</div>
        <div class="toast">
            <p></p>
        </div>
    </div>
</div>
<div class="modal">
    <div class="box">
        <p class="title">积分不足</p>
        <p class="subtitle">快去做任务，赚积分吧！</p>
        <div class="btnBox">
            <div class="cancle">取消</div>
            <div class="confirm">去赚积分</div>
        </div>
    </div>
</div>

<% if (env === 'fat') { %>
    <!--vconsole for test-->
    <script src="//statics-web.iqiyi.com/common/jssdk/src/vconsole.min.js"></script>
    <script>var vConsole = new VConsole()</script>
<% } %>

<script src="<%- getStatic('res/scripts/lib/zepto-with-tap-i.min.js') %>"></script>
<script src="//statics-web.iqiyi.com/common/jssdk/iqiyiJsBridge-v2-min.js"></script>
<script src="<%- getStatic('vendor.js') %>"></script>
<script src="<%- getStatic('pkDetail.js') %>"></script>
</body>
</html>
