.zh-cn,
.zh-tw {
    .FollowUp {
        .delayTimeBox {
            .checkBox {
                margin-right: 10px;
            }
            .time {
                width: 80px;
                margin: 0 10px;
            }
            .type {
                width: 100px;
                margin-right: 10px;
            }
            .text {
                line-height: 32px;
            }
        }
        .radioLine {
            padding: 11px 0;
        }
        .optBtn {
            cursor: pointer;
        }
        .actionItem {
            font-size: 14px;
            color: #303133;
            .actionType {
                margin-right: 10px;
            }
        }
    }
}