.zh-cn,
.zh-tw {
    .DialogMailLogs {
        .logBody{
            // border:1px solid red;
            margin-top: 5px;
            min-height: 300px;
            max-height: 450px;
            overflow: auto;
            dl{
                padding:5px;
                line-height: 20px;
                border-radius: 3px;
                // dt{
                //     float: left;
                //     color: #999;
                //     padding-top: 1px;
                // }
                // dd{
                //     margin-left: 120px;
                // }
                &:hover{
                    background-color: #eee;
                }
            }
            .addMore{
                text-align: center;
                i{
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }
      
        
    }
}