.en {
    .listEdit{
        .listBox{
            width: 100%;
            overflow-y: auto;
            .listBox1{
                width: 100%;
                float:left; 
                line-height: 32px;
            }
            .listBox2{
                width: 49%;
                float:left; 
                line-height: 32px;
            }
        }
        .input168{
            width: 168px;
        }
         .dialogFooter {
             width: 100%;
             margin-top:10px;
            text-align: center;
            button {
                width: 163px;
            }
        }
    }
}