.zh-cn,
.zh-tw {
    .Record {
        .searchBox {
            width: 250px;
            position: relative;
            display: inline-block;
            .iconfont {
                position: absolute;
                color: #C0C4CC;
                width: 32px;
                text-align: center;
            }
            input {
                height: 32px;
                padding-left: 32px;
                border: 1px solid #DFE2E4;
                border-radius: 16px;
                outline: none 0;
                width: 100%;
                color: #606266;
                font-size: 14px;
                &:hover {
                    border-color: #c0c4cd;
                }
                &::-webkit-input-placeholder {
                    color: #C0C4CC;
                }
            }
        }
        .tableHeader {
            font-size: 12px;
            color: #606266;
            height: 32px;
            line-height: 32px;
            overflow: hidden;
            background-color: #f7f8f9;
        }
        .firstCol {
            padding-left: 20px;
        }

        .tableBody {
            padding-bottom: 20px;
        }

        .noDataBox {
            height: 300px;
            position: relative;
            .atCenter {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .page {
            text-align: center;
            height: 40px;
            line-height: 40px;
        }
    }
}