.en {
    .dialogMovingFolders {
        .dialogBody{
            min-height: 222px;
            max-height: 555px;
            overflow: auto;
            font-size: 14px;
            ul.T_down {
                // border: 1px solid red; 
                //菜单树
                background-color: #fff;
                // background : linear-gradient( 135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                // padding-left: 15px;
                line-height: 35px;    
             
            }
        }        
    }
}