.en {
    .templateMarket {
        // border:11px solid red;
        // margin-top: 45px;
        height: 100%;
        .templateBox {
            // border:1px solid red;
            position: absolute;
            left: 0;
            top: 52px;
            right: 0;
            bottom: 0;
            overflow: hidden;
        }
    }
}