.zh-cn,
.zh-tw {
    .BaseMsg{
        min-height: 450px;
        .contactTitle{
            height: 40px;
            line-height: 40px;
            padding-left:16px;
            margin-bottom: 10px; 
            color: black;
            font-weight: bold;
            background: #FAFAFA;
        }
        .listBox{
            max-width: 866px;
            .listBox1{
                display: inline-block;
                width: 100%;
                line-height: 30px;
            }
            .listBox2{
                display: inline-block;
                width: 50%;
                min-width: 340px;
                line-height: 30px;
                min-height: 38px;
                vertical-align: top;
            }
        }
        
    }
}