{%extends 'layout.html'%}

{%block content%}

<div class="listBox">

    {%for content in contents%}
    <div class="listItem" data-id="{{content.id}}">
        <div class="ti"></div>
        <div class="ci"></div>
        <h1>{{content.title}}</h1>
        <dfn>
            <p>{{content.description}}</p>
        </dfn>
        <ul class="details">
            <li class="author"><a href="#">作者：{{content.user.username}}</a></li>
            <li class="icon-time"><a href="#">时间：{{content.addTime|date('Y年m月d日')}}</a></li>
            <li class="comments"><a href="#">评论：{{content.comments.length}}</a></li>
            <li class="likes"><a href="#">浏览：{{content.views}}</a></li>
        </ul>
    </div>
    {%endfor%}

</div>


<div class="pager">
    <ul class="clear">
        <li class="previous">
            {%if page <= 1%}
            <span>没有上一页了</span>
            {%else%}
            <a href="/?category={{category}}&page={{page-1}}">上一页</a>
            {%endif%}
        </li>
        {%if pages > 0%}
        <li>
            <strong>{{page}} / {{pages}}</strong>
        </li>
        {%endif%}
        <li class="next">
            {%if page >= pages%}
            <span>没有下一页了</span>
            {%else%}
            <a href="/?category={{category}}&page={{page+1}}">下一页</a>
            {%endif%}
        </li>

    </ul>
</div>
{%endblock%}