.zh-cn,
.zh-tw {
    .TabAffiliates {
        .main {
            // position: absolute;
            // overflow: auto;
            // top: 133px;
            // bottom: 0;
            // left: 0;
            // right: 0;
            // padding: 0 16px;
            // &.hasPage {
            //     bottom: 40px;
            // }
        }
        .topStripe {
            height: 60px;
            line-height: 60px;
            .joinBtn {
                cursor: pointer;
                border-radius: 2px;
                margin-left: 10px;
                line-height: 1;
                font-size: 12px;

                display: inline-block;
                padding: 6px 15px;
                color: #fff;
                background-color: #d0021b;
            }
        }
        .tableHeader {
            font-size: 12px;
            color: #606266;
            height: 32px;
            line-height: 32px;
            background-color: #f7f8f9;
        }
        .tableBody {
            margin-bottom: 20px;
            .RowItem {
                color: #222;
                font-size: 12px;
                height: 45px;
                line-height: 44px;
                border-bottom: 1px solid #eaeaea;
            }
        }
        .firstCol {
            padding-left: 20px;
        }
        .page {
            // position: absolute;
            // bottom: 0;
            // left: 0;
            // right: 0;
            text-align: center;
            height: 40px;
        }
    }
}