.en {
    .TemplateEditor {
        // border: 1px solid red;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 5px; // z-index: 1;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
        background: #fff;
        .zoneHeader {
            // border: 1px solid red;
            border-bottom: 1px solid #ddd;
            height: 44px;
            padding: 0 15px;
            box-shadow: 0px 1px 0px 0px #f4f4f4;
            position: relative;
            z-index: 1;
            background: #fff;
            form {
                // border: 1px solid red;
                padding-top: 5px;
                height: 44px;
                .pull-right {
                    margin-right: 0;
                }
            }
        }
        .zoneBody {
            position: absolute;
            top: 45px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: #fff;
            .zoneLeft {
                // border: 1px solid blue;
                border-right: 1px solid #ddd;
                position: absolute;
                left: 10px;
                top: 0;
                bottom: 0;
                right: 500px;
                text-align: center;
                background-color: #f5f5f5;
                >iframe {
                    // width: 600px;
                    // padding-left: 10px;
                }
            }
            .zoneRight {
                // border: 1px solid black;
                width: 500px;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                overflow-y: auto;
                .el-form {
                    // border:1px solid blue;
                    padding: 12px 15px 0;
                    .el-input {
                        width: 400px;
                    }
                }
                .vue-codemirror {
                    border-top: 1px solid #ddd;
                    position: absolute;
                    left: 0;
                    top: 110px;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}