.zh-cn,
.zh-tw {
    .goodsList{
        // border: 2px solid red;
        .pic{
            width: 100px;
            height: 100px;
            margin-top: 8px;
            // border: 2px solid red;
        }
        .otherField {
            // border:2px solid red;
            color: #909399;
        }
        .displayDesc {
            // border:1px solid red;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #606266;
        }
    }
}