@import '../../public-en.less';

.en {
    .mailMarketing {
        height: 100%;
        border-radius: 4px;
        overflow: auto;
        width: 100%;
        padding-top: 54px;

        .userName {
            margin-right: 15px;
            position: absolute;
            top: 14px;
            right: 125px;
            z-index: 2;
            color: RGBA(208, 2, 27, 1);
            display: inline-block;
            padding: 0 4px;
            height: 30px;
            font-size: 14px;
            text-align: center;
            border-bottom: 2px solid RGBA(208, 2, 27, 1);
        }

        .showBranch {
            position: absolute;
            top: 10px;
            right: 14px;
            z-index: 2;

            .rightButton {
                display: inline-block;
                width: 104px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                background: rgba(255, 255, 255, 1);
                border-radius: 20px;
                border: 1px solid rgba(223, 226, 228, 1);
                font-size: 12px;
                color: rgba(96, 98, 102, 1);
            }
        }

        .mailMarketingSearch {
            height: 52px;
            line-height: 52px;
            overflow: hidden;
            border-bottom: 1px solid rgba(234, 237, 239, 1);
            padding: 0 10px;
            background: white;

            .addButtonBox {
                float: right;
                position: relative;
                top: -1px;
            }

            .addInput {
                width: 150px;
                margin: 0 10px;
            }
        }

        .title {
            padding: 0;
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
            background: rgba(239, 242, 244, 1);
            color: RGBA(144, 147, 153, 1);
            padding: 0 40px;

            .listCol1 {
                position: relative;
            }

            .listCol2 {
                position: relative;

                .listCol2Box {
                    max-width: 300px;
                    margin: 0 auto;
                    text-align: center;

                    .listCol2BoxItem {
                        margin-top: 6px;
                        color: RGBA(144, 147, 153, 1);
                        font-size: 12px;
                    }
                }
            }

            .listCol4 {
                .listCol4Item {
                    width: 154px;
                    float: right;
                }
            }
        }

        .boxList {
            font-size: 12px;
            overflow: auto;
            color: #333333;
            position: absolute;
            top: 147px;
            bottom: 67px;
            left: 14px;
            right: 14px;

            .list {
                padding: 10px 40px 10px 40px;
                border-bottom: 1px solid #f2f2f2;
                position: relative;
                background: white;

                .listCol1 {
                    padding: 10px 0 16px;
                    position: relative;
                }

                .listCol2 {
                    padding: 10px 0 16px;
                    position: relative;

                    .listCol2Box {
                        max-width: 300px;
                        margin: 0 auto;
                        text-align: center;
                        margin-top: 10px;

                        .count {
                            color: bold;
                            font-size: 16px;
                        }

                        .listCol2BoxItem {
                            color: RGBA(144, 147, 153, 1);
                            font-size: 12px;
                        }
                    }
                }

                .listCol3 {
                    padding-top: 24px;
                }

                .listCol4 {
                    padding-top: 23px;

                    .listCol4Item {
                        // display: none;
                        width: 147px;
                        float: right;
                        text-align: right;

                        .optButton {
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                            border-radius: 12px;
                            color: white;
                            text-align: center;
                            line-height: 24px;
                            font-size: 12px;

                            &:hover {
                                cursor: pointer;
                                background: linear-gradient(135deg, rgba(255, 148, 161, 1), rgba(247, 36, 62, 1));
                            }

                            &:link {
                                cursor: pointer;
                                background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                            }
                        }
                    }
                }

                &:hover {
                    background: #fcf2f3;

                    .listCol4 {
                        .listCol4Item {
                            display: inline;
                        }
                    }
                }
            }
        }

        .dialogMark {
            padding: 60px 40px 60px 80px;
        }
    }
}
