.createthird {
    padding: 20px;
    .choiceTips {
        position: absolute;
        top: 8px;
        left: 430px;
        color: #909399;
    }
    .selectWrap {
        display: flex;
        position: relative;
        padding-bottom: 20px;
        .el-input__inner {
            height: 36px !important;
        }
        .leftTitle {
            width: 130px;
            line-height: 32px;
            height: 32px;
        }
        .rightTabbox {
            width: 550px;
        }

    }
}
.areaH {
    height: 100%;
    overflow: hidden;
}