.addPage {
    width: 100%;
    height: 100%;
    .list {
        min-width: 1024px;
        height: 100%;
        position: relative;
        padding: 55px 14px 0;
        .wrapBox {
            width: 100%;
            height: 100%;
            background-color: #fff;
            overflow: hidden;
            padding: 14px;
            .addTitle {
                height: 30px;
                line-height: 30px;
            }
            .dragBox {
                margin-top: 10px;
                border-radius: 8px;
                height: 80%;
                .el-col-8 {
                    height: 100%;
                    .el-tabs__nav {
                        width: 100%;
                    }
                }
                .el-col-16 {
                    height: 100%;
                    .targetBox {
                        border: 1px solid #DFE2E4;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        .targetBoxheader {
                            width: 100%;
                            height: 40px;
                            background-color: #f7f7f7;
                        }
                        form {
                            display: block;
                            height: 94%;
                            overflow-y: auto;
                            padding: 0 2.5%;
                            width: 100%;
                            padding-top: 30px;
                            .list-target {
                                width: 100%;
                                height: 80%;
                                span {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    margin-top: 10px;
                                }
                                label {
                                    margin-right: 5px;
                                }
                                .iconwrap {
                                    height: 50px;
                                    line-height: 50px;
                                    text-align: center;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .list-group {
                    display: inline-block;
                    width: 100%;
                    min-height: 20px;
                    overflow-y: auto;
                    padding: 10px 0;
                    li {
                        height: 40px;
                        line-height: 40px;
                        padding: 0 20px;
                        &:hover {
                            cursor: move;
                            background: #f7f7f7;
                        }
                    }
                    .list-group-item {
                        cursor: move;
                        i {
                            cursor: pointer;
                        }
                    }
                }
                .labelBox {
                    border: 1px solid #DFE2E4;
                    height: 100%;
                    .el-tabs {
                        height: 100%;
                    }
                    .el-tabs__nav {
                        width: 50% !important;
                    }
                }
            }
        }
    }
}

[v-cloak] {
    display: none;
}
#example {
    width: 1000px;
    margin: 0 auto;
}
.list-complete-item {
    transition: all 1s;
    height: 50px;
    line-height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}
.styleclass {
    width: 100px;
    float: left;
}
.list-complete-enter,
.list-complete-leave-active {
    opacity: 0;
    height: 0px;
    margin-top: 0px;
    padding: 0px;
    border: solid 0px;
}
.list-complete-sortable-chosen,
.list-complete-sortable-ghost {
    opacity: 0;
    height: 0px;
    margin-top: 0px;
    padding: 0px;
    border: solid 0px;
}
.dargDiv {
    cursor: move;
    background: red;
}
.wrods {
    margin-top: 50px;
}
p {
    line-height: 24px;
    text-align: center;
}
.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}
// .tabbox {
//     padding: 20px 0;
// }
.btnwrap {
    height: 15%;
    text-align: center;
    margin-top: 3%;
}
.search {
    width: 100%;
    padding: 0 20px;
}
.list-target {
    span {
        .el-row {
            overflow: hidden;
            height: 52px !important;
            line-height: 50px;
            border: 1px dashed transparent;
            &:hover {
                cursor: move;
                border: 1px dashed #f5e5c5;
            }
            .tips {
                margin-top: 0 !important;
                text-align: center
            }
        }
    }
}