.en {
    .EditArticle {
        .mainBody {
            right: 0;
            left: 0;
            top: 44px;
            .formBox {
                max-width: 800px;
                .el-form-item {
                    position: relative;
                    margin-bottom: 40px;
                    .el-form-item__label {
                        margin-bottom: 24px;
                    }
                    .numTip {
                        position: absolute;
                        right: 5px;
                        bottom: 0;
                        height: 32px;
                        line-height: 32px;
                        color: #C0C4CC;
                    }
                }
                .textAreaBox {
                    .el-textarea__inner {
                        background: rgba(1, 1, 1, 1);
                    }
                }
                .el-select {
                    width: 100%;
                }
                .selectItem {
                    width: 100%;
                }
                .my-form-item {
                    margin-bottom: 20px;
                }
                .ueditor {
                    overflow: hidden;
                    line-height: initial;
                }
            }
        }
    }
}