.ofh {overflow: hidden;}
.ofa {overflow: auto;}

.vt {vertical-align: top}
.vm {vertical-align: middle}
.vb {vertical-align: bottom}

.dis-ib {display: inline-block;}
.dis-b {display: block;}
.dis-none {display: none;}

.fl {float: left;}
.fr {float: right;}

.tl {text-align: left;}
.tc {text-align: center;}
.tr {text-align: right;}

.w-100 {width: 100%;}

.w420 {width: 4.2rem;}
.w500 {width: 5rem;}
.w580 {width: 5.8rem;}

.max-h120 {max-height: 1.2rem;}

.ml40 {margin-left: .4rem;}
.ml20 {margin-left: .2rem;}

.mt18 {margin-top: .18rem;}
.mt20 {margin-top: .2rem;}
.mt40 {margin-top: .4rem;}

.mr8 {margin-right: .08rem;}
.mr40 {margin-right: .4rem;}

.mb20 {margin-bottom: .2rem;}
.mb20-im {margin-bottom: .2rem!important;}

.f28 {font-size: .28rem}

.cp {cursor: pointer;}
.cd {cursor: default;}
.cna {cursor: not-allowed;}

.c6 {color: #666}
