@import '../../public-zh-cn.less';

.zh-cn,
.zh-tw {
    .PrintTemplateManagement {
        // border: 1px solid red;
        overflow: auto;

        .input_title {
            .title2();
        }

        .divList {
            // border: 1px red solid;
            padding-top: 16px;

            .pull-right {
                display: none;
                background: linear-gradient(135deg,
                    rgba(255, 105, 124, 1),
                    rgba(208, 2, 27, 1));
                border-radius: 50%;
                text-align: center;
                width: 24px;
                height: 24px;
                color: #fff;
                font-size: 12px;
                margin-right: 10px;
            }



            .columnClass tr {


                &:hover {
                    .pull-right {
                        display: block;
                    }
                }

            }



            .tag {
                width: 50px;
                height: 50px;
                left: 0;
                top: 0;
                position: absolute;
                transform: translate(-50%, -50%) rotate(-45deg);
                background-color: #d0021b;
            }

            .text {
                position: absolute;
                left: 50%;
                width: 100%;
                bottom: 0;
                height: 20px;
                line-height: 25px;
                -webkit-transform: translateX(-50%) scale(0.7);
                transform: translateX(-50%) scale(0.7);
                text-align: center;
                font-size: 12px;
                color: #ffffff;
            }


            .pagination {
                //分页
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                text-align: center;
                padding: 5px 0;
            }
        }
    }
}