.en {
    .SubItinerary {
        // border:1px solid red;
        margin: auto 8px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        overflow: hidden;
        .workBody {
            //border: 1px solid red;
            height: 199px;
            background-color: #fff;
            position: relative;
            border-radius: 0 0 5px 5px;
            clear: both; //日程
            ul.moveList {
                height: 219px;
                padding: 5px 0;
                overflow: auto;
                >li {
                    padding: 0 15px 0 30px;
                    height: 39px;
                    line-height: 39px;
                    border-left: 2px solid transparent;
                    position: relative;
                    font-size: 12px;
                    .hoverBtn {
                        display: none;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 15px;
                        position: absolute;
                        top: 50%;
                        margin-top: -15px;
                        right: 0;
                        bottom: 0;
                        >span {
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                            border-radius: 50%;
                            background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                            color: #fff;
                            .iconfont {
                                font-size: 12px;
                            }
                            &:hover {
                                cursor: pointer;
                                background: #d0021b;
                            }
                        }
                    }
                    .descr {
                        // background: #ddd;
                        display: inline-block;
                        width: 83%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                >li::before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background-color: #c7c7cc;
                    border-radius: 50%;
                    position: absolute;
                    left: 13px;
                    top: 50%;
                    margin-top: -4px;
                }
                >li.newest::before {
                    background-color: #d0021b;
                }
                >li:hover {
                    border-left: 2px solid #d0021b;
                    background: rgba(208, 2, 27, 0.05);
                    cursor: default;
                    .hoverBtn {
                        display: block;
                    }
                    .pull-right {
                        display: none;
                    }
                }
                >li:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}