.zh-cn,
.zh-tw {
    .Search {
        .SearchBox {
            /*  width: 600px; */
            height: 105px;
            padding: 20px 0 8px 0;
            position: relative;
            background: #fff;
            border-bottom: 1px solid #eaeaea;
            .SearchInput {
                width: 590px;
                height: 40px;
                margin: 0 auto;
                .Input {
                    width: 500px;
                    height: 40px;
                    outline: none;
                    float: left;
                    border-radius: 4px;
                    background: rgba(248, 248, 248, 1);
                    border: 1px solid rgba(199, 199, 199, 1);
                    padding: 0px 10px;
                    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1) inset;
                }
                .SearchButton {
                    width: 80px;
                    height: 40px;
                    border-radius: 4px;
                    background-color: #D0021B;
                    border: none;
                    float: right;
                    color: #ffffff;
                    cursor: pointer;
                    border-radius: 3px;
                }
                .SearchButton:hover {
                    background-color: #D0021B;
                }
            }
            .searchCondition {
                width: 590px;
                height: 35px;
                margin: 0 auto;
                line-height: 35px;
                font-size: 14px;
                span {
                    display: inline-block;
                    margin-right: 27px;
                    color: #909399;
                    cursor: pointer;
                }
                .action {
                    color: #D0021B;
                    border-bottom: 2px solid #D0021B;
                }
            }
        }
        .selectRes {
            width: 100%;
            /*   background-color: mediumturquoise; */
            position: absolute;
            top: 105px;
            bottom: 0px;
            .title {
                font-size: 14px;
                height: 44px;
                background: #fff;
                line-height: 44px;
                border-top: 1px solid #eee;
                padding-left: 60px;
                span {
                    color: red;
                }
            }
            .selectList {
                left: 0px;
                right: 0px;
                bottom: 40px;
                top: 45px;
                padding: 0 15px 0 17px;
                /*   background-color: mediumblue; */
                position: absolute;
                overflow-y: auto;
                .myTableHeader {
                    height: 32px;
                    line-height: 32px;
                    background-color: #EFF2F4;
                    /*  border-radius: 4px 4px 0px 0px; */
                    margin-top: 14px;
                    color: #909399;
                    font-size: 14px;
                }
                .myTableHeader,
                .myTableBody {
                    &>div {
                        float: left;
                        padding-left: 20px;
                    }
                    .itemName {
                        width: 50%;
                        padding-left: 48px;
                    }
                    .itemDate {
                        width: 20%;
                    }
                    .itemSize {
                        width: 14%;
                    }
                    .itemPeople {
                        width: 16%;
                    }
                }
                .myTableBody {
                    width: 100%;
                    height: 96px;
                    padding: 13px 0;
                    background-color: #fff;
                    border-bottom: 1px solid #eaedef;
                    &>div {
                        height: 76px;
                        position: relative;
                        .iconBox {
                            height: 70px;
                            width: 70px;
                            border-radius: 6px;
                            line-height: 70px;
                            position: relative;
                            @size: 70px;
                            overflow: hidden;
                            img.imgIcon {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                width: @size;
                                height: @size;
                            }
                            .iconSVG {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                /*  width: 50px;
                                height: 50px; */
                                font-size: 55px;
                            }
                        }
                        &.itemName .contentBox {
                            position: absolute;
                            top: 0;
                            font-size: 12px;
                            .docTitle {
                                color: #303133;
                                font-size: 14px;
                            }
                            .docDes {
                                color: #606266;
                            }
                            span {
                                color: #909399;
                            }
                            .canCkickTo {
                                color: #5EA3F6;
                                cursor: pointer;
                            }
                            left: 137px;
                            right: 0;
                        }
                        .contentBox {
                            overflow: hidden;
                            /*   top: 50%;
                            transform: translateY(-50%); */
                        }
                        &.itemDate,
                        &.itemSize,
                        &.itemPeople {
                            padding-top: 20px;
                            .contentBox {
                                font-size: 12px;
                                color: #606266;
                            }
                            .funBox {
                                display: none;
                                i {
                                    width: 24px;
                                    height: 24px;
                                    background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                                    border-radius: 50%;
                                    margin-right: 10px;
                                    font-size: 12px;
                                    line-height: 24px;
                                    display: block;
                                    float: left;
                                    color: #fff;
                                    text-align: center;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    &:hover {
                        background: #fdf2f3;
                        &>div {
                            &.itemPeople {
                                .contentBox {
                                    display: none;
                                }
                                .funBox {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .paging {
                height: 40px;
                left: 0px;
                right: 0px;
                text-align: center;
                padding: 4px 0;
                bottom: 0px;
                /*   background-color: lime; */
                position: absolute;
            }
        }
        .noDataBox {
            background-color: transparent;
        }
        .loadingBox,
        .noDataBox {
            position: absolute;
            top: 35%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            .iconfont {
                font-size: 70px;
            }
        }
    }
}