.zh-cn,
.zh-tw{
    .AddDocumentary{
        .formBox{
            padding-bottom: 20px;
            color: #606266;
            .documentModule{
                height: 40px;
                .labelBox{
                    display: inline-block;
                    vertical-align: top;
                    width: 86px;
                    height: 28px;
                    line-height: 28px;
                }
            }
            .listBox{
                font-size: 12px;
                .listTit{
                    height: 32px;
                    line-height: 32px;
                    background: #F7F8F9;
                    padding-left: 20px;
                }
                .listItem{
                    color: #222222;
                    padding-left: 20px;
                    height: 44px;
                    line-height: 44px;
                    border-bottom:1px solid #EAEAEA;
                }
            }
        }
    }
}