@import '../../public-zh-cn.less';

.zh-cn,
.zh-tw {
    .developmentLetter {
        // 公共样式初始化
        overflow: auto;
        height: 100%;
        border-radius: 4px;
        width: 100%;
        // padding-top: 54px;

        .developmentLetterBox {
            font-size: 14px;
            width: 100%;

            .developmentLetterBoxSearch {
                height: 52px;
                line-height: 52px;
                overflow: hidden;
                padding: 0 10px;
                background: white;

                .addButtonBox {
                    float: right;
                    position: relative;
                    top: -1px;
                }

                .addInput {
                    width: 150px;
                    margin: 0 10px;
                }
            }

            .developmentLetterBoxList {
                font-size: 12px;
                overflow-x: hidden;

                .list {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 20px;
                    background: rgba(239, 242, 244, 1);
                    color: RGBA(144, 147, 153, 1);
                }

                .list1 {
                    height: 54px;
                    line-height: 54px;
                    color: RGBA(34, 34, 34, 1);
                    border-bottom: 1px solid #f7f8f9;
                    padding: 0 20px;
                    background: white;

                    .left10 {
                        margin-left: 10px;
                    }

                    .listCol4 {
                        .listCol4Item {
                            display: none;
                            width: 187px;
                            float: right;

                            .optButton {
                                display: inline-block;
                                width: 24px;
                                height: 24px;
                                background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                                border-radius: 12px;
                                color: white;
                                text-align: center;
                                line-height: 24px;
                                font-size: 12px;

                                &:hover {
                                    cursor: pointer;
                                    background: linear-gradient(135deg, rgba(255, 148, 161, 1), rgba(247, 36, 62, 1));
                                }

                                &:link {
                                    cursor: pointer;
                                    background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                                }
                            }
                        }
                    }

                    &:hover {
                        background: #fcf2f3;

                        .listCol4 {
                            .listCol4Item {
                                display: inline;
                            }
                        }
                    }
                }
            }

            .developmentLetterBoxTit {
                overflow-y: auto;
                overflow-x: hidden;
                position: absolute;
                top: 107px;
                right: 0;
                left: 14px;
                bottom: 67px;
            }
        }
        .pageTab {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding-top: 5px;
        }
        /* .PageTitle {
            // border:1px solid yellow;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            font-size: 14px;
            padding-left: 19px;
            color: RGBA(48, 49, 51, 1);
            height: 44px;
            line-height: 44px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 1px 0px 0px rgba(244, 244, 244, 1);
            border-radius: 0px 4px 0px 0px;
            padding-left: 40px;

            >.iconfont {
                // border:1px solid red;
                font-size: 16px;
                color: #909399;
                width: 20px;
                height: 20px;
                line-height: 20px;
                position: absolute;
                left: 15px;
                top: 50%;
                margin-top: -10px;
            }
        } */
    }
}