.en {
    .PowerDialog {
        .loadingBox {
            height: 300px;
        }
        .fnBox {
            padding: 10px 0 30px 0;
            border-bottom: 1px solid #eee;
        }
        .qxBottomText {
            color: #000;
            span {
                color: red;
            }
        }
        .myqxSelect {
            height: 20px;
            text-align: center;
            cursor: pointer;
            &.icon-hook {
                color: #0ebb19;
            }
        }
    }
}
