.targetBoxheader {
    padding: 0 10px;
    line-height: 40px;
    .target-menu {
        float: left;
        .el-submenu__title {
            height: 40px !important;
            line-height: 40px !important;
        }
    }
    .preview {
        float: right;
        cursor: pointer;
    }
}
.iconBg {
    background: #fff;
}