@import "~Less/src/_mixins";

.switch-menu {
  display: block;
  width: 100%;
}

.switch-menu-inner {
  padding: 0 .75rem;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}

.switch-menu-box {
  font-size: 0;
  &.horizontal-scroll {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.switch-menu-item {
  display: inline-block;
  padding: .28rem .14rem .14rem;
  cursor: pointer;
  &.active {
    .switch-menu-text {
      color: #FF6600;
    }
    .switch-menu-line {
      visibility: visible;
      background-color: #FF6600;
    }
  }
  &.disabled {
    .switch-menu-text {
      color: #999999;
    }
    .switch-menu-line {
      visibility: hidden;
      background-color: transparent;
    }
    cursor: not-allowed;
  }
}

.switch-menu-text {
  display: block;
  line-height: .44rem;
  text-align: center;
  font-size: .32rem;
}

.switch-menu-line {
  display: block;
  width: .24rem;
  height: .06rem;
  margin: .08rem auto 0;
  border-radius: .17rem;
  background-color: transparent;
  visibility: hidden;
}
