.zh-cn,
.zh-tw {
    .AddShare {
        position: absolute;
        height: 100%;
        width: 100%;
        .main {
            position: absolute;
            top: 44px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 16px 16px 0 16px;
            overflow: auto;
            background-color: #fff;
            .formBox {
                max-width: 880px;
                padding: 40px 30px;
                .accountBox {
                    .accountItem {
                        margin-left: 0;
                        margin-right: 15px;
                        &:nth-last-of-type(1) {
                            margin-right: 0;
                        }
                    }
                    .iconfont {
                        margin-right: 5px;
                    }

                }
                .tableBox {
                    .item {
                        padding-left: 20px;
                    }
                    .tableHeader {
                        height: 32px;
                        line-height: 32px;
                        background-color: #EFF2F4;
                        font-size: 14px;
                        color: #909399;

                    }
                    .tableBody {
                        .row,
                        .noData {
                            height: 45px;
                            line-height: 44px;
                            background-color: #fff;
                            font-size: 14px;
                            color: #606266;
                            border-bottom: 1px solid #EAEDEF;
                        }
                        .delBtn {
                            cursor: pointer;
                        }
                        .noData {
                            text-align: center;
                        }
                    }
                }
                .selBox {}
                .tipBox {
                    margin-top: 9px;
                    .tip {
                        line-height: 17px;
                        color: #D0021B;
                        background-color: #F3E2E4;
                        padding: 5px 8px;
                        border-radius: 3px;
                        border: 1px solid rgba(243, 226, 228, 1);
                    }
                }
                .shareBtn {
                    border-radius: 16px;
                    height: 32px;

                }
            }
        }
    }
}