.en {
    .ExecuteNow {
        @height: 55px;
        @red: #d0021b;
        .show {
            width: 330px;
            height: @height;
            line-height: @height;
            font-size: 18px;
            color: #033133;
            border: 1px dashed @red;
            position: relative;
            cursor: pointer;
            &:hover {
                border: 1px solid @red;
            }
            .iconfont {
                font-size: 17px;
                float: left;
                width: @height;
                height: @height;
                text-align: center;
                color: #8BD867;
            }

            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 52px;
                right: 0;
                top: 50%;
                transform: translate(100%, -50%);
                background-color: @red;
            }

        }
        .active {
            background-color: #fff;
            box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
            .show {
                border: none 0;
                border-bottom: 1px solid #EAEDEF;
            }
        }
        .addOpt {
            cursor: pointer;
            height: 32px;
            line-height: 32px;
            text-align: center;
            text-align: center;
            color: #fff;
            font-size: 12px;
            background-color: @red;

        }
    }
}