.en {
    .Subordinate {
        // border: 1px solid red;
        height: 100%;
        overflow: hidden;
        position: relative;
        .rightWindow {
            // border: 1px solid red;
            position: absolute;
            left: 230px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            overflow-x: hidden;
            padding: 1px 8px 15px;
            >div:first-child {
                margin-top: 0;
            }
            @import '../WorkBench/public-en.less'; //中文共用
        }
    }
}