.zh-cn,
.zh-tw {
    .TabRoute {
        background-color: #eee;
        height: 35px;
        line-height: 35px;
        border-bottom: 1px #E4E4E4 solid;
        position: relative;
        z-index: 2;
        .clientRouter {
            width: 180px;
            border-right: 1px #ddd solid;
            float: left;
            position: relative;
            color: #666;
            .text {
                padding: 0 20px 0 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            i {
                position: absolute;                
            }
            i.titleIcon {
                left: 10px;
                font-size: 14px;
            }
            i.icon-close {
                padding:0 3px;
                right: 7px;
                font-size: 12px;
                &:hover {
                    color: #008cee;
                    font-weight: bold;
                }
            }
            &:hover{
                background-color: #e8e8e8;
                cursor: pointer;
            }
        }
        .router-link-exact-active,
        .router-link-active {
            background-color: #fff!important;
            &::before{
                content: '';
                height: 2px;
                background-color: #008cee;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        .More {
            width: 35px;
            height: 100%;
            float: right;
            display: block;
            border-left: 1px #D7D7D7 solid;
            position: relative;
            ul.downList {
                width: 200px;
                max-height: 300px;
                overflow: auto;
                background-color: #fff;
                border-radius: 4px 0 0 4px;
                position: absolute;
                right: 0;
                z-index: 999;
                box-shadow: 1px 2px 7px #777;
                li {
                    padding:0 5px 0 10px;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    border-bottom: 1px #eee solid;
                    font-size: 13px;
                    color: #666;
                    &:hover{
                        background-color: #f5f5f5;
                    }
                }
            }
            &:hover{
                color: #008cee;
                cursor: pointer;
            }
        }
    }
}