.en {
    .BaseMsg{
        min-height: 450px;
        border-bottom: 1px solid #eaedef;
        .listBox{
            max-width: 866px;
            .list{
                width: 50%;
                display: inline-block;
                line-height: 40px;
                min-height: 40px;
                padding-left:126px;
                position: relative;
                vertical-align: top;
                .cnFieldCaption{
                    position: absolute;
                    left: 16px;
                    color: #606266;
                    width: 110px;
                    min-height: 30px;
                    line-height: 14px;
                    padding-top: 14px;
                }
            }
        }
        
    }
}