.en {
    @red: #d0021b;
    .stepItem {
        padding-bottom: 40px;
        position: relative;
        .stepFlag {
            float: left;
            width: 90px;
            height: 90px;
            line-height: 90px;
            font-size: 22px;
            color: #fff;
            text-align: center;
            position: relative;
            .text {
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    height: 1px;
                    width: 50px;
                    background-color: @red;
                    top: 50%;
                    left: 100%;
                }
            }
        }
        .stepBox {
            margin-left: 140px;
            min-height: 90px;
            width: 712px;
            position: relative;
            .stepContent,
            .stepShow {
                padding: 30px 20px;
                background-color: #fff;
                box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
                .title {
                    font-size: 16px;
                    color: #303133;
                }
            }
            .stepShow {
                padding-right: 60px;
                position: relative;

                .edit {
                    display: none;
                    position: absolute;
                    right: 30px;
                    top: 50%;
                    color: #fff;
                    font-size: 12px;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 24px;
                    cursor: pointer;
                    transform: translateY(-50%);
                    background: linear-gradient(45deg, rgba(255, 105, 124, 1) 0%, rgba(208, 2, 27, 1) 100%);
                }
                &:hover {
                    .edit {
                        display: block;
                    }
                }

            }


        }
        &.stepStart {
            .stepFlag {
                width: 90px;
                height: 90px;
                line-height: 90px;
                border-radius: 50%;
                background-color: @red;
            }
            .stepContent {
                .title {
                    margin-bottom: 20px;
                }
                .typeTabBox {
                    font-size: 14px;
                    padding-bottom: 10px;
                    .tabItem {
                        margin-right: 15px;
                    }
                    &.checked {
                        border-bottom: 1px solid #EAEDEF;
                        .tabItem {
                            margin-right: 15px;
                            &.active {
                                position: relative;
                                &::after {
                                    content: '';
                                    width: 10px;
                                    height: 10px;
                                    display: block;
                                    position: absolute;
                                    left: 50%;
                                    bottom: -5px;
                                    border-right: 1px solid #eaedef;
                                    border-bottom: 1px solid #eaedef;
                                    background-color: #fff;
                                    transform: translateY(100%) rotate(45deg);
                                }
                            }
                        }
                    }
                }

            }
        }
        &.hasNextStep:before {
            display: block;
            content: '';
            height: 100%;
            width: 1px;
            position: absolute;
            background-color: @red;
            left: 45px;
            top: 45px;
        }
    }

}