.en {
    .title {
        height: 40px;
        color: #606266;
        .lable{
            padding: 6px 8px 6px 12px;
            border-radius:3px;
        }
        .lable1{
            color: #D0021B;
            border: 1px solid #D0021B;
        }
        .lable2{
            border: 1px solid #DFE2E4;
        }
    }
    .search{
        .searchValue{
            width: 750px;
            margin-right:10px;
        }
        .searchClick{
            color: white;
            display: inline-block;
            padding: 0 16px;
            height:40px;
            line-height: 40px;
            background:linear-gradient(45deg,rgba(255,105,124,1) 0%,rgba(208,2,27,1) 100%);
            border-radius:4px;
        }
    }
    .contentBox{
        margin-top: 20px;
        border: 1px solid #DFE2E4;
        border-radius:4px;
        height: 380px;
        .classSearch{
            border-right: 1px solid #DFE2E4;
            width: 33.3%;
            float: left;
            height: 100%;
            .classSearchBox{
                padding: 10px 20px;
            }
            .classContent{
                height: 326px;
                overflow: hidden;
                .list{
                    height:40px;
                    line-height:40px;
                    padding: 0 20px;
                    position: relative;
                    .select{
                        position: absolute;
                        right: 20px;
                    }
                    &:hover{
                        background: #FCF2F3;
                    }
                }
                .list1{
                    background:rgba(252,242,243,1);
                }
                &.hover{
                    overflow: auto;
                }
            }
        }
        .classSearch:last-child{
            border-right: 0;
        }
    }
    .footer{
        text-align: center;
        margin-top: 20px;
        height: 40px;
    }
    .hover:hover {
        cursor: pointer;
    }
    .hoverRed:hover {
        cursor: pointer;
        color: #D0021B;
        border:1px solid #D0021B;
    }
}