@import "~Less/base";
@import "~Less/publicPage";
@import "~Components/dialog/index.less";
@import "~Components/toast/index.less";

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.mescroll-upwarp {
  padding-bottom: 1rem !important;
}

// 兑换记录页列表
.downwarp-content {
  .downwarp-progress {
    width: .24rem !important;
    height: .24rem !important;
    color: @color-tips;
  }
  .downwarp-tip {
    font-size: .24rem !important;
    color: @color-tips;
    vertical-align: middle;
  }
}

.mescroll {
  user-select: none;
}

.auction-active {
  width: 100%;
  height: .6rem;
  line-height: .6rem;
  padding: 0;
  font-size: .28rem;
}

.record-item {
  padding: .4rem .3rem .4rem .4rem;
  font-size: 0;
  border-bottom: 1px solid @border-default;
  cursor: pointer;
  .record-content {
    display: inline-block;
    max-width: 3.4rem;
    max-width: calc(~"100% - 2.8rem");
    padding-right: .2rem;
    vertical-align: middle;
    .record-title {
      .single-line();
      width: 100%;
      line-height: .36rem;
      margin-bottom: .16rem;
      font-size: .3rem;
      color: @text-default;
    }
    .record-text {
      .single-line();
      width: 100%;
      line-height: .36rem;
      font-size: .24rem;
      color: @text-content;
    }
  }
  .record-state {
    float: right;
    display: table;
    height: 1.2rem;
  }
  .state-box {
    display: table-cell;
    width: 1.4rem;
    text-align: center;
    vertical-align: middle;
  }
  .state-text {
    display: inline-block;
    height: .36rem;
    line-height: .32rem;
    margin-right: .08rem;
    padding: 0 .08rem;
    border-radius: .05rem;
    border: 2px solid #FF3B30;
    color: #FF3B30;
    font-size: .2rem;
    vertical-align: top;
    &.state-disabled {
      border-color: #CCCCCC;
      color: #999999;
    }
  }
}

// 兑换记录弹窗
#orderDetail {
  .dialog-modal {
    width: auto;
  }
}

.order-content {
  min-height: 4.1rem;
  max-height: 5.6rem;
  width: 5rem;
  margin: .6rem .5rem .3rem;
  overflow: auto;
  .image-wrapper {
    height: 1.5rem;
    text-align: center;
    .order-image {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .order-title {
    line-height: 1;
    margin: .2rem 0 .36rem;
    text-align: center;
    font-size: .32rem;
    font-weight: bold;
    color: #333333;
  }
}
