.zh-cn,
.zh-tw {
    .DialogRule {
        .ruleBody,
        .dialog-footer {
            padding: 0 82px 0 42px;
        }
        .tableBox {
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
            .opreationBtn {
                width: 16px;
                height: 16px;
                line-height: 16px;
                color: #fff;
                float: left;
                font-size: 12px;
                text-align: center;
                margin-right: 6px;
                background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                border-radius: 50%;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}