
.en {
    .screenMenus{
        padding: 6px 0px 0 20px;
        // 导航栏
        position: relative;
        .ax_default{
            display:inline-block;
            position: absolute;
            top: 14px;
            left: 10px;
            color: RGBA(144, 147, 153, 1);
            color: #008CEE;
        }
        .screenMenuRow{
            margin-left: 60px;
            padding-right: 190px;
            min-height: 40px;
            .searchList{
                display: inline-block;
                div{
                    margin-bottom: 7px;
                    margin-left: 10px;
                }
            }
        }
        .screenMenuVertical{
            min-height: 86px;
            margin-left: 60px;
            overflow: auto;
            max-height: 400px;
            .hover{
                cursor: pointer;
            }
            .list{
                max-width: 70%;
                position: relative;
                margin-bottom:4px; 
                .fixedLeft{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 84px;
                    .labelName{
                        display:inline-block;
                        width:124px;
                        color:rgba(144,147,153,1);
                        text-align:right; 
                        padding-top: 8px;
                    }
                }
                .fixedRight{
                    margin-left:138px; 
                    position: relative;
                }
            }
        }
    }
}
    
    
    