.mescroll-downwarp .downwarp-progress,
.mescroll-upwarp .upwarp-progress {
  width: .24rem !important;
  height: .24rem !important;
  border-color: #04be02 !important;
  border-bottom-color: transparent !important;
}

.mescroll-downwarp .downwarp-tip,
.mescroll-upwarp .mescroll-tips,
.mescroll-upwarp .upwarp-tip,
.mescroll-upwarp .upwarp-nodata {
  font-size: .24rem !important;
  color: #999999 !important;
  vertical-align: middle;
}

.mescroll-empty {
  padding-top: 3rem;
  .empty-btn {
    display: inline-block;
    width: 1.4rem;
    height: .6rem;
    line-height: .54rem;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: .28rem;
    color: #FF7E00;
    border: .03rem solid #FF7E00;
    border-radius: .48rem;
  }
}
