// cdn
@cdn-url: 'https://statics-web.iqiyi.com/h5/integralh5/res/img/';
// res
@res-url: '~Res/img/';
@res-font-url: '~Res/font/';
// assets
@assets-url: '~Assets/img/';

// 全局色
@color-primary: #FF6600;
@color-primary-light: #FF7E00;
@color-tips: #999999;
@color-word: #333333;
@color-error: #FF3B3B;

// 背景色
@bg-default: #F8F8F8;
@bg-primary: @color-primary;
@bg-dark: #1D1D1E;

// 刷新
@refresh-default: #35be06;

// 文字
@text-default: @color-word;
@text-tips: @color-tips;
@text-content: #666666;
@text-primary: @color-primary;
@text-primary-light: @color-primary-light;
@text-light: #ffffff;
@text-error: @color-error;

// 边框线
@border-default: #f2f2f2;
@border-primary: @color-primary;

// 分割线
@split-default: #E3E3E3;

// 按钮
@button-bg-default: #38383B;
@button-bg-primary: @color-primary-light;

// 状态
@state-warning: #FF2626;
