.zh-cn,
.zh-tw {
    .DialogAddFolder {
        .el-form {
            padding: 0 50px 0 20px;
        }
        .marginTop-10 {
            margin-top: -10px;
        }
        .marginTop-20 {
            margin-top: -20px;
        }
        
    }
    .Mail {
        height: 100%;
        color: #666;
        .navSlider,
        .navSliderClose {
            color: #eee;
            width: 12px;
            height: 50px;
            line-height: 50px;
            color: #fff;
            position: absolute;
            top: 50%;
            margin-top: -25px;
            z-index: 9;
            background-color: #ccc;
            -moz-transition: all 0.1s ease-out;
            -webkit-transition: all 0.1s ease-out;
            -ms-transition: all 0.1s ease-out;
            -o-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;
            i {
                font-size: 12px;
            }
            &:hover {
                cursor: pointer;
                width: 23px;
                padding: 0 3px;
                background-color: #888;
            }
        }
        .navSlider {
            left: 227px;
            text-align: left;
            border-radius: 10px 0 0 10px;
            &:hover {
                left: 216px;
            }
        }
        .navSliderClose {
            left: 0;
            text-align: right;
            border-radius: 0 10px 10px 0;
            &:hover {
                left: 0;
            }
        }
        .navLeft,
        .mainRight {
            -moz-transition: all 0.1s ease-out;
            -webkit-transition: all 0.1s ease-out;
            -ms-transition: all 0.1s ease-out;
            -o-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;
            height: 100%;
            overflow: hidden;
            position: relative;
        }
        .navLeft {
            width: 240px;
            border-right: 1px solid #ddd;
            float: left;
            color: #222;
            overflow: auto;
            padding-bottom: 15px;
            .userItem {
                height: 45px;
                line-height: 45px;
                border-bottom: 1px solid #ddd;
                padding: 0 10px;
                >span {
                    float: left;
                }
                .userAvatar {
                    width: 32px;
                    height: 32px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin: 7px 10px 0 0;
                }
                .userName {
                    color: #222;
                    max-width: 70px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .showBranch {
                    padding: 0 10px;
                }
                .el-dropdown-link {
                    >i {
                        font-size: 13px;
                    }
                }
            }
            .receiveItem {
                height: 40px;
                line-height: 40px;
                border-bottom: 1px solid #ddd;
                >div {
                    width: 50%;
                    float: left;
                    text-align: center;
                    position: relative;
                    color: #008cee;
                    .iconfont {
                        font-size: 12px;
                        margin-left: 2px;
                    }
                    &:after {
                        content: '';
                        width: 1px;
                        background-color: #ddd;
                        position: absolute;
                        top: 10px;
                        right: 0;
                        bottom: 10px;
                    }
                    &:hover {
                        color: #222;
                        cursor: pointer;
                    }
                }
            }
            .treeItem {
                border-bottom: 1px solid #ddd;
                .title {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 10px 0 22px;
                    position: relative;
                    i.arrow {
                        display: block;
                        width: 23px;
                        height: 100%;
                        padding: 1px 0 0 1px;
                        font-size: 13px;
                        text-align: center;
                        color: #666;
                        position: absolute;
                        left: 0;
                        top: 0;
                        &:hover {
                            color: #008cee;
                            cursor: pointer;
                        }
                    }
                    i.iconThis {
                        font-size: 15px;
                        color: #999;
                        margin-right: 2px;
                    }
                    &:hover,
                    &.active {
                        background-color: #eee;
                        cursor: default;
                    }
                }
                ul.T_down {
                    //菜单树
                    background-color: #fff;
                    padding-left: 15px;
                    line-height: 35px;
                    li {
                        >h3 {
                            border-top: 1px solid #fff;
                            font-weight: normal;
                            font-size: 14px;
                            padding-left: 17px;
                            white-space: nowrap;
                            cursor: default;
                            position: relative;
                            >i.iconfont {
                                display: block;
                                width: 23px;
                                height: 100%;
                                text-align: center;
                                font-size: 12px;
                                color: #666;
                                position: absolute;
                                left: 0;
                                top: 0;
                                &:hover {
                                    color: #008cee;
                                    cursor: pointer;
                                }
                            }
                            >span.label {
                                position: relative;
                                z-index: 1;
                                >em {
                                    font-size: 12px;
                                    font-style: normal;
                                    color: #888;
                                    margin-left: -2px;
                                }
                                .labelColor{
                                    border-radius: 3px;
                                    padding:1px 3px;
                                }
                            }
                            span.T_set {
                                display: none;
                                height: 35px;
                                line-height: 35px;
                                position: absolute;
                                top: 50%;
                                margin-top: -17px;
                                right: 10px;
                                z-index: 2;
                                >i.iconfont {
                                    display: inline-block;
                                    padding: 0 2px;
                                    font-size: 13px;
                                    &:hover {
                                        color: #008cee;
                                        cursor: pointer;
                                    }
                                }
                                .el-dropdown {
                                    i.iconfont {
                                        font-size: 13px;
                                        font-weight: bold;
                                    }
                                }
                            }
                            &.active {
                                // border:1px solid red;
                                &::before {
                                    content: '';
                                }
                            }
                            &:hover {
                                // background-color: #ddd;
                                &::before {
                                    content: '';
                                }
                                span.T_set {
                                    display: block;
                                }
                            }
                            &::before {
                                content: none;
                                background-color: #eee;
                                position: absolute;
                                left: 0;
                                margin-left: -100px;
                                top: 0;
                                right: 0;
                                bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .mainRight {
            margin-left: 240px; // .navTop {
            //     //顶部大TAB导航
            //     width: 100%;
            //     height: 35px;
            //     line-height: 35px;
            //     position: absolute;
            //     z-index: 1; // border-bottom: 1px solid #ddd;
            //     // background-color: #ECF0F5;
            //     // .manage {
            //     //     width: 240px;
            //     //     height: 100%;
            //     //     background-color: #fff;
            //     //     border-right: 1px solid #ddd;
            //     //     text-align: center;
            //     // }
            // }
            .el-tabs {
                // border: 1px solid red;
                height: 100%;
                .tab_fixed {
                    padding: 0 50px;
                    &+.el-icon-close {
                        display: none;
                    }
                }
                .el-tabs__header {
                    // border: 1px solid blue;
                    margin-bottom: 0;
                    .el-tabs__item.is-active {
                        background-color: #fff;
                    }
                    .el-tabs__item {
                        height: 35px;
                        line-height: 35px;
                        padding: 0 12px;
                        .el-icon-close {
                            margin-left: 15px;
                        }
                        &:before {
                            content: '';
                            width: 1px;
                            background-color: #ccc;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }
                    .el-tabs__nav-next,
                    .el-tabs__nav-prev {
                        // border: 1px solid red;
                        line-height: 35px;
                        &:hover {
                            color: #008cee;
                            background-color: #fff;
                        }
                    }
                }
                .el-tabs__content {
                    // border: 11px solid #000;
                    height: 100%;
                    padding-bottom: 35px;
                    .el-tab-pane {
                        height: 100%;
                    }
                }
            }
        }
    }
}