.en {
    .quatilyBuyerBox {
        .toolBar {
            height: 108px;
            margin-top: 44px;
            padding: 16px 20px;
            background-color: #fff;
            .typeBox {
                width: 800px;
                .lineItem {
                    height: 32px;
                    line-height: 32px;
                    margin-bottom: 12px;
                    .countryItem,
                    .industryItem {
                        height: 32px;
                        line-height: 32px;
                        padding: 0 10px;
                        font-size: 14px;
                        margin-right: 10px;
                        background-color: #EFF3FC;
                        color: #818EA9;
                        position: relative;
                        .removeBtn {
                            display: none;
                            cursor: pointer;
                            width: 16px;
                            height: 16px;
                            font-size: 10px;
                            line-height: 16px;
                            text-align: center;
                            border-radius: 8px;
                            position: absolute;
                            right: -8px;
                            top: -8px;
                            color: #fff;
                            background-color: #000;
                        }
                        &:hover {
                            .removeBtn {
                                display: block;
                            }
                        }
                    }
                    .industryItem {
                        background-color: #FFF3F2;
                        color: #FF7165;
                    }
                }
            }
            .settingBox {}
        }
        .resultBox {
            position: absolute;
            top: 152px;
            bottom: 0;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            .listBox {
                margin: 18px 16px 20px 16px;
            }
            .listBox-enter-active,
            .listBox-leave-active {
                transition: all .5s linear;
            }
            .listBox-leave,
            .listBox-enter-to {
                opacity: 1;
                transform: translate3d(0, 0, 0)
            }
            .listBox-enter {
                opacity: 0.1;
                transform: translate3d(100%, 0, 0)
            }
            .listBox-leave-to {
                opacity: 0.1;
                transform: translate3d(0, 0, 0)
            }
            .noDataBox {
                background-color: rgba(0, 0, 0, 0);
            }
            .atCenter {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}