.zh-cn,
.zh-tw {
    .Discovery {
        height: 100%; // position: relative;
        @navW: 200px;
        .rightNav {
            position: relative;
            /*  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.05); */
            width: @navW;
            height: 100%;
            border-radius: 6px 0 0 0;
            /*   border-right: 1px solid #EAEAEA; */
            background: linear-gradient(315deg, rgba(123, 14, 73, 1) 0%, rgba(162, 43, 53, 1) 100%);
            /*  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05); */
        }
        .childrenWindow {
            position: absolute;
            left: @navW;
            right: 0px;
            top: 0;
            bottom: 0;
            /*  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05); */
            border-radius: 0px 6px 0px 0px;
            overflow: hidden;
        }
    }
}