@import "~Less/publicPage";

@color-word-dark: #333333;

.tc {
  text-align: center;
}

.dialog-component {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  color: @color-word-dark;
  z-index: 999;
  opacity: 0;
  transition: opacity .2s;
  overflow: hidden;
  &.fade {
    opacity: 1;
  }
  .dialog-mask {
    position: relative;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .dialog-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5.4rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    .dialog-modal-inner {
      position: relative;
      width: 100%;
      background: #FFFFFF;
      border-radius: .2rem;
    }
    .modal-header {
      position: relative;
      z-index: 1;
      height: 1.3rem;
      line-height: .88rem;
      font-size: .32rem;
      .title-wrap {
        display: inline-block;
        line-height: .46rem;
        padding-top: .52rem;
        color: #333333;
        font-weight: bold;
        font-size: .32rem;
        vertical-align: top;
      }
    }
    .dialog-close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      width: .88rem;
      height: .88rem;
      background-image: url('~Components/dialog/img/popup-close@2x.png');
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      .mix-touch-active-text();
    }
    .dialog-bottom-close {
      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      width: .8rem;
      height: .8rem;
      background: url('~Components/dialog/img/close@2x.png') no-repeat;
      background-size: contain;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      cursor: pointer;
    }
    .modal-body {
      position: relative;
      z-index: 1;
      padding: .1rem 0;
      line-height: .4rem;
      text-align: center;
      color: #666666;
      font-size: .28rem;
    }
    .modal-footer {
      width: 100%;
      padding: 0 .2rem .4rem;
      font-size: 0;
      .button-wrap {
        display: block;
        width: 100%;

        > span + span {
          margin-left: .4rem;
        }
      }
    }
  }
}

.dialog-prompt {
  display: table;
  width: 280px;
  height: 100px;
  text-align: center;
  .prompt-text {
    display: table-cell;
    line-height: 26px;
    font-size: 16px;
    vertical-align: middle;
  }
}
