@import '../../../public-en.less';
.en {
    .FastText {
        .menu {
            // border:1px solid red;
            width: 235px;
            height: 100%;
            overflow: auto;
            box-shadow:4px 0px 5px 0px rgba(0,0,0,0.05);
            border-radius: 6px 0 0 0;
            position: absolute;
            z-index: 1;
            >.text-center {
                padding: 12px 0 10px;
                button {
                    width: 84px;
                }
            }
        }
        .navWindow {
            padding: 1px 15px 15px 251px;
            position: relative;
            height: 100%;
            overflow: auto;
        }
    }
}

.button-font {
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
}
