.checkboxWrap {
    label {
        display: block;
        margin-left: 0;
        .defaultLabel {
            width: 70%;
            float: left;
        }
        .tips {
            width: 20%;
            float: right;
        }
    }
}
.hidelabel {
    padding: 10px;
    background-color: #DFE2E4;
}
.helplabel {
    padding: 10px;
    background-color: #DFE2E4;
    overflow: hidden;
    label {
        width: 50%;
        padding: 10px 30px 10px 0;
        float: left;
    }
    .el-input-group__prepend {
        background: #fff;
    }
}