@import '../../../../../public-en.less';
.en {
    .SetAvatar {
        .input_title{
            // border:1px solid red;
            padding-bottom: 10px;
        }
        .disabled {
            background: #ddd !important;
            cursor: not-allowed !important;
        }
        .avatarType {
            position: absolute;
            left: 20px;
            bottom: -57px;
        }
        .avatarShowSize {
            // border:1px solid red;
            margin-top: 40px;
            margin-left: 15px;
            >div {
                // border:1px solid red;
                display: inline-block;
                text-align: center;
                margin-right: 30px;
                color: #909399;
                font-size: 12px;
                .avatarRound {
                    height: 96px;
                    margin-bottom: 46px;
                    vertical-align: middle;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    img,
                    .defaultBg {
                        display: inline-block;
                        border-radius: 50%;
                        background-color: #f7f8f9;
                        color: #f7f8f9;
                    }
                }
            }
            >div:first-child {
                img,
                .defaultBg {
                    width: 96px;
                    height: 96px;
                    line-height: 96px;
                    border-radius: 50%;
                    font-size: 16px;
                }
            }
            >div:nth-child(2) {
                img,
                .defaultBg {
                    width: 48px;
                    height: 48px;
                    line-height: 48px;
                    border-radius: 50%;
                    font-size: 13px;
                }
            }
            >div:nth-child(3) {
                img,
                .defaultBg {
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    border-radius: 50%;
                    font-size: 12px;
                }
            }
        }
        hr.avatarLine {
            border: none;
            border-top: 1px dashed #eee;
            margin: 10px 0 20px;
        }
        ul.set_pic {
            >li {
                float: left;
                text-align: center;
                line-height: 26px;
                font-size: 14px;
                position: relative;
                margin-bottom: 15px;
                .namePicUse {
                    color: #222;
                    padding-bottom: 5px;
                }
            }
            >li:first-child {
                margin-right: 30px;
            }
        } //上传
        .set_pic_upload {
            .set_select_file {
                width: 180px;
                height: 180px;
                line-height: 175px;
                overflow: hidden;
                border: 1px dashed #8e8e8e;
                background-color: #f7f8f9;
                border-radius: 4px;
                position: relative;
                margin-bottom: 5px;
                >img {
                    max-width: 100%;
                    max-height: 100%;
                    vertical-align: middle;
                }
                .iconfont {
                    font-size: 38px;
                    position: relative;
                    color: #ddd;
                    position: absolute;
                    left: 50%;
                    margin-left: -20px;
                    opacity: .8;
                }
                input[type='file'] {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    cursor: pointer;
                }
            }
            .set_select_file:hover {
                border-color: #d0021b;
                .iconfont {
                    opacity: 1;
                    color: #d0021b;
                }
                >input {
                    z-index: 1;
                }
            }
            .descript {
                font-size: 12px;
                color: #909399;
                line-height: 18px;
                .recomm {
                    display: inline-block;
                    background: #FFB735;
                    border-radius: 2px;
                    padding: 1px 8px;
                    margin-left: 8px;
                    font-size: 12px;
                    transform: scale(0.8);
                    -webkit-transform: scale(0.8);
                    color: #fff;
                    font-style: normal;
                }
            }
        }
    }
}