
.en {
    .custDialog{
        .listRadio {
            margin: 8px 23px;
            color: #666;
            font-size: 14px;
            .itemName{
                width:100px;
                display:inline-block;
            }
            >li {
                margin-bottom: 5px;
                >span {
                    margin-right: 5px;
                }
            }
        }
    }
}