<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <meta charset='utf-8' />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="//www.iqiyipic.com/common/images/logo.ico" type="image/icon">
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=640){
                        docEl.style.fontSize = '100px';
                    }else{
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };
            recalc();
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <link rel="stylesheet" href="<%- getStatic('rnShare.css') %>" ></link>
    <link rel="stylesheet" href="//security.iqiyi.com/static/captcha/css/all.css">

</head>
<body>
    <div class="container" style="font-size: 0">
        <image src="" id="p1" style="width:100%" data-btn="p1_go" data-index="1"/>
        <image src="" id="p2" style="width:100%" data-btn="p2_go" data-index="2"/>
    </div>

    <script src="<%- getStatic('res/scripts/lib/zepto-with-tap-i.min.js') %>"></script>
    <script src="<%- getStatic('vendor.js') %>"></script>
    <script src="<%- getStatic('rnShare.js') %>"></script>
</body>
</html>
