.en {
    .listEdit{
        .fieldNameClass{
            display: inline-block;
            width: 250px;
            vertical-align: top;
        }
         .dialogFooter {
            width: 100%;
            margin-top:10px;
            text-align: center;
        }
    }
}