.zh-cn,
.zh-tw {
    .Opportunity {
        .mainBox {
            position: absolute;
            top: 52px;
            bottom: 0;
            width: 100%;
            padding: 16px 16px 0 16px;
            overflow-y: auto;
            &.hasPage {
                bottom: 40px;
            }
        }
        .toolBar {
            height: 64px;
            line-height: 64px;
            background-color: #fff;
            padding: 0 16px;
            .hint-text {
                font-size: 14px;
                color: #606266;
            }
            .setting-btn {
                font-size: 12px;
                border-radius: 16px;
            }
        }
        .tableBox {

            /* header */
            .tableHeader {
                background-color: #EFF2F4;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                color: #909399;
                padding-left: 30px;
            }

            /* header end */

            /* body */
            .tableBody {
                padding-bottom: 20px;
            }

        }
        .page {
            position: absolute;
            bottom: 0;
            height: 40px;
            width: 100%;
            background-color: #fff;
            line-height: 40px;
            text-align: center;
        }
        .noDataBox {
            background-color: rgba(0, 0, 0, 0);
        }
    }
}