.en {
    .TabDetail {
        // border: 1px solid red;
        margin:15px;
        overflow: hidden;
        >ul {
            width: 700px;
            margin-top: -16px;
            >li {
                // border-bottom: 1px solid red;
                width: 50%;
                min-height: 32px;
                float: left;
                &.block {
                    width: 100%;
                }
                .componentTitle {
                    // border: 1px solid red;
                    padding: 10px 0 3px;
                    margin-top: 5px;
                    color: #222;
                    font-weight: bold;
                    position: relative;
                    &:before {
                        content: '';
                        height: 1px;
                        background: #EAEDEF;
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: -2000px;
                    }
                }
                .components {
                    // border: 1px solid red;
                    color: #606266;
                }
                &:first-child .componentTitle {
                    //第一个边线不要
                    // margin-top: 0;
                    // padding-top: 0;
                    &::before {
                        content: none;
                    }
                }
            }
            &:after {
                content: '';
                display: table;
                height: 0;
                clear: both;
            }
        }
    }
}