.facebookIcon,
.twitterIcon,
.linkedinIcon,
.pinterestIcon {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    color: #fff;
}
.facebookIcon {
    background-color: #3B5999;
}
.twitterIcon {
    background-color: #00AEF4;
}
.linkedinIcon {
    background-color: #0073b1;
}
.pinterestIcon {
    background-color: #d02c30;
}