.zh-cn,
.zh-tw {
    .SystemBulletin {
        .mainBody {
            padding-top: 30px;
            right: 0;
            left: 0;
        }
        .bulletinList {
            max-width: 800px;
            .bulletinItem {
                margin-bottom: 45px;
                .title {
                    font-size: 20px;
                    color: #303133;
                    cursor: pointer;
                }
                .infoBox {
                    height: 20px;
                    line-height: 20px;
                    margin: 8px 0 13px 0;
                    color: #909399;
                    li {
                        margin-right: 20px;
                        .iconfont {
                            margin-right: 5px;
                            color: #909399;
                        }
                        &.zan {
                            &:hover {
                                cursor: pointer;
                            }
                            &.active {
                                color: #FF7165;
                                .iconfont {
                                    color: #FF7165;
                                }
                            }
                        }
                    }
                }
                .summary {
                    font-size: 14px;
                    color: #6B6B6B;
                    line-height: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}