
.en{
    .customerSelection {
        text-align: center;
        padding-left:14px;
        .hover{
            cursor: pointer;
        }
        .el-dialog__title {
            font-size: 20px;
        }
        .moreCondition {
            font-size: 12px;
            color: RGBA(208, 2, 27, 1);
            margin: 20px 0 30px;
        }
        ul {
            width: 95%;
            li {
                text-align: left;
                margin-bottom: 8px;
                .setControl {
                    text-align: center;
                    line-height: 34px;
                    .topClick{
                        width:24px;
                        height:24px;
                        background:rgba(192,196,204,1);
                        font-size: 12px;
                        line-height: 24px;
                        text-align: center;
                        color: white;
                        display: inline-block;
                        border-radius: 50%; 
                    }
                }
            }
            li:last-child{
                margin-bottom: 0;
            }
        }
        .moreConditionList {
            display: none;
        }
        .el-dialog--small {
            width: 485px;
        }
        .dialog-footer {
            button {
                height:32px;
                background:rgba(208,2,27,1);
                border-radius:2px;
                font-size:12px;
            }
        }
    }
}