 .zh-cn,
 .zh-tw {
     .SubordinateClient {
         //  border: 1px solid red;
         border-bottom: 1px solid transparent;
         margin-top: -16px;
         position: relative;
         padding-bottom: 65px;
        //  .customerListsBox {
        //      // border: 1px solid blue;
        //      margin-bottom: 65px;
        //  }
         .pagination {
             // border: 1px solid red;
             text-align: center;
             background: #fff;
             text-align: center;
             padding: 5px 0 10px;
         }
     }
 }