.zh-cn,
.zh-tw{
    .AddMsg{
        .arrow-down{
            float: right;
            padding: 0;
            line-height: 20px;
            .iconfont{
                font-size: 20px;
            }
            &:hover {
                cursor: pointer;
                color:#008cee;
            }
        }
    }
}