.zh-cn,
.zh-tw {
    .TwolevelNav {
        width: 230px;
        height: 100%;
        padding: 12px 0;
        background-color: #fff;
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        border-radius: 8px 0 0 0;
        box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.05);
        .addReportClass {
            text-align: center;
            height: 35px;
        }
        .menuNavList {
            height: 100%;
            flex: 1;
            overflow-y: auto;
        }
        .delReportClass {
            height: 50px;
            padding: 15px 0;
            text-align: center;
            .el-button--primary {
                background: #222222;
                border-color: #222222;
            }
        }
    }
}