.en {
    .PurchaseTrend {
        border-bottom: 1px solid #eaeaea;
        .TrendList {
            &>.trendItem {
                float: left;
                height: 90px;
                width: calc((100% - 60px)/4);
                border: 1px solid #eaeaea;
                border-radius: 2px;
                margin-right: 20px;
                padding: 16px;
                &:nth-last-of-type(1) {
                    margin-right: 0;
                }
            }

            .iconBox {
                float: left;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border-radius: 50%;
                &.Max {
                    color: rgba(255, 113, 101, 1);
                    background: rgba(255, 113, 101, 0.2);
                }
                &.Money {
                    color: rgba(55, 203, 227, 1);
                    background: rgba(55, 203, 227, 0.2);
                }
                &.Count {
                    color: rgba(155, 128, 242, 1);
                    background: rgba(155, 128, 242, 0.2);
                }
                &.Time {
                    color: rgba(191, 191, 23, 1);
                    background: rgba(191, 191, 23, 0.2);
                }
            }

            .content {
                font-size: 20px;
                margin-left: 40px;
                height: 30px;
                line-height: 30px;
                color: #222;
            }
            .label {
                font-size: 12px;
                color: #606266;
                margin-top: 4px;
                margin-left: 40px;
            }
        }
        .ChartBox {
            margin-top: 20px;
            .select {
                width: 120px;
            }
            .ShowBox {
                height: 360px;
            }
            .noDataBox {
                height: 360px;
                position: relative;
                .atCenter {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                }
            }

        }
    }
}