@import '../../public-zh-cn.less';
.zh-cn,
.zh-tw {
    .RoleManag {
        // border: 1px solid red;
        .Window {
            // border: 1px solid red;
            margin-top: 10px;
            position: relative;
            height: 100%;
            // background: #fff;
            // border-radius: 4px 4px 0 0;
            .menu {
                // border: 1px solid blue;
                width: 210px;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 55px;
                z-index: 1;
                border-right: 1px solid #EAEAEA;
                >.text-center {
                    padding: 12px 0;
                }
                >ul {
                    // border:1px solid red;
                    position: absolute;
                    left: 0;
                    top: 55px;
                    right: 0;
                    bottom: 0;
                    overflow: auto;
                    padding-bottom: 15px;
                    >li {
                        height: 40px;
                        line-height: 40px;
                        margin-bottom: 1px;
                        padding-left: 18px;
                        position: relative;
                        // border-left: 2px solid transparent;
                        >i {
                            font-size: 17px;
                            margin-right: 8px;
                            float: left;
                            color: #DFE2E4;
                        }
                        .roleName {
                            display: inline-block;
                            width: 60%;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            color: #909399;
                        }
                        .roleBtns {
                            display: none;
                            height: 20px;
                            line-height: 20px;
                            min-width: 20px;
                            position: absolute;
                            right: 15px;
                            top: 50%;
                            margin-top: -10px;
                            >span {
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                text-align: center;
                                color: #d0021b;
                                >i {
                                    display: inline-block;
                                    font-size: 15px;
                                }
                                &:hover {
                                    color: #d0021b;
                                }
                            }
                        }
                        &:hover .roleBtns {
                            display: inline-block;
                        }
                        &:hover,
                        &.current {
                            cursor: pointer;
                            background: #FAFAFA;
                            // border-left-color: #d0021b;
                            >i {
                                color: #d0021b;
                            }
                            .roleName {
                                color: #d0021b;
                            }
                        }
                    }
                }
            }
            .navWindow {
                // border: 1px solid red;
                margin-left: 210px;
                padding: 0 20px;
                position: relative;
                >p {
                    font-size: 14px;
                    height: 44px;
                    line-height: 50px;
                    font-size: 12px;
                    >span {
                        margin-right: 10px;
                    }
                    span.roleName {
                        color: #222;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
                .mainTab {
                    // border:1px solid red;
                    padding: 0 15px 15px;
                    margin-top: 12px;
                    overflow: auto;
                    .mailManager {
                        // border: 1px solid red;
                        margin-top: -15px;
                        margin-bottom: 15px;
                        >dl {
                            dt {
                                color: #222;
                                font-weight: bold;
                                padding: 10px 0;
                            }
                            dd {
                                // height: 33px;
                                line-height: 33px;
                                .text-red {
                                    // border: 1px solid red;
                                    position: relative;
                                    top: 3px;
                                    font-weight: bold;
                                    margin-right: 2px;
                                }
                            }
                        }
                    }
                    hr {
                        height: 0;
                        border: none;
                        border-top: 1px solid #EAEDEF;
                        margin: 5px 0 15px;
                    }
                    table.table {
                        margin-bottom: 15px;
                        width: 100%;
                        min-width: 755px;
                        border-collapse: collapse;
                        color: #606266;
                        .name {
                            color: #222;
                            font-weight: bold;
                        }
                        >caption {
                            text-align: left;
                            padding-bottom: 10px;
                        }
                        th,
                        td {
                            padding: 3px 0;
                        }
                        td {
                            // border: 1px #ccc solid;
                        }
                        .tableSub {
                            width: 100%;
                            border-collapse: collapse;
                            border: none;
                            th {
                                color: #222;
                                font-weight: normal;
                                text-align: left;
                                white-space: nowrap;
                            }
                            td,
                            th {
                                border: none;
                            }
                            .el-radio-group {
                                // border: 1px solid red;
                                margin: 5px 0 0 5px;
                                .el-radio {
                                    display: block;
                                    margin: 0 0 13px;
                                    +.el-radio {
                                        margin-left: 0;
                                    }
                                }
                            }
                            .radio_item {
                                // border:1px solid blue;
                                margin-top: 2px;
                                >span {
                                    display: block;
                                    margin: 0 0 10px 0;
                                    white-space: nowrap;
                                }
                            }
                            .deptRadioName {
                                height: 40px;
                            }
                            .el-radio-group {
                                // border:1px solid red;
                                padding-left: 5px;
                            }
                            .deptRadio {
                                //添加部门按钮
                                // border:1px solid black;
                                // margin-left: 2px;
                                height: 50px;
                                position: relative;
                                >div {
                                    // border: 1px solid blue;
                                    width: 60px;
                                    position: absolute;
                                    top: 19px;
                                    left: 50%;
                                    margin-left: -34px;
                                    button {
                                        font-size: 12px;
                                        padding-left: 8px;
                                        padding-right: 8px;
                                    }
                                    &:after {
                                        content: '';
                                        width: 0;
                                        height: 0;
                                        border-width: 6px;
                                        border-style: solid;
                                        border-color: transparent transparent #d0021b transparent;
                                        position: absolute;
                                        left: 50%;
                                        margin-left: -6px;
                                        top: -10px;
                                    }
                                    &:hover::after {
                                        // background: blue;
                                        border-bottom-color: #E6001F;
                                    }
                                }
                            }
                        }
                        .checkbox_item {
                            // border: 1px solid blue;
                            margin: 0 0 8px;
                            >span {
                                // border:1px solid blue;
                                border: 1px solid rgba(223, 226, 228, 1);
                                display: inline-block;
                                padding-left: 10px;
                                padding-right: 5px;
                                margin-right: 10px;
                                min-width: 100px;
                                height: 32px;
                                line-height: 30px;
                                color: #606266;
                                margin-bottom: 6px;
                                border-radius: 3px;
                                &:hover {
                                    border-color: #d0021b;
                                    color: #d0021b;
                                }
                                &.disabled {
                                    background: #f7f8f9;
                                    &:hover {
                                        border-color: #DFE2E4;
                                    }
                                }
                            }
                        }
                        .noViewField {
                            margin-top: 5px;
                            >caption {
                                padding: 10px 20px 5px;
                                border-top: 1px solid #ddd;
                                margin: 0 -15px 0 -10px;
                                color: #555;
                            }
                        }
                    }
                }
            }
        }
    }
}