.zh-cn,
.zh-tw {
    .typePanelBox {
        padding: 20px 0;
        .itemline {
            min-height: 32px;
            margin: 10px 0;
            position: relative;
            padding-left: 70px;
            .radioBox {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            .weekSel,
            .monthSel {
                width: 100px;
                margin-right: 10px;
            }
        }
    }
}