.zh-cn,
.zh-tw {
    .CustomMade {
        //定制的展示功能，星标关注等
        // border:1px solid red;
        .scoreSlider {
            //对话框滑动条
            margin: 10px 0 80px;
            .text-red {
                font-size: 23px;
                margin-top: 20px;
            }
        }
        >table {
            // border: 1px solid red;
            text-align: center;
            
            position: absolute;
            right: 12px;
            top: 22px;
            z-index: 1;
            .tooltip{
                width: 130px;
            }
            td {
                color: #909399;
                padding: 8px 0;
                width: 110px;
                >span {
                    font-size: 23px;
                    display: inline-block;
                    height: 32px;
                    >em {
                        font-size: 13px;
                        font-style: normal;
                        color: #d0021b;
                    }
                    i.iconfont {
                        font-size: 24px;
                        color: #ddd;
                    }
                }
                &:hover {
                    cursor: pointer;
                    i.iconfont,
                    >span,
                    >div {
                        color: #E6001F!important;
                    }
                }
                &:last-child:hover {
                    cursor: default;
                }
            }
        }
    }
}