 .zh-cn,
 .zh-tw {
     .SubordinateClient {
         //  border: 1px solid red;
         border-bottom: 1px solid transparent;
         min-height: 300px;
         margin-top: -16px;
         .customerListsBox {
             // border: 1px solid blue;
             margin-bottom: 65px;
         }
         .pagination {
             // border: 1px solid red;
             text-align: center;
             background: #fff;
             text-align: center;
             position: fixed;
             left: 314px;
             right: 19px;
             bottom: 0;
             padding: 5px 0 10px;
         }
     }
 }