.ToOrder {
    padding: 15px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 9;
    // border:1px solid red;
    .header {
        // border:1px solid red;
        overflow: hidden;
        margin-top: 8px;
        >span {
            color: #303133;
        }
        .reset {
            margin-left: 10px;
        }
    }
    .leftBox {
        // border: 1px solid red;
        position: absolute;
        left: 15px;
        top: 56px;
        right: 350px;
        bottom: 0;
        overflow: auto;
        .table {
            padding: 10px;
            background: #FCF2F3;
            >table {
                width: 100%;
                th,
                td {
                    padding: 5px 8px;
                    text-align: left;
                }
                td {
                    font-size: 12px;
                    >span {
                        color: #303133;
                    }
                }
            }
        }
        .mx_btn {
            display: inline-block;
            border-radius: 3px;
            border: 1px solid #EAEDEF;
            color: #606266;
            height: 50px;
            line-height: 50px;
            text-align: center;
            margin: 0 10px 0 0;
            padding: 0 12px;
            -webkit-flex: 1;
            flex: 1;
            position: relative;
            overflow: hidden;
            &.active {
                border-color: #d0021b;
            }
            &.disable {
                background-color: #eef1f6;
                border-color: #d1dbe5;
                &:hover {
                    border-color: #d1dbe5 !important;
                    cursor: not-allowed !important;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .orderTop {
            border: 1px solid #dfe2e4;
            border-radius: 3px;
            background: #fff;
            padding: 15px 15px 5px;
            margin-top: 15px;
            color: #606266;
            position: relative;
            >dt {
                color: #303133;
                margin-bottom: 8px;
                font-weight: bold;
                .pull-right {
                    color: #909399;
                }
            }
            >dd.btns {
                // display: -webkit-flex;
                // display: flex;
                .yaerBtn {
                    width: 130px;
                    position: relative;
                }
                >span {
                    width: 130px;
                    position: relative;
                    .tip {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 3px;
                        color: #f60;
                        line-height: 10px;
                        font-size: 12px;
                    }
                    &:hover {
                        border-color: #d0021b;
                        cursor: pointer;
                    }
                    &.mx_gift::after {
                        content: '惠';
                        font-size: 12px;
                        height: 33px;
                        padding: 0 20px;
                        font-size: 12px;
                        background: #d0021b;
                        color: #fff;
                        position: absolute;
                        top: -13px;
                        right: -22px;
                        text-align: center;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }
                }
            }
            dd.descript {
                padding-top: 5px;
                >div {
                    // border:1px solid red;
                    margin: 5px 0 0;
                    .iconfont {
                        color: #909299;
                        margin-right: 2px;
                    }
                    .save,
                    .gift {
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        line-height: 18px;
                        text-align: center;
                        border-radius: 3px;
                        font-size: 12px;
                        background: #D0021B;
                        color: #fff;
                        margin-right: 5px;
                    }
                    .gift {
                        background: #FFB735;
                    }
                }
            }
            dd:last-child {
                margin-bottom: 10px;
                .save,
                .gift {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    text-align: center;
                    border-radius: 3px;
                    font-size: 12px;
                    background: #D0021B;
                    color: #fff;
                    margin-right: 5px;
                }
                .gift {
                    background: #FFB735;
                }
            }
        }
    }
    .rightBox {
        width: 320px;
        float: right;
        margin-top: 15px;
        min-height: 555px;
        border: 1px solid #dfe2e4;
        border-radius: 3px;
        position: relative;
        padding-bottom: 40px;
        .top {
            font-size: 16px;
            color: #303133;
            padding: 12px 15px 0;
        }

        i {
            font-style: normal;
        }
        &.orderSheet {

            .original {
                font-size: 15px;
                color: #909299;
                font-weight: bold;
                text-decoration: line-through;
                margin-left: 10px;
            }
            .blod {
                font-weight: bold !important;
                color: #1f2d3d !important;
                font-size: 14px !important;
            }
            .red {
                color: #D0021B;
                font-size: 14px;
                font-weight: bold;
            }
            .save,
            .gift {
                display: inline-block;
                width: 18px;
                height: 18px;
                line-height: 18px;
                text-align: center;
                border-radius: 3px;
                font-size: 12px;
                background: #D0021B;
                color: #fff;
                margin-right: 5px;
            }
            .gift {
                background: #FFB735;
            }
            .title {
                padding: 15px 15px 0;
                font-size: 14px;
                color: #303133;
                overflow: hidden;
                div {
                    float: left;
                    span {
                        margin-left: 10px;
                    }
                }
                em {
                    float: right;
                    font-style: normal;
                }
                .space {
                    span {
                        float: none;
                    }
                }
            }
            em {
                font-style: normal;
            }
            .current {
                margin-top: 5px;
                background: #fff;
                padding: 10px 15px;
                ul {
                    margin-top: 5px;
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        width: 50%;
                        line-height: 25px;
                        font-size: 13px;
                        display: flex;
                        span {
                            min-width: 75px !important;
                        }
                    }
                    em {
                        font-style: normal;
                    }
                }
            }
            >ul {
                margin: 5px 15px 10px;
                padding-bottom: 8px;
                >li {
                    overflow: hidden;
                    >em {
                        // color: #909399;
                        font-style: normal;
                        // width: 80%;
                        font-size: 14px;
                        float: right;
                        font-weight: bold;
                    }
                    >span.left {
                        width: 73px;
                        font-size: 12px;
                        color: #909399;
                    }
                    >div.left {
                        float: left;
                    }
                }
            }
            >dl {
                // border-bottom: 1px dashed #eee;
                padding: 15px;
                text-align: right;
                line-height: 28px;
                >dt {
                    color: #d0021b;
                    font-weight: bold;
                    span {
                        font-size: 20px;
                    }
                }
                dd.gift {
                    color: #00C2B3;
                }
                dd.save {
                    display: -webkit-flex;
                    >div {
                        -webkit-flex: 1;
                        flex: 1;
                        .save,
                        .gift {
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            line-height: 18px;
                            text-align: center;
                            border-radius: 3px;
                            font-size: 12px;
                            background: #D0021B;
                            color: #fff;
                            margin-right: 5px;
                        }
                        .gift {
                            background: #FFB735;
                        }
                    }
                }
            }
        }
        .submit {
            position: absolute;
            bottom: 12px;
            left: 10px;
            right: 10px;
        }
    }
}
.boxActive {
    font-size: 12px;
}