{% extends 'layout.html' %}

{% block main %}
    <ol class="breadcrumb">
        <li><a href="#">管理首页</a></li>
        <li><span>分类列表</span></li>
    </ol>

    <h3>分类列表</h3>

    <table class="table table-hover  table-bordered text-center">

        <tr>
            <th style="text-align: center">ID</th>
            <th style="text-align: center">分类名称</th>
            <th style="text-align: center">操作</th>
        </tr>

        {% for category in categories %}
        <tr>
            <td>{{category._id.toString()}}</td>
            <td>{{category.name}}</td>
            <td>
                <a href="/admin/category/edit?id={{category._id.toString()}}">修改</a>|
                <a href="/admin/category/delete?id={{category._id.toString()}}">删除</a>
            </td>
        </tr>
        {% endfor %}

    </table>

<nav aria-label="Page navigation" class="col-md-6 col-md-offset-4">

    <ul class="pagination" id="pagination">

        <li class="previous"><a href="/admin/category?page={{page-1}}">&larr;上一页</a></li>
        {% for page_num in pageAll %}
        <li class="page"><a href="/admin/category?page={{page_num}}">{{page_num}}</a></li>
        {% endfor %}
        <li class="next"><a href="/admin/category?page={{page+1}}">下一页 &rarr;</a></li>

    </ul>
</nav>

{% endblock %}