.condition {
    width: 100%;
    .filterleft {
        width: 65%;
        p {
            color: #606266;
            span {
                color: #909399;
            }
        }
        .listRadio {
            margin-top: 10px;
            li {
                height: 32px;
                line-height: 32px;
                margin-bottom: 10px;
                .radioName {
                    // width: 180px;
                    overflow: hidden
                }
                .radioBtn {
                    position: relative;
                }
            }
        }
    }

    .filterterm {
        width: 400px;
        height: 40px;
        line-height: 40px;
        border: 1px dashed #DFE2E4;
        text-align: center;
        color: #606266;
        margin-top: 15px;
        cursor: pointer;
    }
    .filterBox {
        display: flex;
        width: 100%;
        .filterright {
            width: 250px;
            margin-left: 30px;
            img {
                width: 100%;
                margin-top: 15px;
            }
        }
    }
    .conditionBox {
        margin-bottom: 20px;
        height: 250px;
        overflow-y: auto;
    }
}
.listBtn {
    position: absolute;
    right: 20px;
    top: 0
}