.zh-cn,
.zh-tw {
    .resItem {
        height: 58px;
        border-bottom: 1px solid #eaeaea;
        padding-top: 15px;
        padding-bottom: 15px;
        overflow: hidden;
        .clickLink {
            cursor: pointer;
            color: #008CEE;
        }
        .firstCol {
            padding-left: 20px;
        }
        .desc {
            padding-right: 10px;
        }
    }
}