.zh-cn,
.zh-tw {
    .ConditionItem {
        @red: #d0021b;
        .itemMain {

            position: relative;
            padding-left: 45px;
            line-height: normal;
            .indexFlag {
                position: absolute;
                left: 0;
                height: 32px;
                width: 32px;
                text-align: center;
                line-height: 32px;
                border-radius: 50%;
                font-size: 14px;
                color: #303133;
                background-color: #F5F4F5;
                border: 1px solid #DFE2E4;
            }
            .contentBox {
                height: 32px;
                line-height: 32px;
                margin-left: 10px;
                .contentItem {
                    margin-right: 10px;
                }
                .module,
                .field,
                .params {
                    max-width: 200px;
                    color: @red;
                    .hyphen {
                        color: #303133;
                    }
                }
                .type {
                    max-width: 120px;
                }
            }
        }
        .itemCalc {
            height: 40px;
            position: relative;
            .Btn {
                user-select: none;
                cursor: pointer;
                height: 24px;
                line-height: 24px;
                width: 24px;
                text-align: center;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 16px;
                background-color: #FCF2F3;
                transform: translate(-50%, -50%);
                font-size: 12px;
                color: @red;
            }
            &:before {
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                width: 1px;
                background-color: #dfe2e4;
                left: 16px;
                transform: translateX(-50%);
            }
        }
    }
}