.en {
    .DialogSetTags {
        .noTag {
            text-align: center;
            color: #999;
        }
        .el-tag {
            position: relative;
            margin: 0 10px 10px 0;
            .tagClick {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                &:hover {
                    cursor: pointer;
                    opacity: .3;
                    background-color: #fff;
                }
            }
        }
        .tagSelected {
            min-height: 70px; // border: 1px solid red;
        }
        .tagSet {
            // border: 1px solid red;
            margin: 10px 0 30px;
            min-height: 120px;
            >dt {
                // border: 1px solid red;
                margin-bottom: 15px;
                font-size: 15px;
            }
            .tagEdit {
                // border: 1px solid red;
                display: inline-block;
                padding: 5px 12px;
                margin: 0 10px 10px 0; // height: 22px;
                // line-height: 20px;
                white-space: nowrap;
                position: relative;
                border-radius: 14px;
                background-color: #008cee;
                font-size: 12px;
                transform: scale(0.9);
                -webkit-transform: scale(0.9);
                color: #fff;
                opacity: 1;
                input {
                    display: none;
                    border: none;
                    outline: 0;
                    width: 60px;
                    height: 100%;
                    text-indent: 3px;
                }
                .el-icon-edit {
                    font-size: 12px;
                    margin-left: 3px;
                    padding: 1px;
                    border-radius: 50%;
                    display: none;
                    &:hover {
                        // display: inline-block;
                        background-color: #fff;
                        color: #666;
                    }
                }
                .iClose {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    text-align: center;
                    background-color: #999;
                    border-radius: 50%;
                    position: absolute;
                    top: -6px;
                    right: -5px;
                    display: none;
                    i {
                        font-size: 10px;
                    }
                    &:hover {
                        background-color: #333;
                    }
                }
                &:hover {
                    opacity: .8;
                    cursor: pointer;
                    .iClose {
                        display: inline-block;
                    }
                    .el-icon-edit {
                        display: inline-block;
                    }
                }
                &.disabled {
                    background-color: #d9d9d9;
                }
            }
            .tagEditActive {
                input {
                    display: inline-block;
                }
                .label,
                .iClose,
                .el-icon-edit {
                    display: none;
                }
                &:hover {
                    .iClose {
                        display: none;
                    }
                }
            }
        }
        .button-new-tag {
            border: 1px solid #C0C4CC;
            padding: 5px 12px;
            border-radius: 14px;
            font-size: 12px;
            color: #222222;
        }
    }
}
