.zh-cn,
.zh-tw {
    .tableRowClassName {
        height: 100%;
        position: relative;
        padding-left: 15px;
        padding-top: 52px;
        .boxHeader {
            padding: 10px;
            background: #fff;
            text-align: right;
            .el-input {
                width: auto !important;
            }
        }
        .boxList {
            height: 40px;
            line-height: 40px;
            background: #eff2f4;
            border-radius: 4px 4px 0px 0px;
            padding-left: 34px;
            padding-right: 180px;
            font-size: 14px;
            color: #909399;
            position: relative;
            .posRight {
                position: absolute;
                top: 0;
                height: 100%;
                right: 30px;
                width: 100px;
            }
        }
        .customerTables {
            overflow: auto;
            position: absolute;
            left: 15px;
            right: 0;
            bottom: 65px;
            top: 92px;
        }
        .customerTable {
            .customerList {
                >:last-child {
                    border-bottom: 0;
                }
                li {
                    background: white;
                    padding: 19px 180px 18px 34px;
                    border-bottom: 1px solid rgba(234, 237, 239, 1);
                    font-size: 12px;
                    position: relative;
                    .starBox {
                        position: absolute;
                        left: 9px;
                        top: -1px;
                        width: 16px;
                        height: 16px;
                        text-align: center;
                        line-height: 16px;
                        color: rgba(208, 2, 27, 1);
                        font-size: 12px;
                    }
                    .listCheckNone1,
                    .listCheckNone,
                    .listChecks {
                        position: absolute;
                        top: 19px;
                        left: 10px;
                    }
                    .listCheckNone1,
                    .listChecks {
                        display: inline-block;
                    }
                    .listCheckNone {
                        display: none;
                    }
                    .listCheck {
                        display: none;
                    }
                    .customerInfo {
                        height: 17px;
                        color: RGBA(34, 34, 34, 1);
                        .el-dropdown-menu__item {
                            line-height: 30px;
                            height: 30px;
                        }
                        .listMenu {
                            display: none;
                        }
                        .toCustomerDetai {
                            display: none;
                        }
                    }
                    .listTimes1 {
                        position: absolute;
                        top: 19px;
                        right: 30px;
                        width: 100px;
                    }
                    .listTimes2 {
                        position: absolute;
                        bottom: 12px;
                        right: 95px;
                        width: 90px;
                    }
                    .listTimes3 {
                        position: absolute;
                        top: 6px;
                        right: 18px;
                        width: 177px;
                        display: none;
                    }
                    .listTimes {
                        position: absolute;
                        top: 10px;
                        right: 20px;
                        width: 70px;
                    }
                    .listControl {
                        width: 130px;
                        display: none;
                        color: #cdcdcd;
                        .hover {
                            cursor: pointer;
                        }
                    }
                    .listControl1 {
                        display: none;
                    }
                }
                >li:hover {
                    background: #fcf2f3;
                    .listTime,
                    .listTimes,
                    .listTimes1,
                    .listTimes2 {
                        display: none;
                    }
                    .listControl,
                    .listTimes3 {
                        display: inline-block;
                    }
                    .toCustomerDetai {
                        display: inline-block;
                    }
                    .listCheck {
                        display: inline-block;
                    }
                    .listMenu {
                        display: inline-block;
                    }
                    .listCheckNone {
                        display: inline-block;
                    }
                    .listCheckNone1 {
                        display: none;
                    }
                }

            }
        }
    }
}
.listCheckNone1,
.listCheckNone,
.listChecks {
    position: absolute;
    top: 24px;
    left: 10px;
}
.listCheckNone1,
.listChecks {
    display: inline-block;
}
.scrollHidden {
    overflow: hidden !important;
}
.hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}