.en {
    .TwolevelNav {
        width: 230px;
        height: 100%;
        padding: 12px 0;
        background-color: #fff;
        position: absolute;
        z-index: 2;
        overflow-y: auto;
        border-radius: 8px 0 0 0;
        box-shadow:4px 0px 5px 0px rgba(0,0,0,0.05);
    }
}