.zh-cn,
.zh-tw {
    .TwolevelNav {
        width: 230px;
        height: 100%;
        position: absolute;
        z-index: 2;
        overflow-y: auto;
        border-right: 1px solid #EAEAEA;
    }
}