.zh-cn,
.zh-tw {
    .SocialInfo {
        .box {
            min-height: 350px;
            position: relative;
        }
        .table {
            border: 1px solid #EBEBEB;
            width: 100%;
            max-width: 100%;

            .companyImg {
                border: 1px solid #eee;
                width: 52px;
                height: 52px;
                display: block;
                margin: 0 auto;
            }
            td {
                padding: 8px;
                text-align: center;
                border: 1px solid #e7eaec;
                .iconfont {
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    text-align: center;
                    display: inline-block;
                    /* float: left; */
                    font-size: 12px;
                    color: #fff;
                    margin-right: 5px;
                }
                .facebookIcon {
                    background-color: #3B5999;
                }
                .twitterIcon {
                    background-color: #00AEF4;
                }
                .linkedinIcon {
                    background-color: #0073b1;
                }
                .pinterestIcon {
                    background-color: #d02c30;
                }
            }
        }

        .atCenter {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }
}