@import '../../public-zh-cn.less';
.zh-cn,
.zh-tw {
    .sendee {
        // 公共样式初始化
        overflow: auto;
        height: 100%;
        border-radius:4px;
        width: 100%;
        padding-top: 55px;
        .sendeeBox{
            color:#6B6B6B;
            font-size: 14px;
            width: 100%;
            .sendeeBoxSearch{
                height: 52px;
                line-height: 52px;
                overflow: hidden;
                background: white;
                border-bottom:1px solid  rgba(234,237,239,1);
                padding: 0 10px;
                .addButtonBox{
                    float:right;
                    position: relative;
                    top:-1px;
                }
                .addInput{
                    width:150px;
                    margin:0 10px;
                }
            }
            .sendeeBoxList{
                font-size: 12px;
                overflow-x: hidden;
                .list{
                    height:40px;
                    line-height:40px;
                    padding:0 20px;
                    background:rgba(239,242,244,1);
                    color: RGBA(144, 147, 153, 1);
                }
                .list1{
                    height: 54px;
                    background: white;
                    line-height: 54px;
                    padding-left: 20px;
                    color: RGBA(34, 34, 34, 1);
                    border-bottom:1px solid  #f4f5f6;
                    padding: 0 20px;
                    .left10{
                        margin-left: 10px;
                    }
                    .listCol4{
                        .listCol4Item{
                            display: none;
                            width: 107px;
                            float: right;
                            .optButton{
                                display: inline-block;
                                width:24px;
                                height:24px;
                                background:linear-gradient(135deg,rgba(255,105,124,1),rgba(208,2,27,1));
                                border-radius:12px;
                                color: white;
                                text-align: center;
                                line-height: 24px;
                                font-size: 12px;
                                &:hover{
                                    cursor: pointer;
                                    background:linear-gradient(135deg,rgba(255,148,161,1),rgba(247,36,62,1));
                                }
                                &:link{
                                    cursor: pointer;
                                    background:linear-gradient(135deg,rgba(255,105,124,1),rgba(208,2,27,1));
                                }
                            }
                            .disable{
                                display: inline-block;
                                width:24px;
                                height:24px;
                                background:linear-gradient(135deg,rgba(255,105,124,0.3),rgba(208,2,27,0.3));
                                border-radius:12px;
                                color: white;
                                text-align: center;
                                line-height: 24px;
                                font-size: 12px;
                            }
                        }
                    }
                    &:hover{
                        background:#fcf2f3;
                        .listCol4{
                            .listCol4Item{
                                display: inline;
                            }
                        }
                    }
                }
            }
            
            .sendeeBoxTit{
                overflow-y: auto;
                overflow-x: hidden;
                position: absolute;
                top: 107px;
                left: 14px;
                right: 0;
                bottom: 67px;
            }
        }
    }
}