.en {
    .Popup {
        .coverDiv {
            position: absolute;
            left: 0;
            top: 45px;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .1);
            z-index: 9;
        }
        .tableClass {
            //width: 100%;
            td {
                padding: 5px;
                .tdTitle {
                    display: inline-block;
                    padding: 8px 5px 0 0;
                }
            }
            tr.titleClass td div {
                border-bottom: 1px solid #ddd;
                color: #222;
                font-weight: bold;
                margin: 8px 0 5px;
                padding: 0 0 3px;
            }
            .f-width {
                width: 300px;
            }
        }
    }
}