.en {
    .Assign{
        .formBox{
            padding-bottom: 20px;
            color: #606266;
            .fieldList{
                height: 40px;
                .labelBox{
                    display: inline-block;
                    vertical-align: top;
                    width: 66px;
                    height: 28px;
                    line-height: 28px;
                }
            }
        }
    }
}