.zh-cn,
.zh-tw{
    .Assign{
        .formBox{
            padding-bottom: 20px;
            color: #606266;
            .fieldList{
                height: 40px;
                position: relative;
                .labelBox{
                    display: inline-block;
                    vertical-align: top;
                    width: 66px;
                    height: 28px;
                    line-height: 28px;
                }
            }
        }
    }
    .searchBox{
        position: absolute;
        top: 2px;
        left: 0;
        right: 0;
        padding: 6px 10px 4px;
        background: white;
        z-index: 10;
    }
    .listBox{
        margin-top: 40px;
        max-height: 200px;
        overflow: auto;
        margin-bottom:2px;
        .nodata{
            padding: 8px 16px;
            text-align: center;
        }
    }
}