@import '~Less/vw';
@import '~Less/base';
@import '../less/mixins';
@import '../less/public';

@list-primary-height: .8rem;
@offset-bg: calc(50% - 2.16rem);
@offset: calc(50% - 2.16rem * 1.5);

html, body, .list-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.list-container {
  position: relative;
  padding: .56rem 0 .3rem;
  background-color: @bg-color-primary;
  .container-bg {
    position: absolute;
    top: 40%;
    top: @offset-bg;
    left: 0;
    z-index: 0;
    width: 200%;
    height: 100%;
    background-color: @bg-color-light;
    transform: skewY(-30deg);
    transform-origin: top center;
  }
  .inner-container {
    position: relative;
    z-index: 1;
    height: 100%;
  }
}

.list-wrapper {
  height: 100%;
  padding-top: .2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper-decoration {
  &.decoration-left {
    bottom: @offset !important;
  }
  &.decoration-right {
    top: @offset !important;
  }
}

.list-title {
  .mix-border-title(.6rem);
  top: -0.4rem;
  text-align: center;
}

.title-content {
  display: inline-block;
  width: 3rem;
  height: .6rem;
  text-align: center;
  border: .06rem solid @text-stroke-color;
  border-radius: .6rem;
  box-shadow: 0 0 0 .02rem #000A44;
  background-color: #ffffff;
  font-family: DINAlternate-Bold;
  font-size: .24rem;
  color: #151515;
  line-height: .48rem;
  vertical-align: middle;
}
