.zh-tw,
.zh-cn {
    .NewMail {
        border: 1px solid transparent;
        // background-color: #F7F8F9;
        height: 100%;
        position: relative;


        .mailBody {

            // border:1px solid red;
            // position: absolute;
            // left: 0;
            // top: 43px;
            // right: 0;
            // // bottom: 20px;
            // bottom: 0;
            // overflow-y: auto;
            .bodydiv {
                margin-top: 52px;
            }

            .ueditorWrap {
                margin: 10px 20px;
                overflow: hidden;
            }

            .upclass {
                height: 24px;
                background: rgba(255, 255, 255, 1);
                border-radius: 12px;
                border: 1px solid rgba(234, 234, 234, 1);
                font-size: 12px;
                padding: 4px 10px 4px 10px;
                line-height: 12px;
                color: #909399;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 50%);

                &:hover {
                    cursor: pointer;
                    color: red;
                }

            }

        }

        .msg {
            height: 26px;
            padding: 5px 6px;
            font-size: 11px; // background-color: #eee;
            color: #606266; //   margin: 8px 0;
            margin: 10px 20px 0;
            border-radius: 5px;

            .pull-right {
                display: none;

                i {
                    display: inline-block; // background-color: #888;
                    background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                    border-radius: 50%;
                    padding: 2px;
                    margin-top: -1px;
                    color: #fff;
                    font-size: 12px;

                    &:hover {
                        background-color: #555;
                    }
                }
            }

            >.iconfont {
                font-size: 13px;
                margin-right: 2px;
                font-weight: bold;

                &.icon-warning {
                    color: #f60;
                }
            }

            >.icon-dot {
                font-size: 14px;
            }

            &:hover {
                // background-color: #e0e0e0; 
                // background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                background: rgba(208, 2, 27, 0.05);

                .pull-right {
                    display: inline-block;
                    cursor: pointer;
                }
            }
        }

        // .msg {
        //     // margin: 10px 20px 0; // border: 1px solid red;
        //     padding: 2px 10px;
        //     font-size: 12px;
        //     background-color: #eee;
        //     margin: 10px 20px 0;
        //     border-radius: 5px;
        //     .pull-right {
        //         display: none;
        //         i {
        //             display: inline-block;
        //             background-color: #888;
        //             border-radius: 50%;
        //             padding: 2px;
        //             margin-top: -1px;
        //             color: #fff;
        //             font-size: 12px;
        //             &:hover {
        //                 background-color: #555;
        //             }
        //         }
        //     }
        //     >.iconfont {
        //         font-size: 13px;
        //         margin-right: 2px;
        //         font-weight: bold;
        //         &.icon-warning {
        //             color: #f60;
        //         }
        //     }
        //     >.icon-dot {
        //         font-size: 14px;
        //     }
        //     &:hover {
        //         background-color: #ddd;
        //         cursor: default;
        //         .pull-right {
        //             display: inline-block;
        //         }
        //     }
        // }
        ul.sendItem {
            margin: 0 20px 10px;
            border: 1px solid #ddd; // border-bottom: none;
            border-radius: 4px;
            background-color: #FFFFFF;
            position: relative;

            >li {
                position: relative;
                line-height: 39px;
                color: #555;
                padding: 0 10px 0 20px;
                clear: left;
                // max-height: 200px;
                // overflow-y: auto;

                >.name {
                    // border: 1px solid red;
                    min-width: 60px;
                    float: left;
                    color: #666;
                }

                // .text-hover:hover {
                //     color: #E6001F ;
                //     cursor: pointer;
                // }
                >.item {
                    //    border: 1px solid red;
                    font-size: 14px;
                    margin: 0 0 0 60px;

                    .el-tag {
                        margin-right: 5px;
                    }
                }

                .inputClass {
                    max-height: 200px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    width: calc(100% - 70px);
                }

                >.btnSender {
                    margin-right: 9px;

                    // .el-switch {
                    //     width: 120px;
                    // }
                    >span {
                        margin-left: 15px;
                        color: #606266;

                        >i {
                            margin-right: 5px;
                            font-size: 14px;
                            font-weight: bold;
                            color: #C0C4CC;
                        }

                        .el-radio-group {
                            margin-left: 3px;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .theme {
                    border: none;
                    font-size: 14px;
                    background-color: transparent;
                    outline: 0;
                    width: 70%;
                    text-indent: 1px;

                    &::-webkit-input-placeholder {
                        color: #8391A5;
                    }
                }

                .btnTag {
                    margin-right: 12px;

                    .el-tag {
                        height: 21px;
                        line-height: 20px;
                    }

                    .text-blue {
                        margin-left: 5px;

                        .iconfont {
                            display: inline-block;
                            font-size: 14px;
                            padding-right: 3px;
                        }
                    }
                }

                .text-blues {
                    color: RGBA(0, 140, 238, 1);
                }

                .blue-hover:hover {
                    color: RGBA(69, 178, 255, 1);
                    cursor: pointer;
                }

                .manypeople {
                    position: absolute;
                    top: 0;
                    right: 20px;
                    font-size: 12px;
                }

                .More {
                    position: absolute;
                    top: 0;
                    right: 20px;
                    font-size: 12px;
                    color: #E6001F;

                    &:hover {
                        cursor: pointer;
                    }

                }
            }

            .hiddenOver {
                height: 40px;
                overflow: hidden;
                width: calc(100% - 90px);
            }

            .Line {
                &::after {
                    content: '';
                    height: 1px;
                    position: absolute;
                    left: 20px;
                    right: 20px;
                    bottom: 0;
                    background: RGBA(223, 226, 228, 1);
                }

                // &:last-child::after {
                //     content: none;
                // }
            }
        }

        div.btnItem {
            // line-height: 52px;
            padding: 10px 10px;
            color: #555;
            position: absolute;
            display: inline-block;
            width: 100%;
            left: 10px;

            .addSendAddress {
                //抄送暗送按钮
                // border: 1px solid red;
                position: absolute;
                right: 30px;
                display: inline-block;
                line-height: 32px;

            }

            .spanclass {
                line-height: 32px;
                padding: 0 10px;
                border-radius: 4px;
                margin-right: 10px;
                float: left;
                border: 1px #EAEAEA solid;

                >i {
                    font-size: 15px;
                    margin-right: 5px;
                    color: #999;
                }

                .el-dropdown {
                    margin-left: 3px;

                    .icon-arrow-down {
                        font-size: 12px;
                        color: #999;
                    }
                }

                &:hover {
                    border-color: #E6001F;
                    color: #E6001F;
                    cursor: pointer;

                    >i {
                        color: #E6001F;
                    }

                    .el-dropdown {
                        .icon-arrow-down {
                            color: #E6001F;
                        }
                    }
                }




            }

            .colorg {
                position: relative;
                padding-right: 33px;
                line-height: 32px;
                display: inline-block;
                border-radius: 2px;
                border: 1px #EAEAEA solid;
                color: #fff;
                float: left;
                margin-right: 10px;

                // >i {
                //     font-size: 15px;
                //     margin-right: 5px;
                //     color: #fff;
                // }

                // &:hover {
                //     background-color: #91D279;
                //     border-color: #91D279;
                // }

                // .el-dropdown {
                //     margin-left: 3px;

                //     .icon-arrow-down {
                //         font-size: 12px;
                //         color: #FFFFFF;
                //     }
                // }
            }

            .lineRight {
                position: relative;
                padding-right: 37px;
                line-height: 32px;
                display: inline-block;
                border-radius: 2px;
                float: left;
                margin-right: 10px;
                border: 1px #eaeaea solid;

                &:hover {
                    border-color: #e6001f;
                }
            }
        }

        div.btnItem2 {
            min-height: 25px;
            line-height: 25px;
            padding: 0px 23px;
            color: #606266;
            position: relative;

            >span {
                margin-right: 10px;

                >i {
                    font-size: 15px;
                    margin-right: 5px;
                    color: #C0C4CC;
                }

                &.lineRight {
                    padding-right: 12px;
                    border-right: 1px solid #ddd;
                }

                &:hover {
                    color: #E6001F;
                    cursor: pointer;

                    >i {
                        color: #E6001F;
                    }

                    .el-dropdown {
                        color: #E6001F;
                        cursor: pointer;

                        >i {
                            color: #E6001F;
                        }

                        .icon-page-down {
                            color: #E6001F;
                        }
                    }
                }
            }
        }

        .sourceMail {
            padding: 8px 15px;
            margin: -15px 10px 20px;
            background-color: #ddd;
            border-radius: 0 0 5px 5px;

            &:hover {
                color: #222;
                cursor: pointer;
            }
        }

        .Upload {
            margin: 10px 20px 0;
            border: 1px solid #DFE2E4;
            background-color: #fff;
            padding: 10px 10px 0;
            border-radius: 4px;
        }

    }
}
