.zh-cn,
.zh-tw {
    .SetKeywords {
        .hint {
            background-color: #FBFAF4;
            padding: 12px;
            color: #222;
            font-size: 12px;
        }
        .inputBox {
            margin-top: 20px;
            .input {
                width: calc(100% - 100px);
            }
            .btn {
                width: 80px;
            }
        }
        .keywordsBox {
            padding: 10px 0;
            li {
                margin-right: 10px;
                margin-bottom: 10px;
                float: left;
                height: 28px;
                line-height: 28px;
                border-radius: 14px;
                padding: 0 12px;
                background-color: #F7F8F9;
                color: #606266;
                font-size: 12px;
                position: relative;
                &:hover {
                    .close-btn {
                        display: block;
                    }
                }
            }
            .close-btn {
                position: absolute;
                right: -4px;
                top: -4px;
                line-height: 16px;
                height: 16px;
                width: 16px;
                font-size: 12px;
                text-align: center;
                border-radius: 8px;
                background-color: #000;
                color: #fff;
                display: none;
                cursor: pointer;
            }
        }
    }
}