.zh-cn,
.zh-tw {
    .DeptActivity {
       
        .workBody {
            height: 243px;
            background: #fff;
            position: relative; //活跃度
            overflow-y: scroll;
            .liveness {
                // border: 1px solid red;
                padding: 8px 15px;
                .numClass {
                    height: 30px;
                    line-height: 30px;
                }
                >table {
                    // border: 1px solid red;
                    width: 100%;
                    td {
                        padding: 8px 0;
                        font-size: 12px;
                        color: #606266;
                        &:first-child {
                            text-align: right;
                            padding-right: 18px;
                        }
                    }
                    .progress {
                        width: 100%;
                        height: 6px;
                        background: #EFEFEF;
                        border-radius: 8px;
                        position: relative;
                        top: 1px;
                        overflow: hidden;
                        >span {
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            background: linear-gradient(136.4deg, rgba(255, 122, 109, 1), rgba(255, 77, 62, 1));
                            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
                            border-radius: 8px;
                        }
                    }
                    tr:nth-child(2) .progress>span {
                        background: linear-gradient(136.4deg, rgba(93, 219, 224, 1), rgba(0, 188, 218, 1));
                    }
                    tr:nth-child(3) .progress>span {
                        background: linear-gradient(136.4deg, rgba(59, 220, 72, 1), rgba(92, 209, 46, 1));
                    }
                    tr:nth-child(4) .progress>span {
                        background: linear-gradient(136.4deg, rgba(254, 190, 43, 1), rgba(255, 163, 0, 1));
                    }
                    tr:nth-child(5) .progress>span {
                        background: linear-gradient(136.4deg, rgba(86, 171, 254, 1), rgba(52, 138, 243, 1));
                    }
                    tr:nth-child(6) .progress>span {
                        background: linear-gradient(136.4deg, rgba(148, 117, 247, 1), rgba(119, 83, 233, 1));
                    }
                }
            }
        }
    }
}