.zh-cn,
.zh-tw {
    .ImgSet{
        .hover{
            &:hover{
                cursor: pointer;
            }
        }
        .ImgSetBox{
            .largeImg{
                display: inline-block;
                width: 444px;
                padding-left: 14px;
                padding-top: 2px;
                vertical-align: top;
            }
            .smallImg{
                vertical-align: top;
                display: inline-block;
                width: 510px;
                .haveImg{
                    border-bottom: 1px solid #EAEAEA;
                }
                .goodsImg{
                    margin-top: 20px;
                }
                .haveImg, .goodsImg{
                    height: 254px;
                    .title{
                        height: 36px;
                        color: #222222;
                        font-size: 16px;
                    }
                    .listBox{
                        width: 500px;
                        .imgBoxNo{
                            width: 80px;
                            height: 80px;
                            display: inline-block;
                            position: relative;
                            vertical-align: top;
                            background:rgba(250,250,250,1);
                            border-radius:2px;
                            border:1px solid rgba(192,196,204,1);
                            text-align: center;
                            padding-top: 12px;
                            color: #C0C4CC;
                            div{
                                height: 30px;
                            }
                            &:hover{
                                border-color: rgba(208,2,27,1);
                            }
                        }
                        .list{
                            display: inline-block;
                            width: 80px;
                            height: 80px;
                            margin-right: 20px;
                            margin-bottom: 31px;
                            position: relative;
                            .cover{
                                position: absolute;
                                left: -17px;
                                top: -4px;
                                width: 0;
                                height: 0;
                                border-width: 0 26px 26px;
                                border-style:solid;
                                border-color:transparent transparent rgba(208,2,27,1);/*透明 透明  灰*/
                                transform: rotate(-45deg);
                                -o-transform: rotate(-45deg);
                                -webkit-transform: rotate(-45deg);
                                -moz-transform: rotate(-45deg);
                                .coverName{
                                    display: inline-block;
                                    width: 30px;
                                    height: 16px;
                                    position: absolute;
                                    top: 8px;
                                    left: -16px;
                                    font-size: 12px;
                                    text-align: center;
                                    color: white;
                                }
                            }
                            .delete{
                                display: none;
                                width:16px;
                                height:16px;
                                border-radius: 8px;
                                line-height: 16px;
                                text-align: center;
                                background:rgba(0,0,0,0.8);
                                position: absolute;
                                top: -8px;
                                right: -6px;
                                color: white;
                                >i{
                                    font-size: 10px;
                                }
                            }
                            .optBut{
                                display: none;
                                width:80px;
                                height:20px;
                                line-height:20px;
                                background:rgba(0,0,0,1);
                                opacity:0.8;
                                position: absolute;
                                bottom: 0;
                                color: white;
                                text-align: center;
                                font-size: 12px;
                                .icon-page-left-mini{
                                    position: absolute;
                                    left: 0;
                                }
                                .icon-page-right-mini{
                                    position: absolute;
                                    right: 0;
                                }
                            }
                            &:hover{
                                .delete, .optBut{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}