
.zh-cn,
.zh-tw {
    .setScreen {
        padding-bottom: 30px;
        .font-blue{
            color:#1296db;
        }
        .font-grey{
            color:#999999;
        }
        .hover{
            cursor: pointer;
        }
        .customerSelection {
            margin-left: 10px;
            p {
                font-size: 12px;
                color: #666666;
            }
            .list{
                width: 100%;
                padding:10px 0; 
                text-align: center;
                border-bottom:1px solid #f2f2f2;
                .topClick{
                    width:24px;
                    height:24px;
                    background:rgba(192,196,204,1);
                    font-size: 12px;
                    line-height: 24px;
                    text-align: center;
                    color: white;
                    display: inline-block;
                    border-radius: 50%; 
                }
            }
            .listTitle{
                background: #f2f2f2;
                width: 100%;
            }
            .listBox{
                max-height: 550px;
                overflow-y:scroll;
                width: 96%;
            }
        }
    }
}