.zh-cn,
.zh-tw {
    .ResItem {
        height: 124px;
        margin-bottom: 10px;
        border-radius: 3px;
        padding: 16px 16px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #fff;
        position: relative;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
        .leftBox {
            max-width: calc(100% - 100px);
            .title {
                font-size: 18px;
                color: #303133;
                max-width: calc(100% - 30px);
                font-weight: 600;
            }
            .infoIcon {
                margin-left: 10px;
                cursor: pointer;
                color: #757779;
            }
            .description {
                height: 40px;
                line-height: 20px;
                margin: 4px 0 5px 0;
                color: #606266;
            }
            .link {
                a {
                    color: #437ab2;
                    /*  &:hover {
                        color: @red;
                    } */
                }
            }
        }
        .deepFlag {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
        }
        .selBtn {
            cursor: pointer;
            height: 28px;
            padding: 0 16px;
            line-height: 28px;
            border-radius: 3px;
            border: 1px solid #909399;
            color: #909399;
            &.active {
                border-color: #D0021B;
                color: #D0021B;
            }
        }
    }
}