.en {
    .ListCenter {
        // border: 1px solid red;
        border-right: 1px solid #EAEDEF;
        width: 380px;
        height: 100%;
        float: left;
        position: relative;

        .batchOperation {
            //邮件批量操作，悬浮栏
            height: 38px;
            line-height: 38px;
            padding: 0 10px;
            overflow: hidden;
            background-color: #fff;
            position: absolute;
            left: 2px;
            top: 0;
            right: 1px;
            z-index: 2;

            >label {
                float: left;
            }

            .pull-right {
                i {
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    padding: 3px;
                    font-size: 12px;

                    &:hover {
                        border-color: #E6001F;
                        color: #E6001F;
                        cursor: pointer;
                    }
                }
            }

            >ul {
                margin: 4px 10px;
                float: left;
                height: 35px; // border: 1px red solid;

                >li {
                    // border: 1px red solid;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                    color: #fff;
                    background-color: #999;
                    margin-left: 6px;
                    border-radius: 50%; // padding-bottom: 2px;
                    position: relative;

                    .el-dropdown-link i {
                        color: #fff;
                    }

                    &.downBtn {
                        margin-right: 16px;

                        .el-dropdown {
                            // border: 1px solid red;
                            width: 15px;
                            height: 15px;
                            line-height: 15px;
                            position: absolute; // text-align: center;
                            right: -16px; // bottom: -2px;
                            z-index: 1;
                            line-height: 28px;
                        }

                        .icon-arrow-down {
                            font-size: 12px;
                            color: #999;

                            &:hover {
                                color: #E6001F;
                            }
                        }
                    }

                    &:hover {
                        background-color: #E6001F;
                        cursor: pointer;
                    }
                }
            }
        }

        .mailList {
            padding-bottom: 25px;
            overflow: auto; // border: 1px solid red;

            .list-item {
                line-height: 24px; //   border: 1px solid red; //

                >dt {
                    padding: 5px 10px 0;
                    font-size: 12px;
                    color: #909399;
                    background-color: #FFFFFF;
                    text-align: center;
                    // border-left: 3px solid transparent; //    border: 1px solid red; //
                }

                >dd {
                    // border-left: 3px solid transparent;
                    background-color: #FFFFFF;
                    min-height: 60px;
                    padding: 10px 20px 11px 40px;
                    border-bottom: 1px solid #EAEDEF;
                    border-top: 1px solid transparent;
                    position: relative;
                    overflow: hidden;

                    .tag {
                        width: 50px;
                        height: 50px;
                        left: 0;
                        top: 0;
                        position: absolute;
                        transform: translate(-50%, -50%) rotate(-45deg);
                        // background-color: #d0021b;
                    }

                    .text {
                        position: absolute;
                        left: 50%;
                        width: 100%;
                        bottom: 0;
                        height: 20px;
                        line-height: 25px;
                        -webkit-transform: translateX(-50%) scale(0.7);
                        transform: translateX(-50%) scale(0.7);
                        text-align: center;
                        font-size: 12px;
                        color: #ffffff;
                    }

                    .relationBtn {
                        //关联邮件的展开按钮
                        border: 1px solid #ddd;
                        background-color: #fff;
                        border-radius: 3px;
                        position: absolute;
                        top: 50%;
                        margin-top: -6px;
                        right: 10px;
                        padding: 0 5px;
                        line-height: 18px;

                        i {
                            font-size: 12px;
                        }

                        &:hover {
                            color: #E6001F;
                            border-color: #E6001F;
                        }
                    }

                    >.Operation {
                        // 漂浮按钮，对应邮件快速操作
                        display: none;
                        // background-color: #FFFFFF;
                        padding: 0 0 0 5px;
                        position: absolute;
                        top: 8px;
                        right: 10px;

                    }

                    .leftBtns {
                        // border: 1px red solid;
                        width: 20px;
                        position: absolute;
                        left: 10px;
                        top: 9px;
                        bottom: 9px;
                        text-align: center;

                        .checkIt {
                            width: 20px;
                            height: 20px;
                            line-height: 23px;
                            margin-bottom: 6px;
                            position: absolute;
                            top: 0px;
                            .CheckBox {
                                margin-top: 1px;
                            }
                            &.hide {
                                .CheckBox {
                                    display: none;
                                }
                            }
                        }

                        .tagStar {
                            position: absolute;
                            bottom: 3px;
                            left: 2px;
                            color: #ffbf00;
                            font-size: 10px;
                        }

                        .dotClass {
                            position: absolute;
                            top: 26px;
                            width: 16px;
                            height: 16px;
                            line-height: 16px;
                            left: 0;
                            &:hover {
                                cursor: pointer;
                                border-radius: 50%;
                                box-shadow: 0 0 6px rgba(0, 0, 0, .3);
                            }
                            &.read {
                                display: none;
                            }
                            &.Unread {
                                color: #D0021B;
                            }
                        }
                        .readDot {
                            width: 20px;
                            height: 20px;
                            margin: 6px 0 2px;

                        }

                        .lamp {
                            &:hover {
                                color: #E6001F;
                            }
                        }

                    }

                    .mailName {
                        color: #333;
                        height: 20px;
                        line-height: 20px;
                        margin-bottom: 2px;
                        border: 1px solid transparent;

                        .pull-right {
                            color: #909399;
                            font-size: 11px;
                        }

                        .tag {
                            height: 20px;
                            line-height: 20px;
                        }

                        .pull-right {
                            i {
                                font-size: 13px;
                            }
                        }

                        //   .ShowNameClass {
                        //     //   border: 1px red solid;
                        //       display: inherit;


                        //   }

                    }

                    .mailTitle {
                        border: 1px solid transparent;
                        color: #333;
                        height: 17px;
                        line-height: 17px;
                        width: 90%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin: 4px 0 2px;

                        .iconfont {
                            font-size: 13px;
                            float: left;
                            margin: 1px 3px 0 0;
                            color: #666;
                        }

                        >span {
                            font-size: 12px;
                            color: #222222;
                        }
                    }

                    .mailBrief {
                        border: 1px solid transparent;
                        height: 16px;
                        line-height: 16px;
                        width: 90%; // color: #ccc;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 11px;
                        color: #909399;
                        .Receive {
                            background-color: #ffff;
                            color: #D0021B;
                            border: 1px #D0021B solid;
                            position: absolute;
                            bottom: 8px;
                            right: 15px;
                        }
                        .seend {
                            background-color: #ffff;
                            color: #00C2B3;
                            border: 1px #00C2B3 solid;
                            position: absolute;
                            bottom: 8px;
                            right: 15px;

                        }
                    }

                    &.new {
                        .mailTitle {
                            color: #222222;
                            font-weight: bold;
                        }

                        .lamp {
                            color: #f60;
                        }
                    }

                    &.old {
                        .readDot::before {
                            background-color: #ccc;
                        }
                    }

                    &.relation {
                        display: none;
                        background-color: #eee;
                    }

                    &.active {
                        background: #efefef !important; // rgba(208, 2, 27, .05);
                        // border-left: 3px solid #D0021B;
                        z-index: 2;

                        &+dd {
                            border-top-color: transparent;
                        }
                        .letBox {
                            border: 2px #D0021B solid;
                            position: absolute;
                            width: 1px;
                            top: 0;
                            bottom: 0;
                            left: 0;
                        }
                    }

                    &:hover {
                        border-left: none;
                        border-right: none;
                        border-bottom-color: #ddd;
                        background-color: #FAFAFA; // background-color: red;
                        // box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
                        z-index: 2;
                        cursor: pointer;

                        >.Operation {
                            display: block;
                        }
                        .leftBtns .checkIt .CheckBox {
                            display: inline-block;
                        }

                        .ShowNameClass .pull-right,
                        .leftBtns .checkIt .tagStar {
                            display: none;
                        }

                        .tagDivClass {
                            display: none;
                        }
                        .leftBtns {
                            .read {
                                display: block;
                                line-height: normal;
                            }
                        }
                        &:nth-child(2) {
                            border-top: 1px #EAEDEF solid;
                        }
                    }


                }
            }
        }

        .mailPagination {
            background-color: #fff;
            border-top: 1px solid #ddd;
            // border-right: 1px solid #ddd;
            box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.1);
            padding: 2px 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            height: 42px;
        }

        .mailPagination2 {
            background-color: #fff;
            border-top: 1px solid #ddd;
            // border-right: 1px solid #ddd;
            box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.1);
            padding: 2px 0;
            position: fixed;
            width: 830px;
            right: 0;
            bottom: 0;
            z-index: 2;
            height: 42px;
        }
        .pagination {
            //  border: 1px solid red;
            text-align: center;
            background: #fff;
            text-align: center;
            position: fixed;
            left: 300px;
            right: 19px;
            bottom: 0;
            padding: 5px 0 10px;
        }
    }

    .pos_abs {
        position: absolute;
        left: 0px;
        top: 50px;
        bottom: 0px;
        right: 0px;
        height: 100%;
        background-color: blue;
        z-index: 3;
    }
}
