.dialogBody {
    margin-top: -15px;
    p {
        line-height: 40px;
    }
    .dialog-select {
        margin-left: 20px;
        width: 100px;
    }
    .finishBtn {
        margin: 10px auto;
        margin-left: 15px;
    }
    .textWrap {
        border: 1px solid #eee;
        width: 94%;
        margin: 20px auto;
        padding: 20px;
        overflow: hidden;
        .el-textarea {
            width: 50%;
            float: left;
        }
        .tips {
            float: left;
            width: 45%;
            margin-left: 5%;
            font-size: 14px;
            line-height: 20px;
            p {
                line-height: 20px;
                margin: 10px 0;
            }
        }
    }
}