.zh-cn,
.zh-tw {
    .subTabs-pullRight {
        margin-top: -15px;
        padding-bottom: 10px;
    }
    .ResBox {
        height: 400px;
        position: relative;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -15px;
        .ListBox {
            max-height: 100%;
            overflow: auto;
            padding: 16px 12px;
        }
        .atCenter {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .findDialog-footer {
        .pageNum {
            margin: 0 16px;
        }
    }
}