.TableWrap {
    .fixTable {
        table-layout: fixed
    }
    .el-table {
        border: 1px solid #eaedef !important;
    }
    padding-right: 15px;
    .commonTable {
        border: 1px solid #ccc;
        border-collapse: collapse;
        width: 100%;
    }
    .commonTable tr {
        height: 40px;
    }
    .commonTable tr td {
        border-bottom: 1px solid #dfe6ec;
        padding: 5px;
        border-right: 1px solid #dfe6ec;
        min-width: 120px;
    }
    .commonTable th {
        min-width: 120px;
        border-bottom: 1px solid #dfe6ec;
        padding: 0 5px;
        border-right: 1px solid #dfe6ec;
        background: #eef1f6;
        text-align: left;
        min-height: 40px;
    }
    .total {
        font-weight: bold
    }
    .crossoverTable {
        color: #222;
        // 
        th {
            text-align: center;
            height: 60px;
            /*这里需要自己调整，根据自己的需求调整高度*/
            position: relative;
        }
        th[class=first] {
            min-width: 150px !important;
        }
        td[class=first] {
            min-width: 150px !important;
        }
        th[class=first]:before {
            content: "";
            position: absolute;
            width: 1px;
            height: 154px;
            top: 0;
            left: 0;
            background-color: #606266;
            display: block;
            transform: rotate(-75deg);
            transform-origin: top;
            -ms-transform: rotate(-75deg);
            -ms-transform-origin: top;
        }
        th[class=first]:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 103px;
            top: 0;
            left: 0;
            background-color: #606266;
            display: block;
            transform: rotate(-55deg);
            transform-origin: top;
            -ms-transform: rotate(-55deg);
            -ms-transform-origin: top;
        }
        .title1 {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 12px;
        }
        .title2 {
            position: absolute;
            top: 38px;
            right: 5px;
            font-size: 12px;
        }
        .title3 {
            position: absolute;
            top: 36px;
            left: 4px;
            font-size: 12px;
        }
    }


}