.en {
  .CompanyRegister {
    // border: 1px solid red;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .rightTopBtn{
      position: fixed;
        right: 3%;
        top: 25px;
    }
    .reg_logo {
      // border: 1px solid red;
      width: 138px;
      height: 58px;
      line-height: 50px;
      position: absolute;
      left: 3%;
      top: 25px;
      z-index: 9;
      color: #fff;
      overflow: hidden;
    }
    .reg_logo i {
      font-size: 133px;
    }
    .reg_logo>span {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      line-height: 15px;
      letter-spacing: 3px;
      font-size: 12px;
    }
    .reg_logo:hover {
      color: #eee;
    }
    .reg_img {
      width: 62%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: Center;
      background: url(https://sf.fumamx.com/img/orig/5,05b02b000d18) repeat-x center top;
      .slogan {
        // border: 1px solid #fff;
        position: absolute;
        width: 480px;
        height: 66px;
        top: 50%;
        margin-top: -300px;
        left: 50%;
        margin-left: -230px;
        text-align: center;
        font-size: 38px;
        color: #fff;
      }
    }
    .reg_img img {
      width: 666px;
    }
    .reg_box {
      width: 38%;
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: Center;
      overflow: hidden;
      .reg_body {
        // border: 1px solid red;
        margin-top: -265px;
        width: 360px;
      }
    }
    .reg_box h1 {
      color: #d0021b;
      font-size: 32px;
      line-height: normal;
      margin-bottom: 20px;
      font-weight: normal;
      .pull-right{
          font-size: 14px;
          color: #909399;
          margin-top: 10px;
      }
    }
    .reg_box .copyright {
      // 版权
      position: absolute;
      left: 0;
      bottom: 30px;
      right: 0;
      text-align: center;
      color: #909399;
      a {
        color: #909399;
        &:hover {
          color: #d0021b;
        }
      }
    }
    .passwordDialog {
      //子组件弹窗样式
      .marginTop20 {
        margin-top: 20px;
      }
      .codeImgUrl {
        margin-top: 2px;
      }
      .forMap {
        display: inline-block;
        height: 30px;
        line-height: 30px;
      }
      .forMap:hover {
        cursor: pointer;
        color: #008cee;
      }
      .forgetPassworld {
        font-size: 14px;
        color: #999;
        margin-bottom: 15px;
        .title {
          color: #FF9900;
          cursor: pointer;
        }
      }
    }
  }
}