.zh-cn,
.zh-tw {
    .InputAuto {

        // border: 1px solid red;
        input {
            outline: 0;
            border: none;

            &:disabled {
                background-color: transparent;
            }
        }

        .inputEdit {
            // border: 1px solid red;
            cursor: text;

            .fullInput {
                width: 100%;
            }

            .label {
                // border: 1px solid blue;
                float: left;
                position: relative;

                .downSelect {
                    // border: 1px solid red;
                    //下拉选择
                    width: 430px;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    position: fixed;
                    z-index: 88;
                    border-radius: 3px;
                    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .3);
                    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .3);
                    box-shadow: 0 0 6px rgba(0, 0, 0, .3);

                    >div.topTip {
                        font-size: 12px;
                        padding: 5px 15px;
                        line-height: 100%;
                        background-color: #eee;
                        border-bottom: 1px solid #ddd;
                    }

                    >div.selectList {
                        margin: 1px 0 8px;
                        min-height: 50px;
                        max-height: 238px;
                        overflow: auto;

                        table {
                            width: 100%;
                            border-collapse: collapse;

                            tr.lightThis {
                                background-color: #f0f0f0;
                            }

                            td {
                                border-bottom: 1px solid #eee;
                                padding: 8px 0;

                                .img,
                                .name,
                                .mail,
                                .company {
                                    float: left;
                                    margin-left: 8px;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }

                                .img {
                                    width: 32px;
                                    height: 32px;
                                    line-height: 32px;
                                    text-align: center;
                                    border-radius: 50%;
                                    border: 1px solid #ddd;
                                    margin-left: 15px;
                                    overflow: hidden;
                                    background-color: #fff;

                                    img {
                                        width: 32px;
                                        height: 32px;
                                    }
                                }

                                .name {
                                    max-width: 70px;
                                }

                                .mail {
                                    max-width: 155px;
                                }

                                .company {
                                    // margin-right: 15px;
                                    max-width: 125px;
                                    color: #ccc;
                                }
                            }

                            tr:hover {
                                cursor: pointer;
                                background-color: #ddd;
                            }
                        }
                    }
                }

                .mailShow {
                    float: left;
                    position: relative;
                    border-radius: 6px;

                    >em {
                        font-style: normal;
                    }

                    .belong {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        background-color: #999;
                        // background: linear-gradient(135deg, #999999, #666666);
                        color: #fff;
                        border-radius: 50%;
                        font-size: 12px;

                        >i {
                            display: inline-block;
                            font-style: normal;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .delete {
                        display: none;
                        width: 14px;
                        height: 14px;
                        line-height: 14px;
                        border-radius: 50%;
                        text-align: center;
                        background-color: rgba(0, 0, 0, 0.6);
                        color: #fff;
                        position: absolute;
                        top: 1px; //-8px;
                        right: -6px;
                        z-index: 2;

                        i {
                            display: inline-block;
                            font-size: 12px;
                            -webkit-transform: scale(0.7);
                            transform: scale(0.7);
                            position: relative;
                            top: -1px;
                        }

                        &:hover {
                            cursor: pointer;
                            opacity: .8;
                        }
                    }

                    &.isCustomer {
                        color: #008cee;

                        .belong {
                            background-color: #008cee;
                        }
                    }

                    &:hover {
                        background-color: #f5f5f5;
                        cursor: default;

                        .delete {
                            display: block;
                        }
                    }

                    &.mailActive {
                        background-color: #ddd;
                        cursor: text;
                    }
                }

                .insert {
                    // border:1px solid red;
                    height: 35px;
                    float: left;
                    padding: 0 3px;

                    input {
                        background-color: transparent;
                    }
                }

                &.redMailAddress .mailShow {
                    // 不是邮件地址，标红
                    // color: #f00;
                    font-weight: bold;
                }
            }

            &::after {
                content: ".";
                display: block;
                height: 0;
                visibility: hidden;
                clear: both;
            }
        }

        //下拉动画
        .input-fade-enter-active {
            transition: all .3s ease;
        }

        .input-fade-enter {
            transform: translateY(-20px);
            opacity: 0;
        }
    }
}
