.zh-cn,
.zh-tw {
    .StartPage {
        position: absolute;
        width: 100%;
        height: 100%;
        .bgImg {
            position: absolute;
            max-height: 130%;
            min-height: 100%;
            min-width: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .mainBox {
            position: absolute;
            width: 660px;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .title {
            color: #fff;
            font-size: 32px;
        }
        .attach {
            margin-left: 20px;
            font-size: 24px;
        }
        .description {
            font-size: 14px;
            color: #fff;
            line-height: 20px;
            margin: 10px 0;
        }
        .searchBox {
            padding: 16px 30px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.5);
        }
        .tabBox {
            margin-bottom: 10px;
            color: #C0C4CC;
            user-select: none;
            .tabItem {
                cursor: pointer;
                margin-right: 40px;
                &:nth-last-of-type(1) {
                    margin-right: 0;
                }
                &.active {
                    color: #fff;
                }
            }
        }
        .searchBar {
            @h: 48px;
            @btnW: 80px;
            border-radius: 2px;
            overflow: hidden;
            position: relative;
            .iconfont {
                position: absolute;
                height: @h;
                width: @h;
                text-align: center;
                line-height: @h;
                color: #C0C4CC;
                left: 0;
                top: 0;
            }
            .btn {
                cursor: pointer;
                height: @h;
                color: #fff;
                line-height: @h;
                font-size: 14px;
                text-align: center;
                width: @btnW;
                background-color: #D0021B;
            }
            .input {
                padding-left: @h;
                height: @h;
                border: none 0;
                outline: none 0;
                width: calc(100% - @btnW);
                &::-webkit-input-placeholder {
                    color: #C0C4CC;
                }
            }
        }

    }
}