.en {
    .ArticleManage {
        .mainBody {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            left: 0;
            right: 0;
            .toolbar {
                background-color: #fff;
                height: 47px;
                line-height: 47px;
                .search {
                    width: 200px;
                }
                .button {
                    margin: 0 10px;
                }
            }
            .listBox {
                .operationBox {
                    .iconfont {
                        width: 24px;
                        height: 24px;
                        background: linear-gradient(135deg, #ff697c, #d0021b);
                        border-radius: 50%;
                        margin-left: 10px;
                        font-size: 12px;
                        line-height: 24px;
                        float: left;
                        color: #fff;
                        text-align: center;
                        cursor: pointer;
                        &:nth-of-type(3) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}