
.zh-cn,
.zh-tw{
    .ClientManagIndex{
        font-size: 12px;
        position: relative;
        height:100%;
        // border:1px solid red;
        // overflow-y: scroll;
        .ClientManagIndexBox{
            height:100%;
            position: relative;
            padding: 16px 16px 0;
            // border:11px solid red;
            .hover{
                cursor: pointer;
            }
            .topBox{
                background: white;
                min-width: 800px;
                width: 100%;
                border-top:0;
                z-index: 100;
                border:1px solid rgba(234,237,239,1);
                .screenMenu{
                    position: relative;
                    .fastMenu{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        z-index: 8;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background:rgba(255,255,255,.8);
                        .fastSeachClose{
                            position: absolute;
                            top: 50%;
                            margin-top: -8px;
                            right: 16px;
                            color: #909399;
                            font-weight: 400;
                        }
                        .fastSeach{
                            width:350px;
                            margin-left: -18%;
                            margin-top: -18px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                        }
                    }
                    .fastBox{
                        -webkit-filter: blur(2px);
                        filter: blur(2px);
                    }
                }
            }
            
            .setSelection{
                    position: absolute;
                    top: 16px;
                    right: 50px;
            }
            .customerSelection{
                text-align: center;
                .el-dialog__title{
                    font-size: 20px;
                }
                
                .moreCondition{
                    font-size: 14px;
                    color: #0099FF;
                }
                ul{
                    li{
                        height: 40px;
                        line-height: 40px;
                        text-align: left;
                        .setControl{
                            text-align: center;
                        }
                    }
                }
                .moreConditionList{
                    display: none;
                }
                .dialog-footer{
                    button{
                        width: 193px;
                        word-wrap: break-word;
                        font-size: 13px;
                        background: #69d0d1;
                        border: 0;
                    }
                }
            }
        }
    }
}