.en {
    .addPeople {
        padding: 0 10px;
        .el-form-item {
            margin-bottom: 0;
        }
        .input168 {
            width: 168px;
        }
        .input268 {
            width: 268px;
        }
        .listBox {
            width: 100%;
        }
        .contactTitle {
            color: RGBA(34, 34, 34, 1);
            height: 37px;
        }

        .dialogFooter {
            width: 100%;
            text-align: center;
            margin-top: 10px;
            button {
                width: 123px;
            }
        }
    }

}
