.zh-cn,
.zh-tw {
    .conditionItem {
        @red: #d0021b;
        .itemMain {
            position: relative;
            padding-left: 45px;
            line-height: normal;
            .indexFlag {
                position: absolute;
                left: 0;
                height: 32px;
                width: 32px;
                text-align: center;
                line-height: 32px;
                border-radius: 50%;
                font-size: 14px;
                color: #303133;
                background-color: #F5F4F5;
                border: 1px solid #DFE2E4;
            }
            .module,
            .field,
            .type {
                max-width: 120px;
                margin-right: 10px;
            }
            .type {
                max-width: 140px;
            }
            .paramBox {
                width: 200px;
                height: 32px;
                display: inline-block;
                border-radius: 3px;
                .controlItem {
                    max-width: 200px;
                }
            }
            .operateBox {
                overflow: hidden;
                position: absolute;
                right: -75px;
                .itemBtn {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    cursor: pointer;
                    &.deItemBtn {
                        color: #fff;
                    }
                    &.inItemBtn {
                        color: #fff;
                    }
                }
            }
        }
        .itemCalc {
            height: 40px;
            position: relative;
            .Btn {
                user-select: none;
                cursor: pointer;
                height: 24px;
                line-height: 24px;
                width: 24px;
                text-align: center;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 16px;
                background-color: #FCF2F3;
                transform: translate(-50%, -50%);
                font-size: 12px;
                color: @red;
            }
            &:before {
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                width: 1px;
                background-color: #dfe2e4;
                left: 16px;
                transform: translateX(-50%);
            }
        }
    }
}
.addBox,
.removeBox {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #D0021B;
    float: right;
    text-align: center;
    margin-right: 5px;
}