.zh-cn,
.zh-tw {
    .editGoods {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: white;
        color: #606266;
        .controlBox{
            height: 100%;
            border-radius:4px;
            position: relative;
            padding-top: 40px;
            .controlTitle{
                padding: 0 20px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
            .contentBox{
                overflow-y: auto;
                overflow-x: hidden;
                height: 100%;
                padding-bottom: 56px;
                .listBox{
                    max-width: 1194px;
                    padding:10px 20px 50px;
                    .contentTitle{
                        color: #303133;
                        height: 44px;
                        line-height: 44px;
                        .line{
                            height: 12px;
                            margin-right: 5px;
                            display: inline-block;
                            border-left: 4px solid #D0021B;
                            position: relative;
                            top: 1px;
                        }
                    }
                    .listBox1{
                        width: 100%;
                        display: inline-block;
                        line-height: 32px;
                    }
                    .listBox2{
                        width: 50%;
                        display: inline-block;
                        line-height: 32px;
                        vertical-align: bottom;
                    }
                    .strucList{
                        padding-left: 100px;
                        margin-bottom: 10px;
                        min-height: 36px;
                        position: relative;
                        line-height: 36px;
                        >.title{
                            position: absolute;
                            left: 0;
                        }
                        .strucListBox{
                            border: 1px solid #DFE2E4;
                            width: 878px;
                            .strucIdList{
                                height: 32px;
                                line-height: 32px;
                                border-bottom: 1px solid #DFE2E4; 
                                padding-left: 50px;
                            }
                            .strucIdList:last-child{
                                border: 0;
                            }
                        }
                    }
                }
                .el-form-item{
                    margin-bottom: 0;
                }
                .footer{
                    height: 56px;
                    line-height: 56px;
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 9;
                    background: white;
                    right: 0;
                    box-shadow: 0 0 10px rgba(0,0,0,0.3);
                
                }
            }
        }
    }
}