.zh-cn,
.zh-tw {
    .OperationRecord{
        padding: 15px;
        position: relative;
        .el-form{
            // border: 1px solid red;
            .el-form-item{
                margin-right: 20px;
            }
        }
    }
}