.zh-cn,
.zh-tw {
    .Schedule {
        //日程
        ul.moveList {
            height: 190px;
            padding: 0 0 10px;
            overflow: auto;
            >li {
                padding: 10px 15px 10px 15px;
                position: relative;
                font-size:12px;
                .hoverBtn {
                    display: none;
                    height: 24px;
                    line-height: 24px;
                    padding: 0 15px;
                    position: absolute;
                    top: 50%;
                    margin-top: -12px;
                    right: 0;
                    bottom: 0;
                    >span {
                        float: left;
                        margin-left: 10px;
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                        text-align: center;
                        border-radius: 50%;
                        .iconfont {
                            font-size: 18px;
                        }
                        &:hover {
                            cursor: pointer;
                            color: #d0021b;
                        }
                    }
                }
                .text {
                    // border:1px solid red;
                    display: inline-block;
                    width: 70%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    position: relative;
                    top: 2px;
                }
            }
            >li.newest::before {
                background-color: #d0021b;
            }
            >li:hover {
                background: #fafafa;
                cursor: default;
                .hoverBtn {
                    display: block;
                }
                .pull-right {
                    display: none;
                }
            }
            >li:last-child {
                border-bottom: none;
            }
        }
    }
}