.zh-cn,
.zh-tw {
    .Client {
        width: 100%;
        height: 100%;
        position: relative;
        .mainWindow {
            background: white;
            height: 100%;
            margin-left: 230px;
            position: relative;
        }
    }
}