.en {
    .OtEdit{
        input{
            width:150px;
            height: 28px;
            line-height: 28px;
            border: 1px solid #DFE2E4;
            padding: 0 4px;
            outline:none;
            border-radius: 3px;
            color: #222222;
            font-size: 12px;
            text-align: center;
        }
        /* 谷歌 */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }
        /* 火狐 */
        input{
            -moz-appearance:textfield;
        }
        input:focus{
            border: 1px solid #D0021B;
        }
    }
}