.zh-cn,
.zh-tw {
    .History {
        background-color: #ffffff;
        height: 100%;
        overflow-y: hidden;
        >.filter {
            background-color: #ffffff;
            height: 54px;
            margin-bottom: 1px;
            border-bottom: 1px #EAEDEF solid;
            position: relative;
            overflow: hidden;
            .dateTime{
                // width: 400px;
                font-size:14px;
                margin-top: 11px;
                float: left;
                margin-left: 20px;
            }
            >.pull-right {
                height: 54px;
                margin-right: 20px;
                .listItem{
                    // width: 50px;
                    padding: 0 10px;
                    height: 52px;
                    line-height: 52px;
                    text-align: center;
                    float: left;
                    cursor: pointer;
                }
                .action{
                    border-bottom: 2px rgb(224, 70, 88) solid;
                    color: rgb(224, 70, 88);
                }
            }
        }
        ul.msgList {
            position: relative;
            overflow-y: auto;
            >li {
                height: 53px;
                line-height: 53px;
                border-bottom: 1px solid #d1dbe5;
                position: relative;
                .selectItem{
                    // border:1px solid red;
                    position: absolute;
                    left: 9px;
                    display: none;
                }
                >.left {
                    padding-left: 30px;
                    padding-right: 130px; //word-wrap: break-word;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    >.time {
                        width: 75px;
                        display: inline-block;
                        margin-right: 51px;
                    }
                    >.status {
                        width: 25px;
                        display: inline-block;
                        margin-right: 40px;
                    }                    
                }
                >.right {
                    width: 45px;
                    height: 54px;
                    line-height: 54px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    display: none;
                    >span.icons {
                        display: inline-block;
                        margin-right: 15px;
                        width: 24px;
                        height: 24px;
                        background:linear-gradient(135deg,rgba(255,105,124,1),rgba(208,2,27,1));
                        line-height: 24px;
                        border-radius: 50%;
                        text-align: center;
                        color: #ffffff;
                        .icon-close {
                            font-size: 12px;
                            // font-weight: bold;
                        }
                        &:hover{
                            background:#d0021b;
                            cursor: pointer;
                        }
                    }
                }
            }
            >li:hover {
                background:#FCF2F3;
                // font-weight: bold;
                >.right, .selectItem{
                    display: block;
                }
            }
        }
        .paginationBox{
           // border:1px solid red;
           text-align: center;
           width: 100%;
           height:64px;
           margin: 0 auto;
           overflow: hidden;
           position: relative;
           .operation{
               height: 28px;
               line-height: 28px;
               position: absolute;
               left: 8px;
               top: 50%;
               margin-top: -15px;
               .btns{
                   margin-left: 20px;
                   >em{
                       display: inline-block;
                       width: 28px;
                       height: 28px;
                       line-height: 28px;
                       background:linear-gradient(135deg,rgba(255,105,124,1),rgba(208,2,27,1));
                       text-align: center;
                       color: #fff;
                       border-radius: 50%;
                       cursor: pointer;
                       &:hover{
                           background: #d0021b;
                       }
                   }
               }
           }
            .pagination{
                margin-top: 10px;
            }
        }
    }
}