@import '../../public-zh-cn.less'; //此类目录公共样式
.zh-cn,
.zh-tw {
    .ScheduleRemind {
        
        .addRemind {
            height: 30px;
        }
        .addRemindDialog {
            .arrow-down-empty {
                font-size: 24px;
                color: rgb(191, 203, 217);
                margin-left: 5px;
                cursor: pointer;
            }
            .arrow-down-empty:hover {
                font-size: 24px;
                color: #8391A5;
                margin-left: 5px;
                cursor: pointer;
            }
        }
    }
}