@import '../../../../public-zh-cn.less';
.zh-cn,
.zh-tw {
    .publicMailRuleSet {
        .mainBody {
            padding: 0 0 15px 0;
            background: rgba(0, 0, 0, 0);
            .headerShow {
                // height: 200px;
                background: rgba(255, 255, 255, 1);
                border-radius: 4px;
                padding: 20px 38px;
                .showItem {
                    margin-bottom: 24px;
                    .senderClass {
                        float: left;
                        margin-right: 11px;
                        // height: 32px;
                        background: rgba(192, 196, 204, 1);
                        border-radius: 3px;
                        color: rgba(255, 255, 255, 1);
                        line-height: 32px;
                        height: 32px;
                        font-size: 12px;
                        padding: 0 16px;
                       
                    }
                }
            }
            .bodyShow {
                margin-top: 10px;
                /*    position: absolute;
                top: 210px;
                bottom: 0;
                left: 0;
                right: 0; */
                background: rgba(255, 255, 255, 1);
                border-radius: 4px;
                .toolTab {
                    height: 52px;
                    line-height: 52px;
                    padding: 10px 14px;
                    .addRuleBtn {
                        width: 96px;
                        height: 32px;
                        border-radius: 3px;
                    }
                }
                .ruleTable {
                    /*  position: absolute;
                    top: 52px;
                    bottom: 0; */
                    .operationBox {
                        .iconfont {
                            margin-right: 10px;
                            color: #fff;
                            width: 24px;
                            height: 24px;
                            float: right;
                            background: linear-gradient(135deg, rgba(255, 105, 124, 1), rgba(208, 2, 27, 1));
                            border-radius: 12px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        &.notEdit {
                            .iconfont {
                                background: linear-gradient(135deg, #999999, #666666);
                            }
                        }
                    }
                }
            }
        }
        .loading {
            margin-top: 100px;
        }
    }
}
