.en {
    .Payment {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background: url(https://sf.fumamx.com/img/orig/5,05b02b000d18) repeat-x center top;
        .reg_logo {
            /* border:1px solid red; */
            width: 138px;
            height: 50px;
            line-height: 50px;
            position: absolute;
            left: 3%;
            top: 25px;
            z-index: 9;
            color: #fff;
            overflow: hidden;
        }
        .reg_logo i {
            font-size: 133px;
        }
        .reg_logo:hover {
            color: #eee;
        }
        .reg_img {
            width: 57%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: Center;
            background: url(https://sf.fumamx.com/img/orig/5,05b02b000d18) repeat-x center top;
            .slogan {
                // border: 1px solid #fff;
                position: absolute;
                width: 480px;
                height: 66px;
                top: 50%;
                margin-top: -300px;
                left: 50%;
                margin-left: -230px;
                text-align: center;
                font-size: 38px;
                color: #fff;
            }
        }
        .reg_img img {
            width: 666px;
        }
        .reg_box {
            width: 43%;
            background: #fff;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: Center;
            overflow: hidden;
            .reg_body {
                // border: 1px solid red;
                margin-top: -200px;
                width: 360px;
            }
        }
        .reg_box h1 {
            color: #d0021b;
            font-size: 32px;
            line-height: normal;
            margin-bottom: 20px;
            font-weight: normal;
            .pull-right {
                font-size: 14px;
                color: #909399;
                margin-top: 10px;
            }
        }
        .reg_box .copyright {
            // 版权
            position: absolute;
            left: 0;
            bottom: 30px;
            right: 0;
            text-align: center;
            color: #909399;
            a {
                color: #909399;
                &:hover {
                    color: #d0021b;
                }
            }
        }
        .logo {
            // border: 1px solid red;
            width: 200px;
            height: 55px;
            line-height: 55px;
            position: fixed;
            left: 47px;
            top: 22px;
            color: #fff;
            .iconfont {
                font-size: 130px;
            }
            &:hover {
                cursor: pointer;
                color: #eee;
            }
        }
        .copyright {
            // 版权
            position: absolute;
            left: 0;
            bottom: 30px;
            right: 0;
            text-align: center;
            color: #fff;
            a {
                color: #fff;
                &:hover {
                    color: #d0021b;
                }
            }
        }
        .product {
            width: 130px;
            height: 70px;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(208, 2, 27, 1); // padding-top:25px;
            // padding-left: 15px;
            line-height: 70px;
            text-align: center;
            /*水平居中*/
            position: relative;
            .hook {
                // background: red;
                position: absolute;
                top: 0;
                right: 0;
                height: 20px;
                line-height: 18px;
                width: 25px;
                color: #D0021B;
                text-align: right;
                padding-right: 1px;
                .iconfont {
                    font-size: 10px;
                    position: relative;
                    z-index: 2;
                    color: #fff
                }
                &:before {
                    content: '';
                    position: absolute;
                    right: 0;
                    border-width: 13px;
                    border-style: solid;
                    border-color: #D0021B #D0021B transparent transparent;
                }
            }
        }
        .product-title {
            width: 155px;
            height: 40px;
            font-size: 14px;
            color: rgba(48, 49, 51, 1);
            line-height: 20px;
        }
        .product-word {
            width: 66px;
            height: 22px;
            font-size: 16px;
            color: rgba(48, 49, 51, 1);
            line-height: 22px;
        }
        .endtime-word {
            padding-left: 10px;
            width: 178px;
            height: 20px;
            font-size: 12px;
            color: rgba(153, 153, 153, 1);
            line-height: 17px;
        }
        .year {
            width: 130px;
            height: 70px;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(224, 224, 224, 1); // padding-top:20px;
            // padding-left: 45px;
            text-align: center;
            /*水平居中*/
            line-height: 70px;
            /*行距设为与div高度一致*/
            float: left;
            cursor: pointer;
            font-size: 16px;
        }
        .year-selected {
            width: 130px;
            height: 70px;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(208, 2, 27, 1);
            text-align: center;
            /*水平居中*/
            line-height: 70px;
            /*行距设为与div高度一致*/
            float: left;
            font-size: 16px;
            position: relative;
            .hook {
                // background: red;
                position: absolute;
                top: 0;
                right: 0;
                height: 20px;
                line-height: 18px;
                width: 25px;
                color: #D0021B;
                text-align: right;
                padding-right: 1px;
                .iconfont {
                    font-size: 10px;
                    position: relative;
                    z-index: 2;
                    color: #fff;
                }
                &:before {
                    content: '';
                    position: absolute;
                    right: 0;
                    border-width: 13px;
                    border-style: solid;
                    border-color: #D0021B #D0021B transparent transparent;
                }
            }
        }
        .year-song {
            width: 44px;
            height: 17px;
            font-size: 12px;
            font-family: PingFangSC-Medium;
            color: rgba(255, 127, 44, 1);
            line-height: 24px;
        }
        .auth-title {
            width: 155px;
            height: 40px;
            font-size: 14px;
            color: rgba(48, 49, 51, 1);
            line-height: 20px;
        }
        .auth-count {
            width: 80px;
            height: 40px;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(224, 224, 224, 1);
            text-align: center;
            /*水平居中*/
            line-height: 40px;
            /*行距设为与div高度一致*/
            margin-right: 5px;
            float: left;
            font-size: 14px;
            cursor: pointer;
        }
        .authcount-select {
            width: 80px;
            height: 40px;
            text-align: center;
            /*水平居中*/
            line-height: 40px;
            /*行距设为与div高度一致*/
            margin-right: 5px;
            float: left;
            font-size: 14px;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(208, 2, 27, 1);
            position: relative;
            .hook {
                // background: red;
                position: absolute;
                top: 0;
                right: 0;
                height: 20px;
                line-height: 18px;
                width: 25px;
                color: #D0021B;
                text-align: right;
                padding-right: 1px;
                .iconfont {
                    font-size: 10px;
                    position: relative;
                    z-index: 2;
                    color: #fff;
                }
                &:before {
                    content: '';
                    position: absolute;
                    right: 0;
                    border-width: 13px;
                    border-style: solid;
                    border-color: #D0021B #D0021B transparent transparent;
                }
            }
        }
        .config-title {
            width: 155px;
            height: 40px;
            font-size: 14px;
            color: rgba(48, 49, 51, 1);
            line-height: 20px;
        }
        .config-word {
            font-size: 14px;
            color: rgba(144, 147, 153, 1);
        }
        .total-detail {
            width: 220px;
            height: 17px;
            font-size: 12px;
            color: rgba(96, 98, 102, 1);
            line-height: 17px;
            float: right;
            padding-top: 10px;
        }
        .total-price {
            width: 150px;
            height: 30px;
            font-size: 12px;
            color: rgba(102, 102, 102, 1);
            line-height: 30px;
            float: right;
        }
        .total-btn {
            width: 145px;
            height: 38px;
            background: rgba(208, 2, 27, 1);
            border-radius: 4px;
            float: right;
            text-align: center;
            /*水平居中*/
            cursor: pointer;
        }
        .total-btn-word {
            width: 145px;
            height: 38px;
            font-size: 14px;
            font-family: PingFangSC-Medium;
            color: rgba(255, 255, 255, 1);
            line-height: 38px;
        } //线下付款
        .offline-word {
            width: 286px;
            height: 48px;
            font-size: 14px;
            color: rgba(96, 98, 102, 1);
            line-height: 24px;
            margin-top: 15px;
        }
        .offline-bank-title {
            width: 155px;
            height: 40px;
            font-size: 14px;
            color: rgba(48, 49, 51, 1);
            line-height: 20px;
            margin-top: 20px;
            font-weight: bold;
        }
        .offline-table-title {
            width: 56px;
            height: 14px;
            font-size: 14px;
            color: rgba(144, 147, 153, 1);
            float: left;
        }
        .offline-table {
            width: 950px;
            height: 28px; // background:rgba(245,247,250,1); 
            line-height: 28px; // text-align:center; /*水平居中*/ 
        }
        .offline-remark-title {
            width: 155px;
            height: 40px;
            font-size: 14px;
            color: rgba(48, 49, 51, 1);
            line-height: 20px;
            margin-top: 20px;
            font-weight: bold;
        }
        .offline-remark {
            width: 476px;
            height: 76px;
            font-size: 14px;
            color: rgba(96, 98, 102, 1);
            line-height: 20px;
        }
        .year-recommend {
            width: 30px;
            height: 15px;
            background: rgba(255, 127, 44, 1);
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
        } // border: 1px solid red;
        // color: #666;
        >.title {
            text-align: center;
            height: 35px;
            margin-top: 130px;
            font-weight: bold;
            .Fuma {
                color: #CCCCCC;
                font-size: 30px;
            }
            .MX {
                color: #FF0000;
                font-size: 29px;
            }
        }
        >.payBox {
            // width: 800px;
            // margin: 10px auto;
            // box-shadow: 0px 0px 10px #ccc;
            // border-radius: 3px;
            // background-color: #fff;
            // padding: 5px 15px 15px;
            width: 570px;
            height: 355px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        >.onlinePay {
            height: 330px;
            background: rgba(255, 255, 255, 1);
            width: 670px;
            box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .offlineTab {
            line-height: 28px;
            padding: 0 15px;
            font-size: 14px;
            color: #333333;
            >table {
                margin: 10px 0;
            }
            table.accountMsg {
                border-collapse: collapse;
                td {
                    padding-right: 12px;
                }
            }
        }
        .currentConfig {
            td {
                padding: 5px 10px;
            }
            width:590px;
            height:105px;
            background:rgba(245, 245, 245, 1);
            border-radius:4px;
        }
    }
}