.en {
    .DeptCustDist {
        margin: auto 8px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        overflow: hidden;
        .workBody {
            height: 243px;
            background-color: #fff;
            position: relative;
            border-radius: 0 0 5px 5px;
            .lineTwo {
                border-bottom: none;
                .text-blue-light {
                    margin-top: 5px;
                }
                .el-col::after {
                    content: "";
                    width: 1px;
                    position: absolute;
                    top: 10px;
                    right: 0;
                    bottom: 1px;
                    background: #ddd;
                }
                .el-col:nth-child(3n)::after {
                    content: none;
                }
            } //客户分布
            .customerHow {
                padding: 8px 15px;
                height: 100%;
                position: relative;
                .numClass {
                    height: 30px;
                    line-height: 30px;
                }
                .content {
                    // border: 1px solid blue;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    ul.left {
                        box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.05);
                        width: 130px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        padding-top: 20px;
                        overflow: auto;
                        >li {
                            // -webkit-transition: background-color .3s ease;
                            // -moz-transition: background-color .3s ease;
                            // -o-transition: background-color .3s ease;
                            // transition: background-color .3s ease;
                            height: 28px;
                            line-height: 28px;
                            padding-left: 25px;
                            font-size: 12px;
                            border-left: 2px solid transparent;
                            margin-bottom: 4px;
                        }
                        >li.active,
                        >li:hover {
                            background: rgba(208, 2, 27, 0.05);
                            border-left: 2px solid #d0021b;
                            cursor: pointer;
                        }
                    }
                    .right {
                        // border:1px solid red;
                        min-height: 160px;
                        margin: 50px 0 0 138px;
                        text-align: center;
                    }
                }
            }
        }
    }
}