@import '../../public-en.less';
.en {
    .AccountSettings {
        overflow: auto;
        .mainBodyBox {
            position: absolute;
            width: 100%;
            top: 52px;
            bottom: 0;
            overflow-y: auto;
        }
    }
}